{% load static %}
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    {% include 'specialty_medical/orthopedics/main-head.html' %}
    <title>長安骨科微創手術中心 - 退化性關節炎治療 | 長安醫院 -骨科</title>    
    {% include 'GA_head.html' %}
</head>
<body>
    <!-- ▼▼▼ GA ▼▼▼ -->
    {% include 'GA_noscript.html' %}
    <!-- ▲▲▲ GA End ▲▲▲ -->
	
    <!-- ▼▼▼ Main-Content Start ▼▼▼ -->
    <!-- ■■■ Other Tools ■■■ -->
	{% include 'specialty_medical/orthopedics/other-tool.html' %}
    <div class="wrapper">
        <!-- ■■■ Logo、Navbar ■■■ -->
        <header>
			{% include 'specialty_medical/orthopedics/ortz-header.html' %}
        </header>
        <main>
            <!-- ■■■ Banner、bread-crumbs ■■■ -->
            <!-- <section>
                <div></div>
            </section> -->
            <!-- ■■■ News ■■■ -->
            <section class="container">

                <!-- 麵包屑 -->
                <div class="text-right font-16">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-end">
                            <li class="breadcrumb-item main_pencil font-weight-bold"></li>
                            <li class="breadcrumb-item surgical_in font-weight-bold"></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ department }} {{ doctor_name }}</li>
                        </ol>
                    </nav>
                </div>

                <!-- 標題 -->
                <div id="content_h">
                    <div class="onsale_heading">媒體報導</div>
					<hr class="my-2">
                </div>

                <div class="">	
                    <div class="d-flex justify-content-start">
                        <div class="p-2 title-bg mb-2 text-center fill-flex w-100">
                            <h4 class="cofe-word mb-0">醫師個人介紹</h4>
                        </div>
                    </div>
                    <div>
                        <div class="container py-2">
                            <div class="row">
                                <div class="col-lg-5 mb-3">
                                    <div class="d_img_div doctor_wh">
                                        <img src="{{ MEDIA_URL }}department/img/{{ doctor_img }}" title="{{ department }}-{{ doctor_name }}" alt="{{ department }}-{{ doctor_name }}">
                                    </div>
                                    <div class="about-text cofe-word mt-4 text-center">
                                        <h4>{{ doctor_name }}</h4>
                                        <div class="px-4 text-justify gy-word font-18">
                                            <p>{{ doctor_info|safe }}</p>
                                        </div>
                                        {% if not disable_X %}
                                        <div>
                                            <button type="button" class="group-btn yellow giant px-4 py-2 m-0 rounded-0" data-toggle="modal" data-target="#stop_time">停休診時間</button>
                                            <a href="/A006_Online_Booking_2_1/?A006_userid={{ docno }}&A006_sename={{ department }}" target="_blank">
                                                <button type="button" class="group-btn yellow giant px-4 py-2 m-0 rounded-0">網路掛號</button>
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>

                                </div>
                                <div class="col-lg-7">
                                    <div>
                                        <div class="caption">專長</div>
                                        <div class="px-1">
                                            <ul class="list-bullets font-18 mt-3">
                                                {% for e in doctor_e %}
                                                    <!-- ===== 單位維護區 start ===== -->
                                                    <li>{{ e }}</li>
                                                    <!-- ===== 單位維護區 end ===== -->
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="caption">學經歷</div>
                                        <div class="px-1">
                                            <ul class="list-bullets font-18 mt-3">
                                                {% for a in doctor_a %}
                                                    <!-- ===== 單位維護區 start ===== -->
                                                    <li>{{ a }}</li>
                                                    <!-- ===== 單位維護區 end ===== -->
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>													
                            </div>													
                        </div>
                    </div>
                    {% if in_zdata_i != 0 %}
                        <div class="caption_noline text-center">相關文章</div>
                        <div class="list-group list-group-flush">
                            {% for mmm,xxx,ppp in in_zdata %}
                            <div class="media_new">
                                <div class="border-bottom px-3 pt-3 pb-2">
                                    <div>
                                        <h5 class="ell_two">
                                            <a href="#" data-toggle="modal" data-target="#M-{{ mmm.0 }}">{{ mmm.3 }}</a>
                                        </h5>														
                                        <div class="single_ell text-muted">
                                            {{ xxx }}
                                        </div>														
                                        <div class="text-right mr-2 mb-0 text-date">
                                            <small>{{ mmm.7|cut:".txt" }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="row mt-3">
                                <div class="col-12 d-flex justify-content-center">
                                    <ul class="pagination">
                                        <li class="page-item">
                                           <a class="page-link" href="?page=1&{{ dorp }}=&{{ porn }}=1">
                                            <i class="fas fa-angle-double-left"></i>
                                           </a>
                                        </li>
                                        {% if in_contacts_2.has_previous %}
                                            <li class="active">
                                                <a class="page-link" href="?page={{ in_contacts_2.previous_page_number }}&{{ dorp }}=&{{ porn }}=1">
                                                    <i class="fas fa-angle-left"></i>
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if in_paginator_2.has_previous_more %}
                                            <li class="page-item"><a class="page-link" href="?page=1&{{ dorp }}=&{{ porn }}=1">{{ i }}">1</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:viod(0);">...</a></li>
                                        {% endif %}

                                        {% for i in in_paginator_2.previous_range %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ i }}&{{ dorp }}=&{{ porn }}=1">{{ i }}</a>
                                            </li>
                                        {% endfor %}

                                        <li class="page-item active"><a class="page-link">{{ in_paginator_2.number }}</a></li>

                                        {% for i2 in in_paginator_2.next_range %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ i2 }}&{{ dorp }}=&{{ porn }}=1">{{ i2 }}</a>
                                            </li>
                                        {% endfor %}

                                        {% if in_paginator_2.has_next_more %}
                                            <li class="page-item"><a class="page-link" href="javascript:viod(0);">...</a></li>
                                            <li class="page-item"><a class="page-link" href="?page={{ in_paginator_2.num_pages }}&{{ dorp }}=&{{ porn }}=1">{{ in_paginator_2.num_pages }}</a></li>
                                        {% endif %}

                                        {% if in_contacts_2.has_next %}
                                            <li class="active">
                                                <a class="page-link" href="?page={{ in_contacts_2.next_page_number }}&{{ dorp }}=&{{ porn }}=1">
                                                    <i class="fas fa-angle-right"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ in_paginator_2.num_pages }}&{{ dorp }}=&{{ porn }}=1">
                                                <i class="fas fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if message_lists_1_i != 0 %}
                        <div class="caption_noline text-center">相關影音</div>
                        <style>
                            .slick-track{
                                margin-left: initial;
                                margin-right: initial;
                            }
                        </style>
                        <div class="doctor_mov">
                            {% for m in message_lists_1 %}
                            <div>
                                <div class="spacing_mp">
                                    <a href="#" data-toggle="modal" data-target="#D1-{{m.index}}">
                                        <div class="media_new info_card transform_result">
                                            <div>
                                                <img class="" src="{{m.youtube_image}}" alt="">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="py-3 text-center border-top">
                        <button type="button" class="btn btn-warning btn-lg rounded-0" onclick="window.location.href='/A001_department_part/';"> 回本科首頁</button>
                        <button type="button" class="btn btn-outline-warning btn-lg rounded-0" onclick="window.location.href='/A001_dr_search/';">回醫師查詢</button>
                    </div>

                </div>


            </section>
        </main>
    </div>
    <!-- ▲▲▲ Main-Content End ▲▲▲ -->

    <!-- ▼▼▼ Footer Start ▼▼▼ -->
    {% include 'footer.html' %}
    <!-- ▲▲▲ Footer End ▲▲▲ -->

    <!-- ▼▼▼ Modal Start ▼▼▼ -->

    <!-- ▲▲▲ Modal End ▲▲▲ -->

    <!-- ※※※ JS Tool Start ※※※ -->
    <!-- ※※※ JS Tool End ※※※ -->
</body>
</html>