# === 核心設定 ===
DEBUG=True
SECRET_KEY=your_secret_key_here

# === 資料庫設定 (請擇一使用，將不需要的行首加上 #) ===

# Oracle(測試區)
CASE_PLSQL_HOST=host_ip
CASE_PLSQL_DB=db_name
CASE_PLSQL_USER=username
CASE_PLSQL_PWD=password

# Oracle(正式區)
# CASE_PLSQL_HOST=host_ip
# CASE_PLSQL_DB=db_name
# CASE_PLSQL_USER=username
# CASE_PLSQL_PWD=password

# MSSQL 66.146(測試區)
MSSQL_66_146_HOST=host_ip
MSSQL_66_146_DB=db_name
MSSQL_66_146_USER=username
MSSQL_66_146_PWD=password

# MSSQL 66.146(正式區)
# MSSQL_66_146_HOST=localhost
# MSSQL_66_146_DB=db_name
# MSSQL_66_146_USER=username
# MSSQL_66_146_PWD=password

# MSSQL 66.147
MSSQL_66_147_HOST=host_ip
MSSQL_66_147_DB=db_name
MSSQL_66_147_USER=username
MSSQL_66_147_PWD=password

# MSSQL 200.211
MSSQL_200_211_HOST=host_ip
MSSQL_200_211_DB=db_name
MSSQL_200_211_USER=username
MSSQL_200_211_PWD=password

# MSSQL 51.45
MSSQL_51_45_HOST=host_ip
MSSQL_51_45_DB=db_name
MSSQL_51_45_USER=username
MSSQL_51_45_PWD=password

# MSSQL 66.149
MSSQL_66_149_HOST=host_ip
MSSQL_66_149_DB=db_name
MSSQL_66_149_USER=username
MSSQL_66_149_PWD=password

# Email Settings
EMAIL_HOST=mail.everanhospital.com.tw
EMAIL_PORT=25
EMAIL_HOST_USER=smsautomail@everanhospital.com.tw
EMAIL_HOST_PASSWORD=password
EMAIL_USE_TLS=True
