<!doctype html>
<html lang="zh-TW">
<head>
	{% include 'Public_head.html' %}
	<title>本科介紹_長安醫院檢驗科</title>
	<link rel="stylesheet" href="/Public/css/Laboratory.css">
	{% include 'GA_head.html' %}
</head>

<body>
	{% include 'GA_noscript.html' %}
	<div class="wrapper L_sub_main_bg">
		<!-- ======= 本頁 Modal Area ======= -->
		<!-- ======= 本頁 Modal Area End ======= -->
		<!-- ======= navbar ======= -->
		{% include 'MedicalSupport/Laboratory/header_labor.html' %}
		<!-- ======= navbar End ======= -->
		<!-- ======= main-content ======= -->
		<main class="pt-5 pb-3">
			<div class="container py-3">
				<div class="row">
					<!-- ※※※ 側邊選單 ※※※ -->
					<div class="col-lg-3 mb-2">
						<div class="menu_sidebar">
							<aside>
								{% include 'MedicalSupport/Laboratory/labor-menu.html' %}
							</aside>
						</div>
					</div>
					<!-- ※※※ 側邊選單 End ※※※ -->

					<!-- ※※※ 功能內容 ※※※ -->
					<div class="col-lg-9">
						<article>
							<div class="content">
								<!-- 麵包屑 -->
								<div class="text-right font-16">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb justify-content-end">											
											<li class="breadcrumb-item main_pencil"></li>
											<li class="breadcrumb-item labor_pencil"></li>
											<li class="breadcrumb-item active" aria-current="page">本科介紹</li>
										</ol>
									</nav>		
								</div>
								<!-- 內容區 -->
								<div class="bg-white rounded panel-shadow title_wrap">
									<!-- 標題 -->
									<section id="content_h">
										<div class="onsale_heading">本科介紹</div>
										<hr class="my-2">
									</section>
									<!-- 細節 -->
									<section id="content_body">
										<div class="row">
											<div class="col-12">
												<div class="intro_banner"></div>
											</div>
										</div>									
										<div class="col-12 mt-4">
											<div class="p-2 title-bg d-inline-flex mb-2">
												<h4 class="cofe-word mb-0">關於檢驗科</h4>
											</div>
											<p class="word-Indent font-18">檢驗科秉持醫院設立之宗旨，時時刻刻為守護社區健康，永遠與社區民眾同在。面對未來人口老化、照護人力不足、醫療科技快速發展與大數據時代來臨，檢驗科全體同仁追隨醫院政策「挑戰、創新、卓越」的精神，並稟持本科之品質政策「以『 專業嚴謹的態度全人醫療的精神 』，提供準確、快速、高品質的檢驗服務 」。努力打造優質社區醫院之檢驗服務，致力提升醫療檢驗水準，滿足社區民眾對檢驗需求與期望，提供臨床精準、快速、專業的輔助診斷之檢驗數據。</p>
		
											<p class="word-Indent font-18">本科內部組織依作業性質分成門診鏡檢、血液血庫、生化免疫及行政事務。門診鏡檢主要負責門診病人採檢、尿液、糞便及體液常規檢驗、心電圖檢查、肺功能檢查等；血液血庫提供血液學檢驗及血庫作業如血型、備血合血檢驗；生化免疫負責生化檢驗、藥物濃度、急性心肌梗塞、酒精濃度、血液氣體分析、甲狀腺功能、病毒肝炎血清標記、腫瘤標記及梅毒血清篩檢等檢驗；行政事務包含品質管理及相關庶務等行政作業。本科於2021年6月成為衛生福利部疾病管制署嚴重特殊傳染性肺炎指定檢驗機構，提供SARS-CoV-2分子檢驗。為滿足臨床對檢驗項目的需求，本科也提供檢驗項目委外代檢服務。</p>
		
											<p class="word-Indent font-18">為提供民眾及滿足臨床對檢驗之需求，本科提供三班全年無休的檢驗服務。引進全自動化的儀器，如自動化生化分析儀、自動化血球計數儀、血液凝固分析儀、尿液分析儀及自動化免疫分析儀等，本科於2018年通過ISO 15189醫學實驗室認證，透過持續性檢驗品質監控及管理以提升檢驗品質，確保病人安全。</p>
		
										</div>
										<div class="col-12 mt-4">
											<div class="p-2 title-bg d-inline-flex mb-2">
												<h4 class="cofe-word mb-0">大事記</h4>
											</div>
											<div class="px-2">
												<ul class="list-bullets">
													<li class="mb-1">2015年11月醫院試營運</li>
													<li class="mb-1">2016年1月醫院正式開幕</li>
													<li class="mb-1">2018年5月通過ISO 15189醫學實驗室認證</li>
													<li class="mb-1">2019年8月實驗室主管異動</li>
													<li class="mb-1">2021年3月實驗室主管異動</li>
													<li class="mb-1">2021年6月通過衛生福利部疾病管制署嚴重特殊傳染性肺炎指定檢驗機構</li>
													<li class="mb-1">2021年11月通過ISO 15189醫學實驗室第一次延展認證</li>
													<li class="mb-1">2023年7月啟用自動尿沉渣影像分析儀及檢驗中繼軟體</li>
													<li class="mb-1">2023年8月啟用自動化生化免疫複合機</li>
													<li class="mb-1">2023年8月完成ISO 15189醫學實驗室監督評鑑及檢驗方法異動現場評鑑</li>
													<li class="mb-1">2024年7月進行ISO 15189醫學實驗室第二次延展認證</li>
												</ul>
											</div>
										</div>																		
									</section>
								</div>
								<!-- 內容區 End -->
							</div>
						</article>
					</div>
					<!-- ※※※ 功能內容 End ※※※ -->
				</div>		  
			</div>
		</main>
		<!-- ======= main End ======= -->
	</div>
	<!-- ======= footer ======= -->
	{% include 'footer.html' %}
	<!-- ======= Footer End ======= -->

	<!-- ======= js 套件區 ======= -->
	<!-- ======= js 套件區 End ======= -->
</body>

</html>