<!-- ※※※ Web Head (meta/OG/GA) Start ※※※ -->
{% extends "Breast_Care_Center/breast-base.html" %}

{% block title %}醫師介紹一覽 | 長安醫院-全方位乳房中心{% endblock %}
{% block title_1 %}醫師介紹一覽 | 長安醫院-全方位乳房中心{% endblock %}
{% block meta_description %}「長安醫院-全方位乳房中心」專業團隊涵蓋各領域資深主治醫師，歡迎點閱詳細資訊。{% endblock %}
{% block og_title %}醫師介紹一覽 | 長安醫院-全方位乳房中心{% endblock %}
{% block og_description %}「長安醫院-全方位乳房中心」專業團隊涵蓋各領域資深主治醫師，歡迎點閱詳細資訊。{% endblock %}

<!-- ※※※ Web Head (meta/OG/GA) End ※※※ -->

{% load static %}
<!-- ※※※ Web Content Start ※※※ -->
{% block content %}
    <!-- ▼▼▼ GA ▼▼▼ -->
    {% include 'GA_noscript.html' %}
    <!-- ▲▲▲ GA End ▲▲▲ -->

    <!-- ▼▼▼ Main-Content Start ▼▼▼ -->
    <div class="wrapper">
        <!-- ■■■ Logo、Navbar ■■■ -->
        <header>
			{% include 'Breast_Care_Center/breast-header.html' %}
        </header>
        {% spaceless %}
        <!-- <main style="background-image: url(/Public/html/specialty_medical/img/pattern01.svg);background-color: transparent;"> -->
        <main>
            <!-- ■■■ Banner、Bread-crumbs ■■■ -->
            <section class="top-banner-grid">
                <div class="page-banner">
                    <div class="page-banner-inner fade-in-card">
                        <!-- (1)、Title -->
                        <div class="page-banner-title-div">
                            <div class="page-banner-title">醫師陣容</div>
                            <div class="page-banner-title-en">Medical Team</div>
                        </div>
                        <!-- (2)、Bread-crumbs -->
                        <div>
                            <ul class="bc-nav">
                                <li><a href="{% url 'breast_home' %}"><i class="fas fa-home"></i> 首頁</a></li>
                                <li>醫師陣容</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ■■■ Doctors List ■■■ -->
            <!-- <section class="main-bg"> -->
            <section>
                <div class="doctors-area section-grid">
                    <ul class="row mb-0 no-gutters">
                        {% for doctor in doctors %}
                        <li class="fade-in-card col-md-6 col-xl-6">

                            <div class="d-flex flex-wrap grad1-border mx-2 shadow">
                                <div class="img grad1">
                                    {% if doctor.image_webp %}
                                        <img src="/media/{{ doctor.image_webp }}" alt="{{ doctor.name }} 醫師照片" loading="lazy">
                                    {% elif doctor.image %}
                                        <img src="/media/department/img/{{ doctor.image }}" alt="{{ doctor.name }} 醫師照片" loading="lazy">
                                    {% endif %}
                                </div>
                                <div class="doc-info">
                                    <div class="doc-tilte">
                                        <span class="doctor-name">{{ doctor.name }} </span>
                                        <span class="job-title">{{ doctor.job_title }} </span>
                                    </div>
                                    <div class="detail">
                                        <p>{{ doctor.expertise|truncatechars:100 }}</p>
                                        <!-- <p>{{ doctor.expertise }}</p> -->
                                    </div>
                                    <div class="btnn-groups">
                                        <div>
                                            <a href="{% url 'breast_doctor_profile' doctor.employee_id %}" class="btnn" title="{{ doctor.name }} 醫師-詳細介紹">
                                                <i class='far fa-id-card'></i><br class="d-lg-none"><span> 詳細資料</span>
                                            </a>
                                        </div>
                                        <div>
                                            <button class="open-stop-modal btnn brown" data-id="{{ doctor.employee_id }}" data-name="{{ doctor.name }}" title="{{ doctor.name }} 醫師-停休診時間">
                                                <i class='far fa-calendar-times'></i><br class="d-lg-none"><span> 停休診時間</span>
                                            </button>
                                        </div>
                                        <div>
                                            <a class="btnn green" href="/A006_Online_Booking_2_1/?A006_userid={{ doctor.employee_id }}&A006_sename=乳房外科" target="_blank" title="{{ doctor.name }} 醫師-網路掛號">
                                                <i class="fas fa-notes-medical"></i><br class="d-lg-none"><span> 網路掛號</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </main>
        {% endspaceless %}
    </div>
    <!-- ▲▲▲ Main-Content End ▲▲▲ -->

    <!-- ▼▼▼ Footer Start ▼▼▼ -->
    {% include 'footer-2.html' %}
    <!-- ▲▲▲ Footer End ▲▲▲ -->
{% endblock %}
<!-- ※※※ Web Content End ※※※ -->


<!-- ※※※ Extra CSS Start ※※※ -->
{% block extra_css %}
{% endblock %}
<!-- ※※※ Extra CSS End ※※※ -->


<!-- ※※※ Extra JS Start ※※※ -->
{% block extra_js %}
<script src="{% static 'apps/breast_care_center/js/b-doctor-list-use.js' %}"></script>
{% endblock %}
<!-- ※※※ Extra JS End ※※※ -->
