<!-- ※※※ Web Head (meta/OG/GA) Start ※※※ -->
{% extends "Breast_Care_Center/breast-base.html" %}

{% block title %}影音專區 | 長安醫院-全方位乳房中心{% endblock %}
{% block title_1 %}影音專區 | 長安醫院-全方位乳房中心{% endblock %}
{% block og_title %}影音專區 | 長安醫院-全方位乳房中心{% endblock %}
{% block meta_description %}「長安醫院全方位乳房中心」影音專區，分享乳房健康衛教知識與病患真實經驗，由醫師講解重要資訊，陪伴您了解乳房檢查與照護方式，安心做好日常保健。{% endblock %}
{% block og_description %}「長安醫院全方位乳房中心」影音專區，分享乳房健康衛教知識與病患真實經驗，由醫師講解重要資訊，陪伴您了解乳房檢查與照護方式，安心做好日常保健。{% endblock %}

<!-- ※※※ Web Head (meta/OG/GA) End ※※※ -->

{% load static %}
<!-- ※※※ Web Content Start ※※※ -->
{% block content %}
    <!-- ▼▼▼ GA ▼▼▼ -->
    {% include 'GA_noscript.html' %}
    <!-- ▲▲▲ GA End ▲▲▲ -->

    <!-- ▼▼▼ Main-Content Start ▼▼▼ -->
    <div class="wrapper">
        <!-- ■■■ Logo、Navbar ■■■ -->
        <header>
			{% include 'Breast_Care_Center/breast-header.html' %}
        </header>
        {% spaceless %}
        <main>
            <!-- ■■■ Banner、bread-crumbs ■■■ -->
            <section class="top-banner-grid">
                <div class="page-banner">
                    <div class="page-banner-inner fade-in-card">
                        <!-- (1)、Title -->
                        <div class="page-banner-title-div">
                            <div class="page-banner-title">影音專區</div>
                            <div class="page-banner-title-en">Health Films</div>
                        </div>
                        <!-- (2)、Bread-crumbs -->
                        <div>
                            <ul class="bc-nav">
                                <li><a href="{% url 'breast_home' %}"><i class="fas fa-home"></i> 首頁</a></li>
                                <li>影音專區</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ■■■ Health-Films ■■■ -->
            <section class="main-bg">
                <div class="section-grid health-films">
                    <!-- (1)、Health-Films -->
                    <div id="video-list" class="row"></div>
                    <!-- (2)、Pagination -->
                    <div>
                        <nav>
                            <ul id="pagination" class="pagination justify-content-center mt-4"></ul>
                        </nav>
                    </div>                    
                    <!-- (3)、Modal -->
                </div>
            </section>
        </main>
        {% endspaceless %}
    </div>
    <!-- ▲▲▲ Main-Content End ▲▲▲ -->

    <!-- ▼▼▼ Footer Start ▼▼▼ -->
    {% include 'footer-2.html' %}
    <!-- ▲▲▲ Footer End ▲▲▲ -->

    <!-- ▼▼▼ Modal Start ▼▼▼ -->
    <!-- ▲▲▲ Modal End ▲▲▲ -->
{% endblock %}
<!-- ※※※ Web Content End ※※※ -->


<!-- ※※※ Extra CSS Start ※※※ -->
{% block extra_css %}
{% endblock %}
<!-- ※※※ Extra CSS End ※※※ -->


<!-- ※※※ Extra JS Start ※※※ -->
{% block extra_js %}
<script src="{% static 'apps/breast_care_center/js/b-film-modal.js' %}"></script>
<script src="{% static 'apps/breast_care_center/js/breast-films.js' %}"></script>
{% endblock %}
<!-- ※※※ Extra JS End ※※※ -->
