<!-- ※※※ Web Head (meta/OG/GA) Start ※※※ -->


{% extends "Breast_Care_Center/breast-base.html" %}


{% block title %}{{ title }} - 衛教園地-全方位乳房中心｜{{ block.super }}{% endblock %}
{% block meta_description %}長安醫院-全方位乳房中心衛教園地：{{ title }}{% endblock %}
{% block og_title %}{{ title }} - 衛教園地-全方位乳房中心｜{{ block.super }}{% endblock %}
{% block og_description %}長安醫院-全方位乳房中心衛教園地：{{ title }}{% endblock %}


<!-- ※※※ Web Head (meta/OG/GA) End ※※※ -->


{% load static %}
<!-- ※※※ Web Content Start ※※※ -->
{% block content %}
    <!-- ▼▼▼ GA ▼▼▼ -->
    {% include 'GA_noscript.html' %}
    <!-- ▲▲▲ GA End ▲▲▲ -->

    <!-- ▼▼▼ Main-Content Start ▼▼▼ -->

    <div class="wrapper">

        <!-- ■■■ Logo、Navbar ■■■ -->


        <header>


			{% include 'Breast_Care_Center/breast-header.html' %}


        </header>


        {% spaceless %}


        <main>


            <!-- ■■■ Banner、bread-crumbs ■■■ -->


            <section class="top-banner-grid">


                <div class="page-banner">


                    <div class="page-banner-inner fade-in-card">


                        <!-- (1)、Title -->


                        <div class="page-banner-title-div">


                            <h1 class="page-banner-title">{{ title }}</h1>


                            <!-- <div class="page-banner-title-en">Media Reports</div> -->


                        </div>


                        <!-- (2)、Bread-crumbs -->


                        <div>


                            <ul class="bc-nav">


                                <li><a href="{% url 'breast_home' %}"><i class="fas fa-home"></i> 首頁</a></li>


                                <li><a href="{% url 'breast_edu' %}">衛教園地</a></li>


                                <li>{{ title }}</li>


                            </ul>


                        </div>


                    </div>


                </div>


            </section>


            <!-- ■■■ Edu-Articles ■■■ -->


            <section class="section-grid">


                <div class="row justify-content-center">


                    <div class="col-xl-9">


                        <article id="edu-article" class="article_border p-4 my-3 fade-in-card">


                        {% if is_txt %}


                            <div class="article-body">


                                <h2 class="article_h">{{ title }}</h2>


                            {% for block in blocks %}


                                {% if block.type == 'h3' %}


                                    <h3 class="{{ block.class }}">{{ block.text }}</h3>


                                {% elif block.type == 'h4' %}


                                    <h4 class="{{ block.class }}">{{ block.text|safe }}</h4>


                                {% elif block.type == 'p' %}


                                    <p class="{{ block.class }}">{{ block.text|safe }}</p>


                                {% elif block.type == 'img' %}


                                    <div class="{{ block.class }}">


                                        <img src="/media/{{ block.edu_article_src }}" alt="{{ title }}" loading="lazy">


                                    </div>


                                {% elif block.type == 'div' %}


                                    <div class="{{ block.class }}">{{ block.text|safe }}</div>


                                {% elif block.type == 'blockquote' %}


                                    <div class="{{ block.class }}">


                                        <div class="quo-txt">{{ block.text|safe }}</div>


                                        <div class="logotxt">長安醫院，關心你</div>


                                    </div>


                                {% endif %}


                            {% endfor %}


                            </div>


                        {% endif %}


                        </article>


                    </div>


                    <div class="col-xl-3">


                        <div>


                            <h2 class="title-03 title-03-under-line fade-in-card"><i class="fas fa-book-open"></i> 延伸閱讀</h2>


                        </div>


                        <div id="random-breast-edus" class="row">


                        </div>


                    </div>


                </div>


            </section>


        </main>


        {% endspaceless %}


    </div>





    <!-- ▲▲▲ Main-Content End ▲▲▲ -->





    <!-- ▼▼▼ Footer Start ▼▼▼ -->


    {% include 'footer.html' %}


    <!-- ▲▲▲ Footer End ▲▲▲ -->


{% endblock %}


<!-- ※※※ Web Content End ※※※ -->








<!-- ※※※ Extra CSS Start ※※※ -->


{% block extra_css %}


{% endblock %}


<!-- ※※※ Extra CSS End ※※※ -->








<!-- ※※※ Extra JS Start ※※※ -->


{% block extra_js %}


<script>


    window.eduTitle = "{{ title|escapejs }}";


    window.eduImages = {{ images|safe }};


</script>


<script src="{% static 'apps/breast_care_center/js/breast-edu-detail.js' %}"></script>


<script src="{% static 'apps/breast_care_center/js/b-sidebar-random-articles.js' %}"></script>


{% endblock %}


<!-- ※※※ Extra JS End ※※※ -->


