{% load static %}
<!doctype html>
<html lang="zh-TW">
<head>
	{% include 'Public_head.html' %}
	<title>AED 新聞媒體_長安醫院急診醫學科</title>
	<link rel="stylesheet" href="{% static 'common/css/ER.css' %}">
	{% include 'GA_head.html' %}	
</head>

<body>
	{% include 'GA_noscript.html' %}
	<div class="wrapper L_sub_main_bg">
		<!-- ======= 本頁 Modal Area ======= -->		
		<!-- video1 -->
		<div class="modal fade" id="video1" tabindex="-1" role="dialog" aria-labelledby="video1_content" aria-modal="true">
			<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
				<div class="modal-content">
					<div class="modal-header og-bg line_break">                
						<h5 class="ell_two modal-title beige-word font-24 font-weight-bold" id="video01">
							<span class="text-primary"></span>13好撒馬利亞人隊
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body cofe-word font-18 article_border">                
						<div class="col-12 px-0">
							<video width="400" controls>
								<source src="{{ MEDIA_URL }}video/ER/13好撒馬利亞人隊.mp4" type="video/mp4">
							</video>
						</div>       
					</div>
				</div>
			</div>
		</div>

		<!-- video2 -->
		<div class="modal fade" id="video2" tabindex="-1" role="dialog" aria-labelledby="video2_content" aria-modal="true">
			<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
				<div class="modal-content">
					<div class="modal-header og-bg line_break">                
						<h5 class="ell_two modal-title beige-word font-24 font-weight-bold" id="video02">
							<span class="text-primary"></span>「聽見 AED」科技救命 提供存活率
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body cofe-word font-18 article_border">                
						<div class="col-12 px-0">
							<video width="400" controls>
								<source src="{{ MEDIA_URL }}video/ER/民視-「聽見 AED」科技救命 提供存活率.mp4" type="video/mp4">
							</video>
						</div>       
					</div>
				</div>
			</div>
		</div>

		<!-- video3 -->
		<div class="modal fade" id="video3" tabindex="-1" role="dialog" aria-labelledby="video3_content" aria-modal="true">
			<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
				<div class="modal-content">
					<div class="modal-header og-bg line_break">                
						<h5 class="ell_two modal-title beige-word font-24 font-weight-bold" id="video03">
							<span class="text-primary"></span>聽見 AED 警報器搭APP救護車前施救 提高存活率
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body cofe-word font-18 article_border">                
						<div class="col-12 px-0">
							<video width="400" controls>
								<source src="{{ MEDIA_URL }}video/ER/民視新聞報導-聽見 AED警報器搭APP救護車前施救 提高存活率.MP4" type="video/mp4">
							</video>
						</div>       
					</div>
				</div>
			</div>
		</div>

		<!-- video4 -->
		<div class="modal fade" id="video4" tabindex="-1" role="dialog" aria-labelledby="video4_content" aria-modal="true">
			<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
				<div class="modal-content">
					<div class="modal-header og-bg line_break">                
						<h5 class="ell_two modal-title beige-word font-24 font-weight-bold" id="video04">
							<span class="text-primary"></span>第一代工研院發表簡單介紹
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body cofe-word font-18 article_border">                
						<div class="col-12 px-0">
							<video width="400" controls>
								<source src="{{ MEDIA_URL }}video/ER/第一代工研院發表簡單介紹.mp4" type="video/mp4">
							</video>
						</div>       
					</div>
				</div>
			</div>
		</div>

		<!-- video5 -->
		<div class="modal fade" id="video5" tabindex="-1" role="dialog" aria-labelledby="video5_content" aria-modal="true">
			<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
				<div class="modal-content">
					<div class="modal-header og-bg line_break">                
						<h5 class="ell_two modal-title beige-word font-24 font-weight-bold" id="video05">
							<span class="text-primary"></span>第二代安妮怎麼了（短篇）
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body cofe-word font-18 article_border">                
						<div class="col-12 px-0">
							<video width="400" controls>
								<source src="{{ MEDIA_URL }}video/ER/第二代安妮怎麼了（短版）.mp4" type="video/mp4">
							</video>
						</div>       
					</div>
				</div>
			</div>
		</div>

		<!-- video6 -->
		<div class="modal fade" id="video6" tabindex="-1" role="dialog" aria-labelledby="video6_content" aria-modal="true">
			<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
				<div class="modal-content">
					<div class="modal-header og-bg line_break">                
						<h5 class="ell_two modal-title beige-word font-24 font-weight-bold" id="video06">
							<span class="text-primary"></span>第二代安妮怎麼了介紹影片
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body cofe-word font-18 article_border">                
						<div class="col-12 px-0">
							<video width="400" controls>
								<source src="{{ MEDIA_URL }}video/ER/第二代安妮怎麼了介紹影片.mp4" type="video/mp4">
							</video>
						</div>       
					</div>
				</div>
			</div>
		</div>

		<!-- video7 -->
		<div class="modal fade" id="video7" tabindex="-1" role="dialog" aria-labelledby="video7_content" aria-modal="true">
			<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
				<div class="modal-content">
					<div class="modal-header og-bg line_break">                
						<h5 class="ell_two modal-title beige-word font-24 font-weight-bold" id="video07">
							<span class="text-primary"></span>第二代警報器安裝誠品
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body cofe-word font-18 article_border">                
						<div class="col-12 px-0">
							<video width="400" controls>
								<source src="{{ MEDIA_URL }}video/ER/第二代警報器安裝誠品.mp4" type="video/mp4">
							</video>
						</div>       
					</div>
				</div>
			</div>
		</div>

		<!-- video8 -->
		<div class="modal fade" id="video8" tabindex="-1" role="dialog" aria-labelledby="video8_content" aria-modal="true">
			<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
				<div class="modal-content">
					<div class="modal-header og-bg line_break">                
						<h5 class="ell_two modal-title beige-word font-24 font-weight-bold" id="video08">
							<span class="text-primary"></span>盼增救援成功率！中市研發智慧型"聽見AED"
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body cofe-word font-18 article_border">                
						<div class="col-12 px-0">
							<video width="400" controls>
								<source src="{{ MEDIA_URL }}video/ER/盼增救援成功率！中市研發智慧型聽見AED.MP4" type="video/mp4">
							</video>
						</div>       
					</div>
				</div>
			</div>
		</div>

		<!-- video9 -->
		<div class="modal fade" id="video9" tabindex="-1" role="dialog" aria-labelledby="video9_content" aria-modal="true">
			<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
				<div class="modal-content">
					<div class="modal-header og-bg line_break">                
						<h5 class="ell_two modal-title beige-word font-24 font-weight-bold" id="video09">
							<span class="text-primary"></span>聽見 AED 微電影
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body cofe-word font-18 article_border">                
						<div class="col-12 px-0">
							<video width="400" controls>
								<source src="{{ MEDIA_URL }}video/ER/聽見aed微電影.mp4" type="video/mp4">
							</video>
						</div>       
					</div>
				</div>
			</div>
		</div>

		<!-- ======= 本頁 Modal Area End ======= -->

		<!-- ======= navbar ======= -->
		{% include 'header.html' %}
		<!-- ======= navbar End ======= -->

		<!-- ======= main-content ======= -->
		<main class="pb-3">
			<div class="container py-1">
				<div class="row">
					<!-- ※※※ 側邊選單 ※※※ -->
					<div class="col-lg-3 mb-2">
						<div class="menu_sidebar">
							<aside>
								{% include 'MedicalSupport/ER/ER-menu.html' %}
							</aside>
						</div>
					</div>
					<!-- ※※※ 側邊選單 End ※※※ -->

					<!-- ※※※ 功能內容 ※※※ -->
					<div class="col-lg-9">
						<article>
							<div class="content">
								<!-- 麵包屑 -->
								<div class="text-right font-16">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb justify-content-end">
											<li class="breadcrumb-item main_pencil"></li>
											<li class="breadcrumb-item active" aria-current="page">AED 新聞媒體、影音</li>
										</ol>
									</nav>
								</div>
								<!-- 內容區 -->
								<div class="bg-white rounded panel-shadow title_wrap">
									<!-- 標題 -->
									<section id="content_h">
										<div class="onsale_heading">AED 新聞媒體</div>
										<hr class="my-2">
									</section>
									<!-- 細節 -->
									<section id="content_body">
										<div class="row">
											<div class="col-12">
												<!-- 新聞 -->
												<div>
													<table class="table n_news table-striped table-bordered">
														<thead>
															<tr>
																<th class="text-center title-bg">標題</th>
																<th class="text-center title-bg text-nowrap">更新日期</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>
																	<h6>
																		<a href="{% static 'common/doc/ER/AED/疫情嚴峻洞⾒台灣社會韌性！ 聯發科技「智在家鄉」⿎勵社會創新 爭取百萬.pdf' %}" onclick="openInFullScreenWin(this.href);return false">疫情嚴峻洞⾒台灣社會韌性！ 聯發科技「智在家鄉」⿎勵社會創新 爭取百萬</a>
																	</h6>
																</td>
																<td class="text-center">
																	<span>
																		<small>2022-01-11</small>
																	</span>
																</td>
															</tr>
															<tr>
																<td>
																	<h6>
																		<a href="{% static 'common/doc/ER/AED/AED使⽤率不到1趴打119後聽「這聲⾳」.pdf' %}" onclick="openInFullScreenWin(this.href);return false">AED使⽤率不到1% 打119後聽「這聲⾳」</a>
																	</h6>
																</td>
																<td class="text-center">
																	<span>
																		<small>2021-10-30</small>
																	</span>
																</td>
															</tr>
															<tr>
																<td>
																	<h6>
																		<a href="{% static 'common/doc/ER/AED/提升到院前存活率 臺中市消防局讓AED智慧化.MP3.pdf' %}" onclick="openInFullScreenWin(this.href);return false">提升到院前存活率 臺中市消防局讓AED智慧化.MP3</a>
																	</h6>
																</td>
																<td class="text-center">
																	<span>
																		<small>2021-10-30</small>
																	</span>
																</td>
															</tr>
															<tr>
																<td>
																	<h6>
																		<a href="{% static 'common/doc/ER/AED/「聽⾒AED」警報器搭APP 「即時啟動」.pdf' %}" onclick="openInFullScreenWin(this.href);return false">「聽⾒AED」警報器搭APP 「即時啟動」提⾼存活率</a>
																	</h6>
																</td>
																<td class="text-center">
																	<span>
																		<small>2021-10-28</small>
																	</span>
																</td>
															</tr>													
															
															<tr>
																<td>
																	<h6>
																		<a href="{% static 'common/doc/ER/AED/盼增救援成功率！ 台中市研發智慧型「聽⾒AED」.pdf' %}" onclick="openInFullScreenWin(this.href);return false">盼增救援成功率！ 台中市研發智慧型「聽⾒AED」</a>
																	</h6>
																</td>
																<td class="text-center">
																	<span>
																		<small>2021-10-28</small>
																	</span>
																</td>
															</tr>
															<tr>
																<td>
																	<h6>
																		<a href="{% static 'common/doc/ER/AED/疫情催⽣醫護救援、電商新使命 第四屆智在家鄉募愛鄉之⼠爭百萬獎⾦.pdf' %}" onclick="openInFullScreenWin(this.href);return false">疫情催⽣醫護救援、電商新使命 第四屆智在家鄉募愛鄉之⼠爭百萬獎⾦</a>
																	</h6>
																</td>
																<td class="text-center">
																	<span>
																		<small>2021-06-17</small>
																	</span>
																</td>
															</tr>
															<tr>
																<td>
																	<h6>
																		<a href="{% static 'common/doc/ER/AED/聯發科創新競賽團隊 AED智慧裝置協助第⼀線消防.pdf' %}" onclick="openInFullScreenWin(this.href);return false">聯發科創新競賽團隊 AED智慧裝置協助第⼀線消防</a>
																	</h6>
																</td>
																<td class="text-center">
																	<span>
																		<small>2021-06-16</small>
																	</span>
																</td>
															</tr>	
															<tr>
																<td>
																	<h6>
																		<a href="{% static 'common/doc/ER/AED/聽⾒AED救命的機會 急診醫師創新救命法.pdf' %}" onclick="openInFullScreenWin(this.href);return false">聽⾒AED救命的機會 急診醫師創新救命法獲聯發科肯定</a>
																	</h6>
																</td>
																<td class="text-center">
																	<span>
																		<small>2019-11-22</small>
																	</span>
																</td>
															</tr>
															<tr>
																<td>
																	<h6>
																		<a href="{% static 'common/doc/ER/AED/⼯⼯系博⼠⽣獲「智在家鄉」數位社會創新競賽優等獎.pdf' %}" onclick="openInFullScreenWin(this.href);return false">⼯⼯系博⼠⽣獲「智在家鄉」數位社會創新競賽優等獎</a>
																	</h6>
																</td>
																<td class="text-center">
																	<span>
																		<small>2019-11-22</small>
																	</span>
																</td>
															</tr>
															<tr>
																<td>
																	<h6>
																		<a href="{% static 'common/doc/ER/AED/長安醫院與「好撒馬利亞人隊」運用物聯網提高AED使用率 獲聯發科社會創新優等獎.pdf' %}" onclick="openInFullScreenWin(this.href);return false">長安醫院與「好撒馬利亞人隊」運用物聯網提高AED使用率 獲聯發科社會創新優等獎</a>
																	</h6>
																</td>
																<td class="text-center">
																	<span>
																		<small>2019-11-21</small>
																	</span>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
												<!-- <div class="row mt-3">
													<div class="col-12 d-flex justify-content-center">
														<ul class="pagination">
															<li class="page-item disabled"><a class="page-link" href="#">上一頁</a></li>
															<li class="page-item active"><a class="page-link" href="#">1</a></li>
															<li class="page-item"><a class="page-link" href="#">2</a></li>
															<li class="page-item"><a class="page-link" href="#">下一頁</a></li>
														</ul>
													</div>
												</div> -->
												<!-- 影音媒體 -->
												<div>
													<div class="hd-box">
														<h2 class="hd"><span class="txt"><span class="ic square"></span>相關影音</span></h2>
													</div>
												</div>
												<div>
													<table class="table n_news table-striped table-bordered">
														<thead>
															<tr>
																<th class="text-center title-bg">標題</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>
																	<h6>
																		<a href="#" data-toggle="modal" data-target="#video1">13好撒馬利亞人隊</a>
																	</h6>
																</td>
															</tr>													
															<tr>
																<td>
																	<h6>
																		<a href="#" data-toggle="modal" data-target="#video2">「聽見 AED」科技救命 提供存活率</a>
																	</h6>
																</td>
															</tr>
															<tr>
																<td>
																	<h6>
																		<a href="#" data-toggle="modal" data-target="#video3">聽見 AED警報器搭APP救護車前施救 提高存活率</a>
																	</h6>
																</td>
															</tr>
															<tr>
																<td>
																	<h6>
																		<a href="#" data-toggle="modal" data-target="#video4">第一代工研院發表簡單介紹</a>
																	</h6>
																</td>
															</tr>
															<tr>
																<td>
																	<h6>
																		<a href="#" data-toggle="modal" data-target="#video5">第二代安妮怎麼了（短篇）</a>
																	</h6>
																</td>
															</tr>
															<tr>
																<td>
																	<h6>
																		<a href="#" data-toggle="modal" data-target="#video6">第二代安妮怎麼了介紹影片</a>
																	</h6>
																</td>
															</tr>
															
															<tr>
																<td>
																	<h6>
																		<a href="#" data-toggle="modal" data-target="#video7">第二代警報器安裝誠品</a>
																	</h6>
																</td>
															</tr>
															
															<tr>
																<td>
																	<h6>
																		<a href="#" data-toggle="modal" data-target="#video8">盼增救援成功率！中市研發智慧型"聽見AED"</a>
																	</h6>
																</td>
															</tr>
															<tr>
																<td>
																	<h6>
																		<a href="#" data-toggle="modal" data-target="#video9">聽見AED微電影</a>
																	</h6>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
												<!-- <div class="row mt-3">
													<div class="col-12 d-flex justify-content-center">
														<ul class="pagination">
															<li class="page-item disabled"><a class="page-link" href="#">上一頁</a></li>
															<li class="page-item active"><a class="page-link" href="#">1</a></li>
															<li class="page-item"><a class="page-link" href="#">2</a></li>
															<li class="page-item"><a class="page-link" href="#">下一頁</a></li>
														</ul>
													</div>
												</div> -->
																						
											</div>
										</div> 
									</section>
								</div>
								<!-- 內容區 End -->
							</div>
						</article>	
					</div>
					<!-- ※※※ 功能內容 End ※※※ -->
				</div>
			</div>
		</main>
		<!-- ======= main End ======= -->
	</div>
	<!-- ======= footer ======= -->
	{% include 'footer.html' %}
	<!-- ======= Footer End ======= -->

	<!-- ======= js 套件區 ======= -->
	<!-- ======= js 套件區 End ======= -->

</body>

</html>
