<!doctype html>
<html lang="zh-TW">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="長安醫院、太平醫院、急診、骨科、眼科、復健、體檢、健康檢查、假日門診" />
	<meta name="title" content="長安醫院">
	<meta property="og:url" content="http://web.everanhospital.com.tw/">
	<meta property="og:title" content="長安醫院">
	<meta property="og:type" content="article">
	<meta property="og:description" content="長安醫院位於台中市太平區，提供多項專科門診、健檢中心、長照護理、與24小時急診服務。">
	<meta name="description" content="長安醫院位於台中市太平區，提供多項專科門診、健檢中心、長照護理、與24小時急診服務。">
	<title>媒體報導_長安醫院急診醫學科</title>

	<!-- CSS ================================ -->
	<link rel="stylesheet" href="../../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../../icon/css/all.css">
	<!-- 導航列 -->
    <link rel="stylesheet" type="text/css" href="../../../css/reset.min.css">
	<link rel="stylesheet" type="text/css" href="../../../css/style.min.css">
	<link rel="stylesheet" type="text/css" href="../../../css/ionicon.min.css">	
	<!-- style -->
	<link rel="stylesheet" href="../../../css/style.css">
	<link rel="stylesheet" href="../../../css/sub-style.css">
	<link rel="stylesheet" href="css/ER.css">	

	<!-- js ================================ -->
	<!-- <script src="js/jquery-3.5.1.slim.min.js"></script> -->
	<!-- <script src="js/jquery.min.js"></script> -->
	<script src="../../../js/jquery_new.js"></script>	
	<script src="../../../js/bootstrap.min.js"></script>
	<script src="../../../js/main.js"></script>

	<!-- 共同引用 nav.footer.menu 對應內容 套件 -->
	<script src="js/ER_share_kit.js"></script>
	<!-- 本頁專用 menu 及首頁設定 -->
	<script src="js/ER_ajax.js"></script>
	
</head>

<body>
	<!-- ======= 回到最上方 ======= -->
    <button onclick="topFunction()" id="myBtn" title="回到最上方"><i class="fas fa-chevron-up"></i></button>
	<!-- ======= navbar ======= -->
	<div id="header">
		<div class="head_nav"></div><!-- 用來載入 common.html 裡頭的 header -->
	</div>
	<!-- ======= navbar End ======= -->

	<!-- ======= 本頁 Modal Area ======= -->
	<!-- news1 -->
	<div class="modal fade" id="news1" tabindex="-1" role="dialog" aria-labelledby="news1_content" aria-modal="true">
		<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
			<div class="modal-content">
				<div class="modal-header og-bg line_break">                
					<h5 class="ell_two modal-title beige-word font-24 font-weight-bold" id="exampleModalLabel1">
						<span class="text-primary"></span>急診楊人翰醫師8/1起在本院為您服務！
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body cofe-word font-18 article_border">   
					<div>
						<div class="article_h">急診2022年8月起新增一位新醫師<br />請太平鄉親多多支持喲！</div>
					</div>    
					<div class="px-2">
						<div class="text-right text-secondary">
							<small>(文提供/楊人翰醫師)</small>
						</div>
						<div class="note mb-2">
							<div class="text-center">
								<h4 class="mb-0">
									<b>為何需要急診醫師？</b>									
								</h4>								
							</div>
						</div>

						<p class="py-2 text-justify">當你有任何不舒服時，大家時常第一想法就是到急診就診，不論是胸痛、腹痛、肢體疼痛、呼吸不順，在急診幾乎都可以幫民眾做到最適當的處理。</p> 

						<p class="py-2 text-justify">當民眾突然發生了呼吸不順，這時可能是心臟發生狀況，肺部產生問題，或是腎臟出現了惡化，在這許許多多的可能性當中，急診醫師會根據患者的臨床表現，與過去是否有任何慢性疾病，幫助患者做最正確的診斷，並立即開始治療。對於重症患者，急診醫師也能夠快速穩定患者的情況，確保患者能安全地到病房或是加護病房接受後續的治療，這就是急診醫師的價值，能夠幫助患者快速診斷疾病，以及能夠穩定重症的患者的狀況。</p>  

						<p class="py-2 text-justify">而在凌晨的深夜時分，醫院門診都休診，當民眾因為病痛而無處尋求幫助之時，長安醫院的急診團隊更是會照顧好民眾的健康，我們的使命就是要讓各位患者能安全地接受治療，並且健健康康地回到家中。</p> 
    
					</div>	
					<div>
						<img class="img-fluid w-100" src="./img/Triage/急診-楊人翰醫師.jfif" alt="" height="345">
					</div>  
				</div>
			</div>
		</div>
	</div>

	<!-- news2 -->
	<div class="modal fade" id="news2" tabindex="-1" role="dialog" aria-labelledby="news2_content" aria-modal="true">
		<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
			<div class="modal-content">
				<div class="modal-header og-bg line_break">                
					<h5 class="ell_two modal-title beige-word font-24 font-weight-bold" id="exampleModalLabel1">
						<span class="text-primary"></span>急診劉士豪醫師 即日起在本院為您服務！
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body cofe-word font-18 article_border">   
					<div>
						<div class="article_h">急診醫師的核心價值有二：<br>「診斷疾病」以及「穩定急重症病患」</div>
					</div>    
					<div class="px-2">
						<p class="py-2 text-justify">一年分四季、一天分日夜，疾傷病則不然。病魔不分二十四小時地覬覦著我們健康財富。尤其是三大急症：腦中風、心肌梗塞、重大創傷，這些是以分鐘計算和時間賽跑的急救工作。這些急症往往發生在原本健康的人身上，一旦未能及時處置，挽救健康，對往後個人、家庭甚至社會生活都會是沉重負擔。急診醫師的重要使命，是及時診斷出急重症，阻擋在疾病進展惡化的鬼門關之前，讓病患能夠穩定下來，得到後續適時適當的照護，恢復健康。</p> 

						<p class="py-2 text-justify">再者，民眾發生身體不適之時，或是驚慌或是無助，急診醫師亦能幫忙評估病況、提供疾病衛教，讓民眾依照正確照護觀念，安心地養病。</p>  

						<p class="py-2 text-justify">長安醫院急診醫師們以及醫療團隊，不論白晝黑夜，堅守崗位，守護著太平區民眾。</p> 
    
					</div>	
					<div>
						<img class="img-fluid w-100" src="./img/Triage/急診-劉士豪醫師.jpg" alt="" height="345">
					</div>  
				</div>
			</div>
		</div>
	</div>

	<!-- news3 -->
	<div class="modal fade" id="news3" tabindex="-1" role="dialog" aria-labelledby="news3_content" aria-modal="true">
		<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
			<div class="modal-content">
				<div class="modal-header og-bg line_break">                
					<h5 class="ell_two modal-title beige-word font-24 font-weight-bold" id="exampleModalLabel1">
						<span class="text-primary"></span>急診室服務公告
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body cofe-word font-18 article_border">   
					<div>
						<div class="article_h">半夜突然莫明肚子痛、小孩發燒哭不停?<br>長安醫院急診室皆可為您服務</div>
					</div>    
					<div class="px-2">
						<p class="py-2 text-justify">長安醫院持續提升急診服務，即日起，若您有腸胃急症、婦科急症、或小孩各種常見急病，皆有急診專科醫師為您診治。長安醫院急診室解決您半夜突發身體狀況，守護您的健康。</p> 

						<div class="">
							<div class="p-2 title-bg d-inline-flex mb-2">
								<h4 class="cofe-word mb-0">急診持續擴大醫療服務範圍</h4>
							</div>
							<div class="px-2">
								<ul class="list-bullets">
									<li class="mb-1">小兒常見急病 : 小兒腸胃炎、 咽喉炎、腸病毒、中耳炎、過敏等。</li>
									<li class="mb-1">成人腸胃急症 : 胃潰瘍、十二指腸潰瘍、闌尾炎、腸阻塞、腸穿孔、膽囊炎、憩室炎、痔瘡出血等。</li>
									<li class="mb-1">婦科常見急症：黃體囊腫破裂、骨盆腔發炎、子宮肌瘤、子宮外孕、卵巢扭轉等。</li>
								</ul>
							</div>
						</div>

						<p class="py-2 text-justify">#長安醫院 守護太平民眾健康</p> 
						<div>
							<img class="img-fluid w-100" src="./img/Triage/急診服務公告.jpg" alt="" height="345">
						</div>  
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- news4 -->
	<!-- <div class="modal fade" id="news4" tabindex="-1" role="dialog" aria-labelledby="news4_content" aria-modal="true">
		<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
			<div class="modal-content">
				<div class="modal-header og-bg line_break">                
					<h5 class="ell_two modal-title beige-word font-24 font-weight-bold" id="exampleModalLabel4">
						<span class="text-primary"></span>攝護腺肥大尿滯留送急診 新式雷射剜除手術復發率低
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body cofe-word font-18 article_border">   
					<div>
						<div class="article_h"></div>
					</div>    
					<div class="px-2">
						<p class="py-2 text-justify">68歲陳姓工廠老闆患有攝護腺肥大，每晚要起床上廁所多達10多次，總是睡不飽；白天怕上廁所不方便也不敢出門，但也曾2度突然尿不出來而被送急診，透過新式「雷射攝護腺剜除手術」治療，解決多年困擾。長安醫院泌尿科醫師林彥志表示，攝護腺肥大透過這項新式手術，幾乎不會有復發機會。</p> 

						<p class="py-2 text-justify">泌尿科主任林彥志醫師表示，陳姓患者被攝護腺肥大困擾多年，曾作過藥物治療，但小便流速不理想，且頻尿、夜尿等病情逐年加重，治療效果不佳。有人建議他接受雷射攝護腺手術治療，但他擔心恐又復發，而猶豫不決。經建議，最後採用新式「雷射攝護腺剜除手術」，將攝護腺肥大的腺瘤徹底剝離清除，擺脫長年夢饜。</p> 

						<p class="py-2 text-justify">林彥志醫師指出，根據統計，傳統的攝護腺刮除或雷射攝護腺手術，術後復發比例大約是5％至15％；而新式「雷射攝護腺剜除手術」，可以將復發的機率降至1％以下，甚至有國外醫學文獻統計，復發病例數為0。</p> 

						<p class="py-2 text-justify">陳姓患者接受「雷射攝護腺剜除手術」手術已1個月。林彥志指出，患者術前攝護腺達到正常男性3倍的大小，經手術清除後，目前尿流已經完全恢復到年輕時候的狀況，頻尿和尿急的情形也大幅改善。</p> 

						<div>
							<a href="https://www.chinatimes.com/realtimenews/20200311002588-260405?chdtv" target="_blank">
								<button type="button" class="btn btn-info rounded-0 font-weight-bold">
									<i class="far fa-hand-point-right"></i> 點我看新聞</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<!-- ======= 本頁 Modal Area End ======= -->

	<!-- ======= main-content ======= -->
	<main class="L_sub_main_bg">
		<span class="light-transparent"></span>

		<div class="container py-3">			
			<div class="row">
				<div class="col-12 col-md-3">
					<div>
						<aside>
							<div class="side_menu"></div><!-- 用來載入 menu.html -->
						</aside>
					</div>
				</div>
				<div class="col-12 col-md-9">
					<article>
						<div class="content pt-2">
							<!-- <div class="text-right">
								<div class="font-16">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb justify-content-end">
											<li class="breadcrumb-item ER_pencil"></li>
											<li class="breadcrumb-item active" aria-current="page">媒體報導</li>
										</ol>
									</nav>								
								</div>
							</div> -->
							<div class="p-3 bg-white rounded panel-shadow">

								<section id="content_h">
									<div class="row">
										<div class="col-12 col-md-1 mb-2">
											<div class="onsale-section">
												<span class="onsale"><i class="fas fa-star"></i></span>
											</div>
										</div>
										<div class="col-12 col-md-11 px-md-0">
											<div class="onsale_heading">媒體報導</div>
										</div>
									</div>
									<hr class="mt-2 mb-4">									
								</section>

								<section id="content_body">
									<div class="row">
										<div class="col-12">
											<table class="table n_news table-striped table-bordered">
												<thead>
													<tr>
														<th class="text-center title-bg">標題</th>
														<th class="text-center title-bg text-nowrap">更新日期</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>
															<h6>
																<a href="#" data-toggle="modal" data-target="#news1">急診楊人翰醫師8/1起在本院為您服務！</a>
															</h6>
														</td>
														<td class="text-center">
															<span>
																<small>2022-07-28</small>
															</span>
														</td>
													</tr>
													<tr>
														<td>
															<h6>
																<a href="#" data-toggle="modal" data-target="#news2">急診劉士豪醫師 即日起在本院為您服務！</a>
															</h6>
														</td>
														<td class="text-center">
															<span>
																<small>2022-04-21</small>
															</span>
														</td>
													</tr>
													<tr>
														<td>
															<h6>
																<a href="#" data-toggle="modal" data-target="#news3">急診室服務公告</a>
															</h6>
														</td>
														<td class="text-center">
															<span>
																<small>2021-04-27</small>
															</span>
														</td>
													</tr>	
												</tbody>
											</table>
										</div>
									</div>
								</section>
								
							</div>
						</div>
					</article>
				</div>
			</div>		  
		</div>

	</main>
	<!-- ======= main End ======= -->

	<!-- ======= footer ======= -->
	<div id="footer">
		<div class="foot_content"></div><!-- 用來載入 common.html 裡頭的 footer -->
	</div>
	<!-- ======= Footer End ======= -->
	<!-- 回到最上方 -->
    <script src="../../../js/gotop.js"></script>

</body>

</html>