{% load static %}
<!doctype html>
<html lang="zh-TW">

<head>
	{% include 'Public_head.html' %}
	<title>定期訓練_長安醫院急診醫學科</title>
	<link rel="stylesheet" href="{% static 'common/css/ER.css' %}">
	{% include 'GA_head.html' %}	
</head>

<body>
	{% include 'GA_noscript.html' %}
	<div class="wrapper L_sub_main_bg">

		<!-- ======= 本頁 Modal Area ======= -->		
		<!-- ======= 本頁 Modal Area End ======= -->

		<!-- ======= navbar ======= -->
		{% include 'header.html' %}
		<!-- ======= navbar End ======= -->

		<!-- ======= main-content ======= -->
		<main class="pb-3">
			<div class="container py-1">
				<div class="row">
					<!-- ※※※ 側邊選單 ※※※ -->
					<div class="col-lg-3 mb-2">
						<div class="menu_sidebar">
							<aside>
								{% include 'MedicalSupport/ER/ER-menu.html' %}
							</aside>
						</div>
					</div>
					<!-- ※※※ 側邊選單 End ※※※ -->

					<!-- ※※※ 功能內容 ※※※ -->
					<div class="col-lg-9">
						<article>
							<div class="content">
								<!-- 麵包屑 -->
								<div class="text-right font-16">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb justify-content-end">
											<li class="breadcrumb-item main_pencil"></li>
											<li class="breadcrumb-item active" aria-current="page">定期訓練</li>
										</ol>
									</nav>
								</div>
								<!-- 內容區 -->
								<div class="bg-white rounded panel-shadow">
									<!-- 標題 -->
									<section id="content_h">
									
										<!-- <div class="row">
											<div class="col-12 col-md-1 mb-2">
												<div class="onsale-section">
													<span class="onsale"><i class="fas fa-star"></i></span>
												</div>
											</div>
											<div class="col-12 col-md-11 px-md-0">
												<div class="onsale_heading">定期訓練</div>
											</div>
										</div>
										<hr class="my-2"> -->
											
									</section>
									<!-- 細節 -->
									<section id="content_body" class="thx_card">
										<img src="{% static 'common/img/ER/Triage/tshape.png' %}" class="t-shape">
										<div class="sub_header">
											<div class="thr_header border-bottom">
												<!-- <img src="./images/img_clogo.png" alt="Beeworks" class="h-logo">
												<img src="./images/dash.png" class="h-dash"> -->
												<h1 class="font-weight-bold">定期訓練</h1>
											</div>
										</div>
										<div class="main_text container pt-2 bbg2">
											<div class="row">
												<div class="col-lg-4 d-flex align-items-end pb-2">
													<div>
														<div>
															<div class="text-wrapper" style="color: #654127;font-weight: bold;">
																<p class="t-phrase">CPR 急救訓練課程花絮</p>
																<p class="t-text text-justify">
																	<span>在講師詳細解說並示範每一個動作的細節下，院內同仁認真實作重點。</span>
																</p>
															</div>
														</div>
														<img src = "/Public/img/ER/Triage/train_2.svg" alt="My Happy SVG" style="width: 92%;opacity: .7;"/>
													</div>												
												</div>	
												<div class="col-lg-8 px-0 mb-2">
													<img src="{% static 'common/img/ER/Triage/train_2.jpg' %}" class="img-thumbnail" alt="Cinque Terre" height="236">
												</div>
												<div class="col-lg-6 px-0 mb-2">
													<img src="{% static 'common/img/ER/Triage/train_3.jpg' %}" class="img-thumbnail" alt="Cinque Terre" height="236">		
												</div>
												<div class="col-lg-6 px-0 mb-2">
													<img src="{% static 'common/img/ER/Triage/train_1.jpg' %}" class="img-thumbnail" alt="Cinque Terre" height="236">	
												</div>								
											</div>										
										</div>
									</section>
								</div>
								<!-- 內容區 End -->
							</div>
						</article>	
					</div>
					<!-- ※※※ 功能內容 End ※※※ -->
				</div>
			</div>
		</main>
		<!-- ======= main End ======= -->
	</div>
	<!-- ======= footer ======= -->
	{% include 'footer.html' %}
	<!-- ======= Footer End ======= -->

	<!-- ======= js 套件區 ======= -->
	<!-- ======= js 套件區 End ======= -->

</body>

</html>
