{% extends "Patient_Guide/Patient_Guide_base.html" %}

{% load static %}
<!-- === Meta ================================== -->
{% block title %}我該看哪一科｜{{ block.super }}{% endblock %}
{% block og_title %}我該看哪一科｜{{ block.super }}{% endblock %}


<!-- === 子頁細節內容 =========================== -->
{% block guide_content %}
<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
    <h2 class="c-onsale-heading">我該看哪一科</h2>
</header>
<div class="l-main-content__body">
    <div class="row">
		<div class="col-12">
			{% for subject,departments in datas %}
				<div class="which_class cofe-word">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th colspan="2" class="text-center title-bg thh-title">{{ subject }}</th>
							</tr>
						</thead>
						<tbody>
						{% for department,text,path in departments %}
							<tr>
								<th>
									<a href="/A006_Online_Booking_1_part/?A006_sename={{ department }}">{{ department }}</a>
									<!-- {{ department }} -->
								</th>
								<td class="text-justify">{{ text }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="我該看哪一科" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
<style>
	.table-bordered td, .table-bordered th{
		border: 1px solid #c2bdbd;
	}
</style>
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}