{% extends "Patient_Guide/Patient_Guide_2_Base.html" %}

{% load static %}
<!-- === Meta ================================== -->
{% block title %}網路掛號｜{{ block.super }}{% endblock %}
{% block og_title %}網路掛號｜{{ block.super }}{% endblock %}


<!-- === 子頁細節內容 =========================== -->

<!-- ▼▼▼ Breadcrumb ▼▼▼-->
{% block breadcrumbs %}{% endblock %}
<!-- ▲▲▲ Breadcrumb ▲▲▲-->

{% block guide_content %}
<!-- ▼▼▼ Modal ▼▼▼-->
{% block page_modals %}
	<div id="dialog-content" class="Booking_login"></div>
{% endblock %}
<!-- ▲▲▲ Modal ▲▲▲-->

<!-- ▼▼▼ Content ▼▼▼-->
<div class="l-main-content__body" style="background-color: transparent;">
	<div class="row items_div">

		<div class="col-lg-4 d-flex justify-content-center">
			<div class="A_card trasition_site" onclick="location.href='/A006_Online_Booking_1/';">
				<div class="info row align-items-center">
					<div class="icon_1 col-4 col-lg-12">
						<span class="livicon livicon-processed">
							<i class="fas fa-notes-medical" aria-hidden="true"></i>
						</span>
					</div>
					<div class="title col-8 col-lg-12">選擇科別</div>
					<div class="descricao col-12">點我進入「科別名稱」查詢</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4 d-flex justify-content-center">
			<div class="A_card trasition_site" onclick="location.href='/A006_Online_Booking_2/';">
				<div class="info row align-items-center">
					<div class="icon_2 col-4 col-lg-12">
						<span class="livicon livicon-processed">
							<i class="fas fa-user-md" aria-hidden="true"></i>
						</span>
					</div>
					<div class="title col-8 col-lg-12">選擇醫師</div>
					<div class="descricao col-12">點我進入「醫師名稱」查詢</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4 d-flex justify-content-center">
			<div class="A_card trasition_site" onclick="location.href='/A006_Online_Booking_data/';">
				<div class="info row align-items-center">
					<div class="icon_2 col-4 col-lg-12">
						<span class="livicon livicon-processed">
							<i class="far fa-file-alt" aria-hidden="true"></i>
						</span>
					</div>
					<div class="title col-8 col-lg-12">預約紀錄</div>
					<div class="descricao col-12">點我進入查詢或取消「預約紀錄」</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="網路掛號" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================= -->
{% block sub_extra_js %}
{% endblock %}