{% extends "Patient_Guide/Patient_Guide_2_Base.html" %}

{% load static %}
<!-- === Meta ================================== -->
{% block title %}網路掛號停機公告｜{{ block.super }}{% endblock %}
{% block og_title %}網路掛號停機公告｜{{ block.super }}{% endblock %}


<!-- === 子頁細節內容 =========================== -->
<!-- ▼▼▼ Breadcrumb ▼▼▼-->
{% block breadcrumbs %}{% endblock %}
<!-- ▲▲▲ Breadcrumb ▲▲▲-->

<!-- ▼▼▼ Content ▼▼▼-->
{% block guide_content %}
<div class="l-main-content__body">
	<center><h1 class="cen">網路掛號停機公告</h1></center>
	<center>
		<h3>您好，為提供更好的網路掛號服務，<br> 本院預計5/4（六）下午3點到4點，<br> 暫停服務一小時，進行系統優化作業，<br>期間內若您有掛號需求，<br> 請撥(04)-36113611 #9 由總機為您服務，<br> 造成您的不便，請見諒，謝謝。</h3>
	</center>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="網路掛號停機公告" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}