{% extends "Patient_Guide/Patient_Guide_2_Base.html" %}

{% load static %}
<!-- === Meta ================================== -->
{% block title %}初診資料建立｜網路掛號｜{{ block.super }}{% endblock %}
{% block og_title %}初診資料建立｜網路掛號｜{{ block.super }}{% endblock %}


<!-- === 子頁細節內容 =========================== -->
{% block guide_content %}
<!-- ▼▼▼ Content ▼▼▼-->
<div {% if showalert %} onload="First_data_ok();" {% elif showalert_error %} onload="First_data_error();" {% endif %}>

<div class="l-main-content__body">

	<!-- ======= 本頁 Modal Area ======= -->

	<div id="dialog-content" class="Booking_login"></div>

	<!-- ======= 本頁 Modal Area End ======= -->

	<!-- ▼▼▼▼▼ 初診單填寫區塊 ▼▼▼▼▼ -->

	<div id="First_Visit">
		<div class="login_title">初診資料填寫{{true}}</div>
		<div>
			<form action="" method="POST" name="Form1" onsubmit="return CheckInput()">
				{% csrf_token %}
				<div class="form-group">
					<label for="ID_name" class="cofe-word mark_arrow_title">
						<h5 class="font-weight-bold mb-0">姓名:</h5>
					</label>
					<input type="text" class="form-control border-coco rounded-0 input2" id="ID_name" placeholder="" name="ID_name" required>
				</div>
				<div class="form-group">
					<label for="ID_card" class="cofe-word mark_arrow_title">
						<h5 class="font-weight-bold mb-0">身分證字號:</h5>
					</label>
					<input type="text" class="form-control border-coco rounded-0 input2" id="ID_card" placeholder="" name="ID_card" required minlength="10" maxlength="10" style="text-transform:uppercase;">
				</div>
				<div class="form-group">
					<!-- 要驗證 -->
					<!-- 20240502 限制只能輸入數字 -->
					<label for="Contact_phone" class="cofe-word mark_arrow_title">
						<h5 class="font-weight-bold mb-0">聯絡電話:</h5>
					</label>
					<input type="number" class="form-control border-coco rounded-0 input2" id="Contact_phone" placeholder="" name="Contact_phone" required>
				</div>
				<div class="form-group">
					<!-- 要驗證 -->
					<label for="Birthday" class="cofe-word mark_arrow_title">
					<h5 class="font-weight-bold mb-0">出生日期：</h5>
					</label>
					<input type="text" class="form-control border-coco rounded-0 input2" id="Birthday" placeholder="民國 52 年 1 月 8 號，請輸入 0520108" name="Birthday" required minlength="7" maxlength="7" pattern="\S*" title="不能输入空格">
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-lg-3">
							<label class="cofe-word mark_arrow_title">
								<h5 class="font-weight-bold mb-0">性別：</h5>
							</label>
						</div>
						<div class="col-lg-9">
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" value="M" required>
								<label class="custom-control-label" for="customRadioInline1">男</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input"value="F">
								<label class="custom-control-label" for="customRadioInline2">女</label>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="form-group">
					<label for="Contact_add" class="cofe-word mark_arrow_title">
						<h5 class="font-weight-bold mb-0">通訊地址：</h5>
					</label>
					<input type="text" class="form-control border-coco rounded-0 input2" id="Contact_add" name="Contact_add" required>
				</div> -->
				<hr />
				<!-- 效果：初診資料建立 (有分"成功"與"失敗") -->
				<div class="Confirm_btn_50">
					<!-- <input type="submit" class="btn btn-success btn-lg rounded-0" value="送出資料"> -->
					<input type="submit" name="creat_data" class="btn btn-success btn-lg rounded-0" value="送出資料">
					<input type="button" class="btn btn-light btn-lg rounded-0 w-50" value="回首頁" onclick='location.href=("/A006_Online_Booking_0/")'>
				</div>
			</form>
			<script>
				function CheckInput() {
				   if ( ! checkID( document.Form1.ID_card.value ) ){
				      window.alert( "身份證字號錯誤!" );
				  	  return false;
				  	}
				   else if ( ! checkBirthday( document.Form1.Birthday.value ) ){
				      window.alert( "生日格式錯誤!" );
				  	  return false;
				   }
				   else{
				   	  return true;
				   	}
				}
				function checkID( idStr ) {
					// 依照字母的編號排列，存入陣列備用。
					var letters = new Array('A', 'B', 'C', 'D', 

					      'E', 'F', 'G', 'H', 'J', 'K', 'L', 'M', 

					      'N', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 

					      'X', 'Y', 'W', 'Z', 'I', 'O');

					// 儲存各個乘數
					var multiply = new Array(1, 9, 8, 7, 6, 5, 4, 3, 2, 1);
					var nums = new Array(2);
					var firstChar;
					var firstNum;
					var lastNum;
					var total = 0;
					// 撰寫「正規表達式」。第一個字為英文字母，
					// 第二個字為1或2，後面跟著8個數字，不分大小寫。
					var regExpID=/^[a-z](1|2)\d{8}$/i;

					// 使用「正規表達式」檢驗格式
					if (idStr.search(regExpID)==-1) {
					   return false;
					} else {
						// 取出第一個字元和最後一個數字。
						firstChar = idStr.charAt(0).toUpperCase();
						lastNum = idStr.charAt(9);
					}

					// 找出第一個字母對應的數字，並轉換成兩位數數字。
					for (var i=0; i<26; i++) {
						if (firstChar == letters[i]) {
						  firstNum = i + 10;
						  nums[0] = Math.floor(firstNum / 10);
						  nums[1] = firstNum - (nums[0] * 10);
						  break;
						}
					}

					// 執行加總計算
					for(var i=0; i<multiply.length; i++){
					  if (i<2) {
					    total += nums[i] * multiply[i];
					  } else {
					    total += parseInt(idStr.charAt(i-1)) * multiply[i];
					  }
					}

					// 和最後一個數字比對
					if (((10 - (total % 10))%10) != lastNum) {
						return false;
					}
					return true;
				}

				function checkBirthday( birthDay ){
					var nowYear = new Date().getFullYear() - 1911;
					if (birthDay.substring(0,3) > nowYear){
						return false;
					}

					if ( ! (parseInt(birthDay.substring(3,5)) > 0) || ! (parseInt(birthDay.substring(3,5)) < 13)) {
						return false;
					}

					if ( ! (parseInt(birthDay.substring(5,7)) > 0) || ! (parseInt(birthDay.substring(5,7)) < 32)) {
						return false;
					}
					return true;
				}
			</script>
		</div>
	</div>
</div>

</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="初診資料建立｜網路掛號" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}