{% extends "Patient_Guide/Patient_Guide_base.html" %}

{% load static %}
<!-- === Meta ================================== -->
{% block title %}資料申請｜{{ block.super }}{% endblock %}
{% block og_title %}資料申請｜{{ block.super }}{% endblock %}


<!-- === 子頁細節內容 =========================== -->
<!-- ▼▼▼ Modal ▼▼▼-->
{% block page_modals %}
	<!-- Modal:資料申請-病歷 -->
	<div class="modal fade" id="medical_record" tabindex="-1" role="dialog" style="display: none;">
		<div class="modal-dialog modal-dialog-centered" style="max-width: 600px;">
			<div class="modal-content">
				<div class="modal-body">
					<div>
						<img src="{% static 'common/img/data_apply/medical_records.jpg' %}" title="病歷申請流程" alt="病歷申請流程">
					</div>
				</div>
				<!-- Modal footer -->
				<div class="modal-footer p-0">
					<button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal">
						<i class="fas fa-times" aria-hidden="true"></i> 關閉視窗
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal:資料申請-影像光碟 -->
	<div class="modal fade" id="video_disc" role="dialog">
		<div class="modal-dialog modal-dialog-centered" style="max-width: 600px;">
			<div class="modal-content">
				<div class="modal-body">
					<div>
						<img src="{% static 'common/img/data_apply/Xray.jpg' %}" alt="影像光碟申請流程" title="影像光碟申請流程">
					</div>
				</div>
				<!-- Modal footer -->
				<div class="modal-footer p-0">
					<button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal">
						<i class="fas fa-times" aria-hidden="true"></i> 關閉視窗
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal:資料申請-身心障礙申請 -->
	<div class="modal fade" id="Disability_apply" role="dialog">
		<div class="modal-dialog" style="max-width: 900px;">
			<div class="modal-content">
				<div class="modal-body">
					<div>
						<img class="w-100" src="{% static 'common/img/data_apply/Disability_flow.jpg' %}" alt="身心障礙鑑定申請" title="身心障礙鑑定申請">
					</div>
				</div>
				<div class="modal-footer p-0">
					<button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal">
						<i class="fas fa-times" aria-hidden="true"></i> 關閉視窗
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal:資料申請-長照 2.0 -->
	<div class="modal fade" id="LTC_apply" role="dialog">
		<div class="modal-dialog" style="max-width: 900px;">
			<div class="modal-content">
				<div class="modal-body">
					<div>
						<img class="w-100" src="{% static 'common/img/data_apply/home_care.jpg' %}" alt="長照2.0申請流程" title="長照2.0申請流程">
					</div>
				</div>
				<div class="modal-footer p-0">
					<button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal">
						<i class="fas fa-times" aria-hidden="true"></i> 關閉視窗
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal:資料申請-巴氏量表 -->
	<div class="modal fade" id="Barthel_Ind" role="dialog">
		<div class="modal-dialog" style="max-width: 900px;">
			<div class="modal-content">
				<div class="modal-body">
					<div>
						<img class="w-100" src="{% static 'common/img/data_apply/Barthel_Ind.jpg' %}" alt="巴氏量表申請流程" title="巴氏量表申請流程">
					</div>
				</div>
				<!-- Modal footer -->
				<div class="modal-footer p-0">
					<button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal">
						<i class="fas fa-times" aria-hidden="true"></i> 關閉視窗
					</button>
				</div>     
			</div>
		</div>
	</div>
{% endblock %}
<!-- ▲▲▲ Modal ▲▲▲-->


<!-- ▼▼▼ Content ▼▼▼-->
{% block guide_content %}
<header id="content_h">
    <h2 class="c-onsale-heading">資料申請</h2>
</header>
<div class="l-main-content__body">
    <div class="alert alert-warning font-18 text-justify">
		<strong>申請須知：</strong> 需本人持身分證正本，如委託他人，請持「雙方之身份證正本」以及「委託同意書」。
	</div>
	<div>
		<table class="table table-striped cell-table mb-0">
			<thead>
				<tr>
					<th class="w-25 font-weight-bold title-bg text-center beige-word text-nowrap">申請項目</th>
					<th class="font-weight-bold title-bg text-center beige-word text-nowrap">申請資訊</th>
					<th class="font-weight-bold title-bg text-center beige-word text-nowrap">申請流程圖</th>
				</tr>
			</thead>
			<tbody>
			<tr class="cell_row">
				<td>
					<div class="font-weight-bold text-center text-nowrap py-2">
						<h5 class="font-weight-bold mb-0">巴氏量表</h5>
					</div>
				</td>
				<td>
					<div class="px-3 py-2">
						<div class="流程">下載並填寫以下兩份文件
							<div class="my-1"></div>
							<a href="{% static 'common/doc/data_apply/長安醫院-各項特定病症、病情、病況及健康功能附表暨巴氏量表(Barthel Ind).pdf' %}" target="_blank"><button type="button" class="btn btn-info btn-sm my-1">各項特定病症、病情、病況及健康功能附表暨巴氏量表(Barthel Ind) <i class="fas fa-file-download" aria-hidden="true"></i></button></a>
							<a href="{% static 'common/doc/data_apply/長安醫院-申請聘僱外籍看護工基本資料傳遞單.pdf' %}" target="_blank"><button type="button" class="btn btn-info btn-sm my-1">申請聘僱外籍看護工基本資料傳遞單 <i class="fas fa-file-download" aria-hidden="true"></i></button></a>
						</div>
					</div>
				</td>
				<td>
					<div class="text-center my-2">
						<button type="button" class="btn btn-outline-info btn-sm rounded-0 mb-1" data-toggle="modal" data-target="#Barthel_Ind"><span class="d-sm-block d-md-none">申請流程圖 </span><i class="fas fa-image fa-lg" aria-hidden="true"></i></button>
					</div>
				</td>
			</tr>
			<tr class="cell_row">
				<td>
					<div class="font-weight-bold text-center text-nowrap py-2">
						<h5 class="font-weight-bold mb-0">病歷影本</h5>	
					</div>
				</td>
				<td>
					<div class="p-3">
						<div class="h6 font-weight-bold">
							<span class="h6 font-weight-bold">
								<i class="far fa-clock" aria-hidden="true"></i> 可申請時間
							</span>
						</div>
						<div>週一至週五，08:00~16:30，
							<br class="d-sm-block d-md-none">週六，08:00~11:30
						</div>
						<hr>
						<div class="h6 font-weight-bold">
							<i class="fas fa-bookmark" aria-hidden="true"></i> 預約申請步驟
						</div>
						<div class="px-1 video_disc">
							<div class="流程">下載並填寫以下兩份文件
								<div class="my-1"></div>
								<a href="{% static 'common/doc/data_apply/長安醫院-病歷複製申請書.docx' %}" target="_blank" title="病歷資料複製申請書">
									<button type="button" class="btn btn-info btn-sm my-1">病歷資料複製申請書 <i class="fas fa-file-download" aria-hidden="true"></i></button>
								</a>
								<a href="{% static 'common/doc/data_apply/長安醫院-一般委託同意書.docx' %}" target="_blank" title="一般委託同意書">
									<button type="button" class="btn btn-info btn-sm my-1">一般委託同意書 <i class="fas fa-file-download" aria-hidden="true"></i></button>
								</a>
							</div>
							<div class="flow_query_arrow">
								<i class="fas fa-arrow-right fa-1x" aria-hidden="true"></i>
							</div>
							<div class="流程">
								為保護病患隱私，申請資料需附上病患身分證件正反面影本，如為代理人申請，則需附上雙方證件正反面影本，並透過 E-mail 夾帶前述兩個檔案，於信中寫上您的需求。
								<div class=""></div>
								寄至：<a href="mailto:copyservice@everanhospital.com.tw?subject=長安醫院%20-%20病例影本預約申請" target="_blank">
									<span class="批核者名字" >copyservice@everanhospital.com.tw</span>
								</a>
							</div>
							<div class="flow_query_arrow">
								<i class="fas fa-arrow-right fa-1x" aria-hidden="true"></i>
							</div>
							<div class="流程">我們在收到來信後會儘快為您處理，並透過電話通知，預約時間至本院臨櫃取件</div>
							<div class="flow_query_arrow">
								<i class="fas fa-arrow-right fa-1x" aria-hidden="true"></i>
							</div>
							<div class="流程">因個人資料保護法，故網路申請不適用於郵寄服務，需至本院一樓批價櫃檯取件並檢核證件正本資料，或委託人取件則需攜帶雙方證件及一般委託同意書。</div>
						</div>
					</div>
				</td>
				<td>
					<div class="text-center my-2">
						<button type="button" class="btn btn-outline-info btn-sm rounded-0 mb-1" data-toggle="modal" data-target="#medical_record"><span class="d-sm-block d-md-none">申請流程圖 </span><i class="fas fa-image fa-lg" aria-hidden="true"></i></button>
					</div>
				</td>
			</tr>
			<tr class="cell_row">
				<td>
					<div class="font-weight-bold text-center text-nowrap py-2">
						<h5 class="font-weight-bold mb-0">影像光碟</h5>	
					</div>
				</td>
				<td>
					<div class="p-3">
						<div class="h6 font-weight-bold">
							<i class="far fa-clock" aria-hidden="true"></i> 可申請時間
						</div>
						<div>週一至週五，08:00~22:00，
							<br class="d-sm-block d-md-none">週六，08:00~17:30，週日，08:00~12:00
						</div>
						<hr />
						<div class="text-danger">
							<span class="font-weight-bold"><i class="fas fa-bookmark" aria-hidden="true"></i> 申請須知：</span>為保護病患隱私，申請資料需攜帶 病患身分證，如為代理人申請，則需攜帶雙方身分證正本
						</div>
					</div>
				</td>
				<td>
					<div class="text-center my-2">
						<button type="button" class="btn btn-outline-info btn-sm rounded-0 mb-1" data-toggle="modal" data-target="#video_disc"><span class="d-sm-block d-md-none">申請流程圖 </span><i class="fas fa-image fa-lg" aria-hidden="true"></i></button>
					</div>
				</td>
			</tr>
			<tr class="cell_row">
				<td>
					<div class="font-weight-bold text-center text-nowrap py-2">
						<h5 class="font-weight-bold mb-0">身心障礙鑑定申請</h5>
					</div>
				</td>
				<td>
					<div class="p-3">諮詢/聯絡窗口：04-3611-3611 分機 3777 葉小姐</div>
				</td>
				<td>
					<div class="text-center my-2">
						<button type="button" class="btn btn-outline-info btn-sm rounded-0 mb-1" data-toggle="modal" data-target="#Disability_apply"><span class="d-sm-block d-md-none">申請流程圖 </span><i class="fas fa-image fa-lg" aria-hidden="true"></i></button>
					</div>
				</td>
			</tr>
			<tr class="cell_row">
				<td>
					<div class="font-weight-bold text-center text-nowrap py-2">
						<h5 class="font-weight-bold mb-0">長照 2.0</h5>
					</div>
				</td>
				<td>
					<div class="p-3">諮詢/聯絡窗口：04-3611-3611 分機 3621 吳個管師</div>
				</td>
				<td>
					<div class="text-center my-2">
						<button type="button" class="btn btn-outline-info btn-sm rounded-0 mb-1" data-toggle="modal" data-target="#LTC_apply"><span class="d-sm-block d-md-none">申請流程圖 </span><i class="fas fa-image fa-lg" aria-hidden="true"></i></button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
<!-- ▲▲▲ Content ▲▲▲-->


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="資料申請" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}