{% extends "Patient_Guide/Patient_Guide_base.html" %}

{% load static %}

<!-- === Meta ================================== -->
{% block title %}門診時刻表｜{{ block.super }}{% endblock %}
{% block og_title %}門診時刻表｜{{ block.super }}{% endblock %}


<!-- === 子頁細節內容 =========================== -->
<!-- ▼▼▼ Content ▼▼▼-->
{% block guide_content %}
<header id="content_h">
    <h2 class="c-onsale-heading">門診時刻表</h2>
</header>
<div class="l-main-content__body">
    <div class="row">
        <div class="col-12">
            <div class="u-image-full">
                <img class="w-100" src="{% get_media_prefix %}clinic_time/B001_page-0001.jpg" alt="門診時刻表 第一頁" title="門診時刻表 第一頁">
            </div>
            <div class="u-image-full">
                <img class="w-100" src="{% get_media_prefix %}clinic_time/B001_page-0002.jpg" alt="門診時刻表 第二頁" title="門診時刻表 第二頁">
            </div>
            <div class="u-image-full">
                <img class="w-100" src="{% get_media_prefix %}clinic_time/B001_page-0003.jpg" alt="門診時刻表 第三頁" title="門診時刻表 第三頁">
            </div>
            <div class="u-image-full">
                <img class="w-100" src="{% get_media_prefix %}clinic_time/B001_page-0004.jpg" alt="門診時刻表 第四頁" title="門診時刻表 第四頁">
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- ▲▲▲ Content ▲▲▲-->


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="門診時刻表" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================= -->
{% block sub_extra_js %}
{% endblock %}








