{% extends "Patient_Guide/Patient_Guide_2_Base.html" %}

{% load static %}
<!-- === Meta ================================== -->
{% block title %}掛號須知｜網路掛號｜{{ block.super }}{% endblock %}
{% block og_title %}掛號須知｜網路掛號｜{{ block.super }}{% endblock %}


<!-- === 子頁細節內容 =========================== -->
<!-- ▼▼▼ Content ▼▼▼-->
{% block guide_content %}
<header id="content_h">
    <h2 class="c-onsale-heading">掛號須知</h2>
</header>
<div class="l-main-content__body">
	<div class="registered_notice px-4">
		{% for data_line in data_lines %}
			{% if "<h>" in data_line %}
				<div class="article_h">{{ data_line|cut:"<h>"|safe }}</div>
			{% endif %}

			{% if "<in_date>" in data_line %}
				<div class="text-date"><small>{{ data_line|cut:"<in_date>"|safe }}</small></div>
			{% endif %}

			{% if "<yt>" in data_line %}
				<div class="info_iframe">
					<iframe src="{{ data_line|cut:'<yt>'|safe }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen sandbox="allow-same-origin allow-scripts"></iframe>
				</div>
			{% endif %}

			{% if "<t>" in data_line %}
				<p>{{ data_line|cut:"<t>"|safe }}</p>
			{% endif %}

			{% if "<dot>" in data_line %}
				<div class="triangle">{{ data_line|cut:"<dot>"|safe }}</div>
			{% endif %}

			{% if "<cap>" in data_line %}
				<div class="caption">{{ data_line|cut:"<cap>"|safe }}</div>
			{% endif %}


			{% if "<t_in>" in data_line %}
				<div class="text_in">{{ data_line|cut:"<t_in>"|safe }}</div>
			{% endif %}

			{% if "<t_on>" in data_line %}
				<div class="text_only">{{ data_line|cut:"<t_on>"|safe }}</div>
			{% endif %}

			{% if "<img1>" in data_line %}
				<div class="info_img">
					<img class="img-fluid w-100" src="{% get_static_prefix %}news_4/img/{{ data_line|cut:'<img1>'|safe }}" alt="" height="345">
				</div>
			{% endif %}
		{% endfor %}
	</div>

</div>
{% endblock %}
<!-- ▲▲▲ Content ▲▲▲-->


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="掛號須知｜網路掛號" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}