<div class="c-sidebar-trust js-sidebar-wrapper" id="sidebarMenu">			
	<div class="c-sidebar-trust__header js-sidebar-toggle">
		<div class="u-badge-small">SERVICE</div>
		<div class="c-sidebar-trust__title-row">
			<h3>就醫指南</h3>
			<span class="c-sidebar-trust__toggle-icon"><i class="fas fa-chevron-down" aria-hidden="true"></i></span>
		</div>
		<p>Patient Navigation</p>
	</div>		

	<nav class="c-sidebar-trust__nav" aria-label="台中長安醫院 - 就醫指南" itemscope itemtype="http://schema.org/SiteNavigationElement">				
		<ul class="c-sidebar-trust__list">
			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A002_registration_notice/' %}is-active{% endif %}" href="/A002_registration_notice/" title="台中長安醫院-掛號須知" itemprop="url" {% if request.path == '/A002_registration_notice/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">掛號須知</span>
						<span class="c-sidebar-trust__en">Notice</span>
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A002_clinic_time/' %}is-active{% endif %}" href="/A002_clinic_time/" title="台中長安醫院-門診時刻表" itemprop="url" {% if request.path == '/A002_clinic_time/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">門診時刻表</span>
						<span class="c-sidebar-trust__en">Schedule</span>
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>
			
			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if '/A006_Online_Booking_0/' in request.path %}is-active{% endif %}" href="/A006_Online_Booking_0/" title="台中長安醫院-網路掛號" itemprop="url" {% if '/A006_Online_Booking_0/' in request.path %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">網路掛號</span>
						<span class="c-sidebar-trust__en">Booking</span>
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A002_which_disease/' %}is-active{% endif %}" href="/A002_which_disease/" title="台中長安醫院-我該看哪一科" itemprop="url" {% if request.path == '/A002_which_disease/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">我該看哪一科</span>
						<span class="c-sidebar-trust__en">Division</span>
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A002_data_apply/' %}is-active{% endif %}" href="/A002_data_apply/" title="台中長安醫院-資料申請" itemprop="url" {% if request.path == '/A002_data_apply/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">資料申請</span>
						<span class="c-sidebar-trust__en">Application</span>
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A002_consultation_progress/' %}is-active{% endif %}" href="/A002_consultation_progress/" title="台中長安醫院-看診進度" itemprop="url" {% if request.path == '/A002_consultation_progress/' %}aria-current="page"{% endif%}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">看診進度</span>
						<span class="c-sidebar-trust__en">Progress</span>
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if '/A007_Reserve_pre/' in request.path %}is-active{% endif %}" href="/A007_Reserve_pre/login/" title="台中長安醫院-預約慢箋" itemprop="url" {% if '/A007_Reserve_pre/' in request.path %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">預約慢箋</span>
						<span class="c-sidebar-trust__en">Prescription</span>
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A002_payment_machine/' %}is-active{% endif %}" href="/A002_payment_machine/" title="台中長安醫院-繳費機介紹" itemprop="url" {% if request.path == '/A002_payment_machine/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">繳費機介紹</span>
						<span class="c-sidebar-trust__en">Payment</span>
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A002_self_service/' %}is-active{% endif %}" href="/A002_self_service/" title="台中長安醫院-自助掛號機" itemprop="url" {% if request.path == '/A002_self_service/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">自助掛號機</span>
						<span class="c-sidebar-trust__en">Self-Service</span>
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>
		</ul>
	</nav>
</div>