{% extends "Patient_Guide/Patient_Guide_2_Base.html" %}

{% load static %}

<!-- === Meta ================================== -->
{% block title %}登入｜網路掛號｜{{ block.super }}{% endblock %}
{% block og_title %}登入｜網路掛號｜{{ block.super }}{% endblock %}
{% block twitter_title %}登入｜網路掛號｜{{ block.super }}{% endblock %}


<!-- === 子頁細節內容 =========================== -->

<!-- ▼▼▼ Modal ▼▼▼-->
{% block page_modals %}
<div id="dialog-content" class="Booking_login">
	<!-- 登入失敗：是否要填初診資料進行預約 -->
	<div id="login_fair_to_first">
		<div class="message-icon message-warning message-icon-show">
			<div class="message-icon-content">!</div>
		</div>
		<div class="mb-2" style="padding: 0em 1em 0;font-weight: 600;text-align: center;margin: 0;word-wrap: break-word;max-width: 100%;color: inherit;font-size: 1.875em;">登入失敗！</div>
		<div class="mb-2" style="font-size: 1.125em;text-align: center;">資料不存在，您是否要填寫初診資料進行預約?</div>
		<div class="Confirm_btn_50 mt-4">
			<input type="submit" class="btn btn-success" value="確定" onclick='location.href=("/A006_Online_Booking_first/")'>
			<input type="button" class="btn btn-light" value="取消" data-fancybox-close="">
		</div>
	</div>
</div>
{% endblock %}
<!-- ▲▲▲ Modal ▲▲▲-->

{% block guide_content %}
<!-- ▼▼▼ Content ▼▼▼-->
<div class="l-main-content__body">
	<!-- ▼▼▼▼▼▼▼▼ 登入功能 ▼▼▼▼▼▼▼▼ -->
	<div id="booking_login">
		<div class="login_title">登入</div>
		<div>
			<form action="" method="POST" name="Form1" onsubmit="return CheckInput()">
				{% csrf_token %}
				<div class="form-group">
					<label for="ID_card" class="cofe-word mark_arrow_title">
						<h5 class="font-weight-bold mb-0">身分證字號:</h5>
					</label>
					{% if user_acc %}
					<input type="text" class="form-control border-coco rounded-0 input2" id="ID_card" placeholder="" name="ID_card" required minlength="10" maxlength="10" pattern="\S*" title="不能输入空格" style="text-transform:uppercase;" value="{{user_acc}}">
					{% else %}
					<input type="text" class="form-control border-coco rounded-0 input2" id="ID_card" placeholder="" name="ID_card" required minlength="10" maxlength="10" pattern="\S*" title="不能输入空格" style="text-transform:uppercase;">
					{% endif %}
				</div>

				<div class="form-group">
					<label for="Birthday" class="cofe-word mark_arrow_title">
					<h5 class="font-weight-bold mb-0">出生日期：</h5>
					</label>
					{% if user_pwd %}
					<input type="text" class="form-control border-coco rounded-0 input2" id="Birthday" placeholder="民國 52 年 1 月 8 號，請輸入 0520108" name="Birthday" required minlength="7" maxlength="7" pattern="\S*" title="不能输入空格" value="{{user_pwd}}">
					{% else %}
					<input type="text" class="form-control border-coco rounded-0 input2" id="Birthday" placeholder="民國 52 年 1 月 8 號，請輸入 0520108" name="Birthday" required minlength="7" maxlength="7" pattern="\S*" title="不能输入空格">
					{% endif %}
				</div>
				<!-- <div class="form-inline">
					<label for="vcode" class="cofe-word mark_arrow_title">
					<h5 class="font-weight-bold mb-0">驗證碼：</h5>
					</label>
					<input type="text" name="verifycode" class="form-control border-coco rounded-0 input2" id="verifycode" placeholder="請輸入驗證碼" style="width: 120px;" required>
					<a href="javascript:refreshcode();">
						<img src="CheckCodeServlet" title="看不清點擊刷新" id="vcode" />
					</a>
				</div> -->
				<hr />
				<!-- 效果：登入成功 -->
				<div class="Confirm_btn_100">
					<input type="submit" class="btn btn-success" value="登入">
				</div>
				<!-- 效果：登入失敗 -->
				<!-- <div class="Confirm_btn_100 mt-1">
					<input type="submit" class="btn btn-success" value="登入失敗" data-fancybox data-src="#dialog-content">
				</div> -->
			</form>			
		</div>
	</div>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}



<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="登入｜網路掛號" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
<style>
	.l-container-panel{
		max-width: 800px;
		width: 100%;
	}
</style>
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
	<script>
	/* 判斷身份證字號與生日是否符合規範條件格式 */
		function CheckInput() {
		   if ( ! checkID( document.Form1.ID_card.value ) ){
			  window.alert( "身份證字號錯誤！" );
			  return false;
			}
			else if ( ! checkBirthday( document.Form1.Birthday.value ) ){
			  window.alert( "生日格式錯誤！" );
			  return false;
		    }
		    else{
			   return true;
		    }
		}
		function checkID( idStr ) {
		// 依照字母的編號排列，存入陣列備用。
			var letters = new Array('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'J', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'X', 'Y', 'W', 'Z', 'I', 'O');
			// 儲存各個乘數
			var multiply = new Array(1, 9, 8, 7, 6, 5, 4, 3, 2, 1);
			var nums = new Array(2);
			var firstChar;
			var firstNum;
			var lastNum;
			var total = 0;
			// 撰寫「正規表達式」。第一個字為英文字母，
			// 第二個字為1或2，後面跟著8個數字，不分大小寫。
			var regExpID=/^[a-z](1|2)\d{8}$/i;
			// 使用「正規表達式」檢驗格式
			if (idStr.search(regExpID)==-1) {
				// 2025/1/16 為了讓外籍人士可以登陸掛號，先不判斷身分證字號格式
				return true;
			} else {
				// 取出第一個字元和最後一個數字。
				firstChar = idStr.charAt(0).toUpperCase();
				lastNum = idStr.charAt(9);
			}

			// 找出第一個字母對應的數字，並轉換成兩位數數字。
			for (var i=0; i<26; i++) {
				if (firstChar == letters[i]) {
					firstNum = i + 10;
					nums[0] = Math.floor(firstNum / 10);
					nums[1] = firstNum - (nums[0] * 10);
					break;
				}
			}

			// 執行加總計算
			for(var i=0; i<multiply.length; i++){
				if (i<2) {
					total += nums[i] * multiply[i];
				} else {
					total += parseInt(idStr.charAt(i-1)) * multiply[i];
				}
			}

			// 和最後一個數字比對
			if (((10 - (total % 10))%10) != lastNum) {
				return false;
			}
			return true;
		}

		/* 判斷生日條件格式是否合理 */
		function checkBirthday( birthDay ){
			// 不得大於今年
			var nowYear = new Date().getFullYear() - 1911;
			if (birthDay.substring(0,3) > nowYear){
				return false;
			}
			// 月份不得大於12且小於1
			if ( ! (parseInt(birthDay.substring(3,5)) > 0) || ! (parseInt(birthDay.substring(3,5)) < 13)) {
				return false;
			}
			// 日不得大於31且小於1
			if ( ! (parseInt(birthDay.substring(5,7)) > 0) || ! (parseInt(birthDay.substring(5,7)) < 32)) {
				return false;
			}
			return true;
		}
	</script>

	<!-- 錯誤訊息-資料比對 -->
	{% if errorMessageOn %}
	<script>
	  document.addEventListener("DOMContentLoaded", function () {
	    error_message('{{ errorMessage }}');
	  });
	</script>
	{% endif %}
{% endblock %}