/* ▲▲▲ === 共用版型 === ▲▲▲ */
.elem__paragraph-center-large{
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15px), calc(50% + 20px) calc(100% - 15px), 50% 100%, calc(50% - 20px) calc(100% - 15px), 0 calc(100% - 15px));
    background: #fff;
    /* background: url(/Public/common/img/title-bg6.png) no-repeat;
    background-size: cover; */
    color: #f5f4f0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15px), calc(50% + 20px) calc(100% - 15px), 50% 100%, calc(50% - 20px) calc(100% - 15px), 0 calc(100% - 15px));
    padding: 35px 0;
}          
.a_inner{
    max-width: 90%;
    /* padding: 60px; */
    margin: 0 auto;
    position: relative;
}
.a_inn_div{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-weight: 500;
    border-radius: 10px;
}
.a_tit,
.a_tit_1{
    background: #75482b;
    color: #fff;
    padding: 15px;
    width: 100%;
    max-width: 500px;
    margin: 10px auto 20px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    position: relative;
}
.a_tit h2,
.a_tit_1 h2{
    font-size: 2.5rem;
    margin-bottom: 0;
    font-weight: bold;
}
.a_tit h2 span,
.a_tit_1 h2 span{
    font-size: 22px;
}
.a_tit::before{
    content:'';
    background: #75482b;
    width: 1px;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -38px;
    margin: 0 auto;                    
}
.a_tit::after{
    content:'';
    background: #75482b;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -38px;
    margin: 0 auto;
    border-radius: 99em;
}
.a_content_div{
    text-align: center;
    margin-top: 60px;
}


/* ▲▲▲ === 共用背景 === ▲▲▲ */
/* 單色 */
.a_bg{
    /* background: linear-gradient(90deg, #003A9B 50%, #00C5EC 50%); */
    width: 100%;
    background-color: #f5f2e7;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpiYGBgEPr//z8DCIMBkAEWYIRywIIAAQYAPcIPFz/ScLMAAAAASUVORK5CYII=);
    margin-top: -15px;
    padding: 20px 0px;
    position: relative;
}
/* 有圖 */
.a_bg_img{
    background: url(/Public/common/img/report_bg.jpg) no-repeat fixed center center;
    background-size: cover;
    position: relative;
    z-index: 0;
    padding: 20px 0px;
}
.a_bg_img::before{
    content: "";
    background: rgba(248, 249, 250, 0.7);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
/* 錯版+有圖 */
.a_bg_grid{
    position: relative;
    /* padding: 0 0 30px 0; */
}
.a_bg_grid::before{
    content:'';
    background: url(/Public/common/img/title-bg6.png) no-repeat;
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-size: cover;
}
/* ▲▲▲ === 共用 Card (無輪播) === ▲▲▲ */
.out_divimg{
    width: 100%;
    max-width: 500px;
    overflow: hidden;
}
.Img_div{
    height: 100%;
    /* max-height: 150px; */
    width: 100%;
    object-fit: cover;
    /* border-radius: 5px; */
    overflow: hidden;
}

/* ▲▲▲ === 共用 Card (輪播) === ▲▲▲ */

.spacing_mp{
    margin: 0.25rem 0.5rem 1rem 0.5rem;
}
.slide_card{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    position: relative;
}
.slide_card h5{
    font-weight: bold;
}
.Img_div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.48s ease-in-out;
    transform: scale(1.1);
}
.slide_card:hover .Img_div img{
    transform: scale(1.2);
}
.info_img{
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}
.info_img img{
    transition: transform 0.48s ease-in-out;
    /* transform: scale(1.1); */
}
/*避免網頁載入時，圖片一次多張顯示*/
.banner{
  visibility: hidden; /* 隱藏輪播容器 */
}
.slick-initialized{
  visibility: visible; /* 初始化完成後顯示 */
}
.slide_card:hover .info_img img{
    transform: scale(1.06);
}
.slide_card:hover .rwd_px_0 h5,
.slide_card:hover .rwd_px_0 .text-date{
    color: #f5961d !important;
}
.rwd_px_0{
    height: 155px;
    /* position: relative; */
    padding: 0px !important;
}
.text-date{
    text-align: right;
    position: absolute;
    bottom: 1%;
    right: 15px;
}
/* 輪播元件 */
.slick-arrow-btn{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%), 0 0 6px -2px rgb(0 0 0 / 20%);
    transition: all .3s ease-in-out;
    top: 35%;
    position: absolute;
    z-index: 1;
}
.arrow_btright{
    right: -15px;
}
.arrow_btleft{
    left: -15px;
}
.banner_arrow_right,
.banner_arrow_left{
    background-color: transparent;
    color: #fff;
    opacity: 0.5;
    top: 45%;
    font-size: 4rem;
    border: 0px;
    box-shadow: none;
}
.banner_arrow_right{
    right: 30px;
}
.banner_arrow_left{
    left: 30px;
}
.banner_arrow_right:hover,
.banner_arrow_left:hover{
    opacity: 1;
}

/* ▲▲▲ === 共用按鈕 === ▲▲▲ */
.button2{
    display: inline-block;
    /* *display: inline; */
    zoom: 1;  
    padding: 11px 15px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #bbb;
    overflow: visible;
    font: bold 13px arial, helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: #555;
    background-color: #ddd; 
    background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0), #dfdddd);
    transition: background-color .2s ease-out;
    background-clip: padding-box; /* Fix bleeding */
    border-radius: 3px;
    /* box-shadow: 0 1px 0 rgba(0, 0, 0, .3),
                0 2px 2px -1px rgba(0, 0, 0, .5),
                0 1px 0 rgba(255, 255, 255, .3) inset; */
    /* text-shadow: 0 1px 0 rgba(255,255,255, .9);   */
}

.button2:hover{
    background-color: #eee;
    color: #555;
}

.button2:active{
    background: #e9e9e9;
    position: relative;
    top: 1px;
    text-shadow: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.button2[disabled], .button2[disabled]:hover, .button2[disabled]:active{
    border-color: #eaeaea;
    background: #fafafa;
    cursor: default;
    position: static;
    color: #999;
    /* Usually, !important should be avoided but here it's really needed :) */
    box-shadow: none !important;
    text-shadow: none !important;
    cursor: not-allowed;
}

/* Larger buttons styles */

.button2.large{
    /* padding: 12px 30px; */
    padding: 8px 15px;
    text-transform: uppercase;
}

.button2.large:active{
    top: 2px;
}
/* Colored buttons styles */

.button2.color{
    color: #555;
    /* text-shadow: 0 1px 0 rgba(0,0,0,.2); */
    background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
    border-radius: 3px;
    line-height: 25px;
}

/* */

.button2.green{
    background-color: #57a957;
    border-color: #57a957;
    color: #fff;
}

.button2.green:hover{
    background-color: #62c462;
}

.button2.green:active{
    background: #57a957;
}

/* */

.button2.warning{
    background-color: #fea815;
    border-color: #fea815;
    color: #212529;
}

.button2.warning:hover{
    background-color: #ffca2c;
    text-shadow: 0 1px 0 rgba(255,255,255, .9);
}

.button2.warning:active{
    background: #fea815;
    border: 1px solid #ffc720;
}

/* */

.button2.light_green{
    background-color: #9cd919;
    border-color: #9cd919;
    color: #212529;
}

.button2.light_green:hover{
    background-color: #aee536;
}

.button2.light_green:active{
    background: #9cd919;
}

/* */

.button2.red{
    background-color: #c43c35;
    border-color: #c43c35;
    color: #fff;
}

.button2.red:hover{
    background-color: #ee5f5b;
}

.button2.red:active{
    background: #c43c35;
}

/* */

.button2.blue{
    background-color: #269CE9;
    border-color: #269CE9;
    color: #fff;
}

.button2.blue:hover{
    background-color: #228dd1;
}

.button2.blue:active{
    background: #269CE9;
}

/* */

.green[disabled], .green[disabled]:hover, .green[disabled]:active{
    border-color: #57A957;
    background: #57A957;
    color: #D2FFD2;
}

.red[disabled], .red[disabled]:hover, .red[disabled]:active{
    border-color: #C43C35;
    background: #C43C35;
    color: #FFD3D3;
}

.blue[disabled], .blue[disabled]:hover, .blue[disabled]:active{
    border-color: #269CE9;
    background: #269CE9;
    color: #93D5FF;
}


/* Group buttons */

.button2-group,
.button2-group li{
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.button2-group{
    font-size: 0; /* Inline block elements gap - fix */
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, .04);
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    padding: 7px;
    border-radius: 7px; 
}

.button2-group li{
    margin-right: -1px; /* Overlap each right button border */
}

.button2-group .button2,
.button2{
    font-size: 20px; /* Set the font size, different from inherited 0 */
    border-radius: 0; 
}

.button2-group .button2:active{
    box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset,
            5px 0 5px -3px rgba(0, 0, 0, .2) inset,
            -5px 0 5px -3px rgba(0, 0, 0, .2) inset;   
}

.button2-group li:first-child .button2{
    border-radius: 3px 0 0 3px;
}

.button2-group li:first-child .button2:active{
    box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset,
            -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}

.button2-group li:last-child .button2{
    border-radius: 0 3px 3px 0;
}

.button2-group li:last-child .button2:active{
    box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset,
            5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}


/* ▲▲▲ === 常用服務 id="speed_tool" === ▲▲▲ */
.hos-services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hos-services-item{
    width: 50%;
    order: 0;
}
.top-item{
    order: -1;
    width: 100%;
}
.service {
    text-align: center;
    padding: 30px 10px 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.3s, background 0.5s;
}
.service i {
    font-size: 55px;
    margin-bottom: 10px;
    color: #f5961d;
}
.service h4 {
    font-weight: 600;
    margin-bottom: 8px;
}
.service:hover {
    transform: scale(1.05);
}
.service:hover i {
    color: #754826;
}
.icon-bg-circle {
    position: relative
}
.icon-lg {
    font-size: 50px
}
.icon-bg-circle::after {
    content: '';
    position: absolute;
    width: 68px;
    height: 68px;
    top: -15px;
    left: 0px;
    border-radius: 50%;
    background: inherit;
    opacity: .1
}
.icon-bg-yellow::after {
    background: #f6a622 !important; 
    /* background: #754826 !important; */                                        
}                        
.icon-yellow {
    color: #b69d75;
} 


/* ▲▲▲ === 最新消息 id="News" === ▲▲▲ */   
#News td h5{
    font-weight: bold;
    line-height: 30px;
}
#News .table td, .table th{
    border: 1px solid rgb(121, 85, 72, 0.32);
}
#News .a_content_div{
    border: 2px solid #795548;
    margin-top: -55px;
}
#News .a_content_div table{
    margin-top: 35px;
}


/* ▲▲▲ === 影音消息 id="report_mov" === ▲▲▲ */
#report_mov .ell_two{
    font-weight: bold;
}
#report_mov .tab_list{
    position: relative;
    /* display: inline-block; */
    /* background: #0c4f94; */
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    /* width: 415px;
    padding: 20px;
    z-index: 1; */
}
#report_mov .tab_list img{
    position: absolute;
    right: -20px;
    bottom: -10px;
}
#report_mov .tab_content{
    background: #e0eef6;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    position: relative;
    margin-top: -80px;
    margin-bottom: 80px;
    padding: 115px 20px 40px;
}
/* youtube 播放的設定 */
.youtube-player {
    position: relative;
    padding-bottom: 56.25%;
/*    height: 0;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img {
    object-fit: cover;
    display: block;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
}

.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}
.youtube-player .play {
    height: 48px;
    width: 68px;
    left: 50%;
    top: 50%;
    margin-left: -34px;
    margin-top: -24px;
    position: absolute;
    background: url('https://i.ibb.co/j3jcJKv/yt.png') no-repeat;
    cursor: pointer;
}
.embed-container { 
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ▲▲▲ === 媒體報導 id.media_reports === ▲▲▲ */
#media_reports .Img_div{
    /* max-height: 180px;
    margin-bottom: 10px; */
    height: 200px;
}

#media_reports .media_new h5{
    margin-bottom: 5px;
    font-weight: bold;
}

/* ▲▲▲ ==== 醫療資訊 id="medical_info" === ▲▲▲ */
#medical_info .a_inner{
    padding: 50px 0;
}
#medical_info .a_tit{
    background: #f5f4f0;
    color: #75482b;
    text-align: center;
    margin-bottom: 60px;
}
#medical_info .a_tit::before,
#medical_info .a_tit::after{
    background: #f5f4f0;
}


/* ▲▲▲ ==== 重點醫療 id="special_in" === ▲▲▲ */
.special_container {
    width: 100%;
    /* height: 150px; */
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0px;
}
.special_container img {
    width: 100%;
    transition: all .5s;
    transform:scale(1,1);
    transition: all 1s ease-out;
    height: 200px;
}
.img_caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.5s;            
    opacity: 1;
    background-color: rgba(0,0,0,.7);
}
.img_caption h1 {
    text-transform: uppercase;
    margin: 0;
}
.img_caption h2 {
    font-size: 2.2rem;
    line-height: 1;
    margin-top: .5rem;
}
.img_caption p {
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-bottom: 0;
}
.special_container:hover .img_caption {
    opacity: 0;
    background-color: rgba(0,0,0,0);
}
.special_container:hover img {
    /* transform: scale(1.3) rotate(10deg); */
    transform:scale(1.1,1.1);
}

/* RWD 以手機尺寸為主，用 min-width 去切 */
/* RWD 以桌機尺寸為主，用 max-width 去切 */

@media (min-width: 576px) {
    .Div_box{
        width: calc(50% - 1%);
    }
}

@media (min-width: 768px) {
    .hos-services-item{
        width: 14.2%;
        order: 0;
    }
    .top-item{
        order: 0 !important;
    }
    #media_reports .Img_div{
        height: 200px;
    }
    #News .table td, .table th{
        border: 0px solid rgb(121, 85, 72, 0.32);
        border-bottom: 1px solid rgb(121, 85, 72, 0.32);
    }
    #News td h5{
        line-height: 40px;
    }
    #News .a_content_div table{
        margin-top: 90px;
    }
    .a_tit_1::before{
        content:'';
        background: #75482b;
        width: 1px;
        height: 50px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -38px;
        margin: 0 auto;                    
    }
    .a_tit_1::after{
        content:'';
        background: #75482b;
        width: 10px;
        height: 10px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -38px;
        margin: 0 auto;
        border-radius: 99em;
    }
}

@media (min-width: 992px) {
    .Div_box{
        width: calc(25% - 1%);
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {
    
}
