/* ╟ 子頁各功能專屬樣式 ╢ */

/* ===== 交通資訊 ===== */

/* ===== 媒體報導、影音消息 ===== */
.out_divimg{
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    /* border-radius: 5px; */
}
.Img_div{
    height: 150px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.Img_div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.48s ease-in-out;
    transform: scale(1.1);
}
/* .youtube_page .Img_div{
    height: 100px;
} */
.youtube_page:hover .Img_div img{
    transform: scale(1.1) !important;
}
.media_new:hover .Img_div img{
    transform: scale(1.2);
}
.list_c_div{
    /* border-top: 5px solid transparent;
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1); */
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.list_c_div:hover{
    background: linear-gradient(to bottom, #f5f5f5 0%, #f2f2f2 100%) !important;
    /* border-top: 5px solid #ec483b; */
    /* box-shadow: 5px 10px 5px 0 rgba(0, 0, 0, 0.1) !important; */
    border-top: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    z-index: 1;
    transform: scale(1.01);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}																	
.list_c_img_div, .list_c_mov_div{
    width: 300px;
    height:160px;
    position:relative;	
    transition: transform 300ms ease;	
}
.list_c_img{
    /* height: 150px; */
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    position:absolute;
    overflow: hidden;
}
.cardlist li:nth-child(2n){
    background: #f6f6f6;
}
.mov_size{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.26%;
}
.mov_size iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;     
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:8px;
}
.mov_size{
	/* height: 145px; */
	height: 181px;
}
.text-date{
	font-size: 13px;
	color: #888;
	margin-bottom: 5px;
	line-height: 1.7;
}
.text-date > small:before{
    margin-right: 5px;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f017";
}
.mark_arrow_title > h5:before{
    margin-right: 5px;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f0da";
}

.hr_line{
	height: 1px;
	width: 100%;
	background-color: #999;
	margin-bottom: 10px;
}
.card-body .text{
	color: #000;
	font-size: 18px;
	font-weight: 600;
}

.is-brown{
	background-color: #dbd5d5;
	transition: color 0.3s ease-in-out;
}
.youtube-player {
    position: relative;
    padding-bottom: 56.25%;
/*    height: 0;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
  }

  .youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
  }

  .youtube-player img {
    object-fit: cover;
    display: block;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
  }

  .youtube-player img:hover {
    -webkit-filter: brightness(75%);
  }

  .youtube-player .play {
    height: 48px;
    width: 68px;
    left: 50%;
    top: 50%;
    margin-left: -34px;
    margin-top: -24px;
    position: absolute;
    background: url('https://i.ibb.co/j3jcJKv/yt.png') no-repeat;
    cursor: pointer;
  }

/* ===== 停休診公告 ===== */

.break_wd{
	white-space: normal;
} 
.stop_date th{
	width: 80px;
}
.stop_date th{
	border-right: 1px solid #dee2e6;
}
.sticky_circle{
	border-radius: 50%;
	width: 60px;
	height: 45px;
	vertical-align: middle;
	line-height: 45px;
	font-size: 20px;
}
.sky_blue_color{
	background:#E5F3FE;
	color: #2196f3;
}
.green_lake_color{
	background: #E1F3F1;
	color: #009688;
}
.box_out{
    width: 10%;
    padding: 2px;
}
.stop_date{
    /*background-color: #ece1bf;*/
    border: 1px solid #9a9b9c;
    color: #7f8081;
    font-weight: bold;
    text-align: left;
    padding: 15px 3px 3px 15px;
    position: relative;
}
/* .mor_date{
    background-color: #BAE7FF;
    color:#1151B3;
}
.eve_date{
    background-color: #EFDBFF;
    color: #552F97;
}
.noon_date{
    background-color: #FFF1B8;
    color: #905911;
} */
.mor_date::after,
.eve_date::after,
.noon_date::after{
    position: absolute;
    font-size: 13px;
    left: 1px;
    top: 2px;
    white-space: normal;
    line-height: 13px;
}																
.mor_date::after{
    /* content: "早\A診"; */
    content: "早";
    /* color: rgba(17, 81, 179, .82); */
}
.eve_date::after{
    /* content: '晚\A診'; */
    content: '晚';
    /* color: rgba(85, 47, 151, 0.70); */
}
.noon_date::after{
    /* content: '午\A診'; */
    content: '午';
    /* color: rgba(144, 89, 17, 0.82); */
}

/* ===== 醫療科室介紹、意見反映 ===== */
.d_intro{
    background-color: #f6f0e9;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
    -webkit-transition: .3s;
    transition: .3s;
    overflow: hidden;
}
.d_intro .in_icon{
    bottom: -14px;
    right: 8px;
}
.d_intro .in_icon i{
    width: 80%;
    font-size: 140px;
    float: right;
}
.d_intro .in_content{
    height: auto;
    min-height: 100%;
    padding: 15px 20px 20px;	
}
.d_intro .in_content .in_title{
    color: #754826;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;	
	margin-top: 5px;
}
.d_intro .in_content .in_subtitle{
    margin-top: 3px;
    color: #754826;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
	margin-bottom: 18px;
}
a .d_intro:hover{
    background-color: #fbe6d0;
}
.process-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
}
.traineeship .activity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    margin: 6px;
    background-color: #f6f0e9;
    /* background-color: #242835; */
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    overflow: hidden;
}
.animate-from-bottom__0 {
    -webkit-animation-name: from-left;
    animation-name: from-left;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}
.traineeship .activity .relative-block {
    width: 100%;
    /* min-height: 350px; */
}
@-webkit-keyframes from-left {
    from {
        -webkit-transform: translateY(50px);
        transform: translateY(50px)
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}
@keyframes from-left {
    from {
        -webkit-transform: translateY(50px);
        transform: translateY(50px)
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}
.relative-block {
    position: relative;
}
.activity-icon {
    position: absolute;
    /* bottom: 0; */
	/* right: 0; */
    bottom: -15px;
    right: 15px;
}
.activity-icon i{
    width: 65%;
	font-size: 70px;
    float: right;
}
.traineeship .inactive {
    padding: 20px;
	position: relative;
}
.traineeship .inactive .title {
    border-bottom: 3px solid #f5961d;
    /* padding-bottom: 14px; */
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: #754826;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 28px;
}
.traineeship .activity .con_active {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: auto;
    min-height: 100%;
    padding: 25px 30px 50px;
}
.traineeship .activity .con_active .title {
    color: #754826;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
}
.traineeship .activity .con_active .sub-title {
    margin-top: 10px;
    color: #754826;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
}
.traineeship .activity:hover {
    width: 558px;
    background-color: #f6f0e9;
}
.traineeship .activity:hover .inactive {
    display: none;
}
.traineeship .activity:hover .con_active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* width: 340px; */
}

/* ===== 醫師介紹 ===== */
.doc_list > div{
    border-bottom: 1px solid #eee !important;
}
.doc_list > div:last-child{
    border-bottom: 0px solid #eee !important;
}
.about-text h4 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 6px;
}
.d_img_div{
    position: relative;
    width: 100%;
    height: 280px;
    /* height: 310px; */
    max-width: 200px;
    overflow: hidden;
    margin: 0 auto;
}
.d_img_div.news_img{
    max-height: 100%;
    height: 110px;
}
.d_img_div img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    height: auto;
}
.doctor_wh{
    height: 330px !important;
    max-width: 250px !important;
}

.doctor_news h5,
.media_new h5{
    margin-bottom: 5px;
    font-weight: bold;
}
.doctor_news small,
.text-date small,
.media_new small{
    color: #6c757d;
    font-size: 14px;
    margin: 5px 0px;
}
.doctor_mov{
    padding: 10px 10px 20px 10px;
}
.doctor_mov .spacing_mp{
    margin: 0.25rem 0.5rem 1rem 0.5rem;
}
.doctor_mov .info_card{
    background-color: #fff;
    border: 1px solid #ddd;
}
.doctor_mov .info_card > div{
    padding: 5px;
}
.doctor_mov .info_card img{
    width: 100%;
}
.group-btn{
    color:#000;
    margin: 0 2px;
    font-size: 15px;
    background: #ddd;
    /* padding: 10px 15px;  */
    /* -webkit-box-shadow: 0 5px 6px -3px #999;
    -moz-box-shadow: 0 5px 6px -3px #999;
    box-shadow: 0 5px 6px -3px #999; */
}
.group-btn.cofe_color{
    color:#754826;
    background: #f6f0e9;
}
.group-btn:hover,
.group-btn.yellow:hover{
    -webkit-box-shadow: 0 4px 6px -3px #aaa;
    -moz-box-shadow: 0 4px 6px -3px #aaa;
    box-shadow: 0 4px 6px -3px #aaa;
}
.giant { font-size: 1.2em;} 

.group-btn.grey {
    color: #222;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#d1d0d0));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #d1d0d0); 
    background-image:    -moz-linear-gradient(top, #f5f5f5, #d1d0d0);
    background-image:     -ms-linear-gradient(top, #f5f5f5, #d1d0d0);
    background-image:      -o-linear-gradient(top, #f5f5f5, #d1d0d0);
    border: 1px solid #cccccc;
    text-shadow: #fff 1px 1px 0;
}
.group-btn.yellow {
    color: #000;
    background-color: #ffd500; 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd500), to(#f7a600));
    background-image: -webkit-linear-gradient(top, #ffd500, #f7a600); 
    background-image:    -moz-linear-gradient(top, #ffd500, #f7a600);
    background-image:     -ms-linear-gradient(top, #ffd500, #f7a600);
    background-image:      -o-linear-gradient(top, #ffd500, #f7a600);
    border: 1px solid #e79b00;
    text-shadow: #f4d492 1px 1px 0;
}
.group-btn.grey:active,
.group-btn.grey:hover{
    margin-top: 10px
    -webkit-box-shadow:inset 0 4px 6px -3px #999;
    -moz-box-shadow:inset 0 4px 6px -3px #999;
    box-shadow:inset 0 4px 6px -3px #999;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#dddddd));
    background-image:-webkit-linear-gradient(top, #dddddd, #dddddd); 
    background-image:-moz-linear-gradient(top, #dddddd, #dddddd);
    background-image:-ms-linear-gradient(top, #dddddd, #dddddd);
    background-image:-o-linear-gradient(top, #dddddd, #dddddd);
}
.group-btn.yellow:active,
.group-btn.yellow:hover{
    /* color: #fff;
    text-shadow: #f3b53a 1px 1px 0; */
    margin-top: 10px;
    -webkit-box-shadow: inset 0 4px 6px -3px #938c8c;
    -moz-box-shadow: inset 0 4px 6px -3px #938c8c;
    box-shadow: inset 0 4px 6px -3px #938c8c;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7a600), to(#f7a600));
    background-image: -webkit-linear-gradient(top, #f7a600, #f7a600); 
    background-image: -moz-linear-gradient(top, #f7a600, #f7a600);
    background-image: -ms-linear-gradient(top, #f7a600, #f7a600);
    background-image: -o-linear-gradient(top, #f7a600, #f7a600);
}
article a, article a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}	
.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #fff;
}									
.postcard.light {
    /* background-color: #e1e5ea; */
    background-color: #f6f0e9;
}
.postcard .t-dark {
    color: #18151f;
}
.postcard a {
    color: inherit;
}
.postcard h1, .postcard .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.postcard .small {
    font-size: 80%;
}
.postcard .postcard__title {
    font-size: 1.75rem;
}
.postcard .postcard__img {
    /* max-height: 550px; */
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
}
.postcard .postcard__img_link {
    display: contents;
}
.postcard .postcard__title i{
        color: #1877f2;
}
.postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #695454;
    transition: width 0.2s ease;
}
.postcard .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}
.postcard .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
}
.postcard .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
}
.postcard .postcard__tagbox .tag__item:hover {
    background: rgba(83, 83, 83, 0.8);
}
.postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
}
.postcard:hover .postcard__bar {
    width: 100px;
}														
.postcard .postcard__tagbox .red.play:hover {
    background: #bdbb49;
    color: black;
}
.red .postcard__title:hover {
    color: #bdbb49;
}
.red .postcard__bar {
    background-color: #bdbb49;
}
.red::before {
    background-image:linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}
.red:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}
/* youtube 播放的設定 */
.youtube-player {
    position: relative;
    padding-bottom: 56.25%;
/*    height: 0;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img {
    object-fit: cover;
    display: block;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
}

.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}
.youtube-player .play {
    height: 48px;
    width: 68px;
    left: 50%;
    top: 50%;
    margin-left: -34px;
    margin-top: -24px;
    position: absolute;
    background: url('https://i.ibb.co/j3jcJKv/yt.png') no-repeat;
    cursor: pointer;
}
.embed-container { 
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;
    }
    .postcard .postcard__title {
        font-size: 2rem;
    }
    .postcard .postcard__tagbox {
        justify-content: start;
    }
    .postcard .postcard__img {
        /* max-width: 300px; */
        max-height: 400px;
        height: 100%;
        transition: transform 0.3s ease;
    }
    .postcard .postcard__text {
        padding: 2rem 0rem 1rem 2rem;
        width: 100%;
    }
    .postcard .media.postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        background: #18151f;
        top: -20%;
        height: 130%;
        width: 55px;
    }
    .postcard:hover .postcard__img {
        transform: scale(1.1);
    }
    .postcard:nth-child(2n+1) {
        flex-direction: row;
    }
    .postcard:nth-child(2n+0) {
        flex-direction: row-reverse;
    }
    /* .postcard:nth-child(2n+1) .postcard__text::before {
        left: -20px !important;
        transform: rotate(4deg);
    }
    .postcard:nth-child(2n+0) .postcard__text::before {
        right: -12px !important;
        transform: rotate(-4deg);
    } */
    .red::before {
        background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
    }
    .red:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
    }	
}
@media screen and (min-width: 1024px) {
    .postcard__text {
        padding: 2rem 3.5rem;
    }
    .postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        top: -20%;
        height: 130%;
        width: 60px;
    }
    /* .postcard.light .postcard__text:before {
        background: #e1e5ea;
    } */
}

/* Unordered list with custom numbers style */
ol.custom-numbers {
    list-style: none;
    font-size: 16px;
}
ol.custom-numbers li {
    counter-increment: my-awesome-counter;
    display: flex;
}
ol.custom-numbers li::before {
    content: counter(my-awesome-counter) ". ";
    color: #f5961d;
    font-weight: bold;
    margin-right: 1rem;
}
/* ===== 掛號須知 ===== */
.morning::before{
    content: '早';
    background-color: #BAE7FF;
    color:#1151B3;
    padding: 3px;
    border-radius: 2px;
    font-weight: bold;
}
.evening::before{
    content: '晚';
    background-color: #EFDBFF;
    color: #552F97;
    padding: 3px;
    border-radius: 2px;
    font-weight: bold;
}
.afteroon::before{
    content: '午';
    background-color: #FFF1B8;
    color: #905911;
    padding: 3px;
    border-radius: 2px;
    font-weight: bold;
}
.registered_notice{
    letter-spacing: 1px;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 0px;
    padding: 0 .25rem;
}
.registered_notice .text_only{
    
}
.registered_notice .text_in{
    padding: 0 25px;
}




/* ===== 衛教園地 ===== */


/* |======== 看診進度 ========| */


/* .content_border{
    border: 5px solid #f5961d;
    background-color: #FBFBF4;
} */
/* .number_tag{
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    background-color:#28A745;
    color: #fff;
}
.number_tag.t_orange{
    background-color: darkorange;
}
.number_tag.t_blue{
    background-color: #17a2b8;
} */



/* |======== 醫療資訊 ========| */

.media_info{
    letter-spacing: 1px;
    line-height: 30px;
    text-align: justify;
    font-size: 18px;
    color: #3b3432;
}

/* 文章時間 */
.media_info .text-date{
    margin-top: -10px;
    text-align: right;
}
/* 文章標題*/
.caption,
.caption_noline{
    border-left: 5px #795548 solid;
    padding: 0.3em;
    background: #e8eadf;
    font-weight: bold;
    line-height: 35px;
    letter-spacing: 2px;
    font-size: 22px;
    color: #754826;
}
.caption_noline{
    border-left: 0px #795548 solid;
}
.media_info .caption{
    margin: 15px 0;
}
/* 文章內文 */
.media_info p{
    color: #121212;
    margin: 1rem 0;
}

/* 文章-嵌入youtube */
.info_iframe{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin: 15px 0;
}
.info_iframe iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 1px;
}
/* 文章內文-項目列表 */
.triangle {
    position: relative;
    padding-left: 15px;
    font-weight: bold;
    margin: 10px;
    line-height: 20px
}
.triangle::before {
    position: absolute;
    top: calc(50% - 9px);
    left: 0px;
    content: "";
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left: 8px solid #8FC21F;
}
/* 文章內文-按鈕連結網址 */
.media_info .a-btn{
    color: #222;
    background-color: #8bc34a !important;
    border-color: #8bc34a !important;
    font-weight: bold !important;
    cursor: pointer;
    white-space: nowrap!important;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .75rem;
    font-size: 1.3rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-right: 5px;
    margin-top: 5px;
}
.media_info .a-btn:hover,
.media_info .a-btn:focus{
    color: #fff !important;
    outline: 0;
}
/* 文章內文-連結網址 */
.media_info p a{
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.36px;
    word-break: break-all;
}



/* |======== RWD 設定 ========| */

@media only screen and (max-width: 768px) {
    .list_c_img_div {
        width: 100%;
    }
    .list_c_mov_div {
        width: 100%;
    }
    .health_list .card-title{
        width: 100%;
    }
    .health_list .card-subtitle{
        width: 100%;
    }
    .box_out{
        width: 25%;
    }
    .stop_date{
        font-size: 14px;
        line-height: 14px;
    }
    .cell_row .de_caption{
        background-color: #8C6D55;
        color: #fff;
        line-height: 35px;
    }
    .c-radio-table__label {
        font-size: .9rem;
    }
    .date_lines span{
        font-size: 12px;
    }
    .full_date{
        display: flex;
        flex-direction: row-reverse;
        align-content: center;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #eee;
        padding: 6px 10px;
    }
    .full_date h3{
        font-size: 16px;
        padding-right: 9px;
    }
    .full_date span{
        padding-right: 5px;
        font-size: 16px;
        font-weight: bold;
    }
}

/* 【科室總覽卡片 max-w:1000px】 */
@media only screen and (max-width: 1000px) {
    .process-row {
        flex-direction: column;
    }    
    .traineeship .inactive .title{
        font-size: 1.5rem;
    }
    .traineeship .activity {
        width: 93%;
    }
    .traineeship .activity .con_active{
        width: 93%;
    }
    .traineeship .activity .con_active .title {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .traineeship .activity .relative-block {
        min-height: 100%;
    }
    .traineeship .activity:hover {
        width: 98%;
		margin-left:2px;
		margin-right:10px;
    }
    .process-row {
        align-items: center;
    }
}



