<!doctype html>
<html lang="zh-TW">
<head>
	<!-- GA4-Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GE353FP9KK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-GE353FP9KK');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TMHQ84N');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TMHQ84N" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

	<!-- ======= main-content ======= -->
	<div class="">			
		<div class="text-white">
			<div class="title-bg">
				<div class="px-3 py-4">
					<h3 class="mb-0">新冠肺炎專區</h3>
					<div class="font-14 opacity-60">COVID-19</div>
				</div>	
				<div class="d-block d-lg-none beige-bg cofe-word p-2 border-2px">
					<div id="vn-click" class="vn-click font-18 bg-white">點我看其他項目
						<span><i class="fas fa-caret-right"></i></span>
					</div>	
				</div>				
			</div>
		</div>		
		<!-- 下拉選單 -->			
		<div id="vn-info" class="vn-info">				
			<div class="side_menu_div beige-bg">
				{% comment %}
				<li class="item text-left">
					<a class="s_btn font-20" href="covid_19_index.html">自費採檢需知</a>
				</li>
				{% endcomment %}				
				<li class="item text-left">
					<a class="s_btn font-20" href="covid_19_1.html">文件下載</a>
				</li>
				<!-- 階層選單因為有打開問題(須研究如何判斷 :target 寫法，所以日後要用，用轉頁的方式 -->
				<!-- <li class="item" id="mn1">
					<a class="s_btn" href="#mn1">測試樹狀</a>
					<div class="submenu">
						<a href="test-ajax-index.html">測試首頁</a>
						<a href="test-ajax-1.html">測試1號頁</a>
						<a href="test-ajax-2.html">測試2號頁</a>
					</div>
				</li> -->
				<!-- <li class="item" id="mn2">
					<a class="s_btn" href="#mn2">測試樹狀-2</a>
					<div class="submenu">
						<a href="test-ajax-index.html">測試首頁-2</a>
						<a href="test-ajax-1.html">測試1號頁-2</a>
						<a href="test-ajax-2.html">測試2號頁-2</a>
					</div>
				</li> -->
				<!-- <li class="item" id="mn3">
					<a class="s_btn" href="#mn3">測試樹狀-3</a>
					<div class="submenu">
						<a href="test-ajax-index.html">測試首頁-3</a>
						<a href="test-ajax-1.html">測試1號頁-3</a>
						<a href="test-ajax-2.html">測試2號頁-3</a>
					</div>
				</li> -->
			</div>
		</div>
	</div>
</body>
</html>