{% extends "main_base.html" %}
{% load static %}

{% block title %}醫師查詢_長安醫院｜長安醫院{% endblock %}
{% block og_title %}醫師查詢_長安醫院｜長安醫院{% endblock %}

{% block content %}

		<span class="light-transparent"></span>
		<div class="container py-1">			
			<div class="row">
				<div class="col-12 col-md-3 mb-2">
					<div class="menu_sidebar">
						<aside>
							<!-- <div class="side_menu"></div>用來載入 menu.html -->
							{% include 'department/department_menu.html' %}
						</aside>
					</div>
				</div>
				<div class="col-12 col-md-9">
					<article>
						<div class="content">
							<div class="text-right">
								<div class="font-16">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb justify-content-end">
											<li class="breadcrumb-item main_pencil font-weight-bold"></li>
											<!-- <li class="breadcrumb-item"><a href="about_cg.html"></a></li> -->
											<li class="breadcrumb-item active" aria-current="page">醫師查詢</li>
										</ol>
									</nav>									
								</div>
							</div>
							<div class="bg-white rounded panel-shadow title_wrap">
								<!-- 標題 -->
								<section id="content_h">
									<div class="onsale_heading">醫師查詢</div>
									<hr class="my-2">
								</section>
								<!-- 細節 -->
								<section id="content_body">										
									
									<div class="row">
										<div class="col-12">
											<div class="baseline_title long_t cofe-word mt-3">
												<h3>外科</h3>
											</div>											
										</div>
										<div class="col-12">											
											<div class="row my-3">
												<div class="col-12 col-md-4">
													<a class="item_doc" data-toggle="modal" data-target="#edit" data-title="骨科醫師" href="#" id="orthopedics">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">骨科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 col-md-4">
													<a class="item_doc" data-toggle="modal" data-target="#edit" data-title="泌尿科醫師" href="#" id="Urology">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">泌尿科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 col-md-4">
													<a class="item_doc" data-toggle="modal" data-target="#edit" data-title="乳房外科醫師" href="#" id="B_Surgery">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">乳房外科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 col-md-4">
													<a href="#" class="item_doc" data-toggle="modal" data-target="#edit" data-title="一般外科醫師">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">一般外科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 col-md-4">
													<a href="#" class="item_doc" data-toggle="modal" data-target="#edit" data-title="神經外科醫師">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">神經外科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 col-md-4">
													<a href="#" class="item_doc" data-toggle="modal" data-target="#edit" data-title="大腸直腸外科醫師">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">大腸直腸外科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
											</div>	
										</div>
									</div>	
									<div class="row">
										<div class="col-12">
											<div class="baseline_title long_t cofe-word mt-3">
												<h3>內科</h3>
											</div>											
										</div>
										<div class="col-12">											
											<div class="row my-3">
												<div class="col-12 col-md-4">
													<a class="item_doc" data-toggle="modal" data-target="#edit" data-title="心臟血管科醫師" href="#">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">心臟血管科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 col-md-4">
													<a class="item_doc" data-toggle="modal" data-target="#edit" data-title="胸腔內科醫師" href="#">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">胸腔內科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 col-md-4">
													<a class="item_doc" data-toggle="modal" data-target="#edit" data-title="腎臟科醫師" href="#">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">腎臟科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 col-md-4">
													<a href="#" class="item_doc" data-toggle="modal" data-target="#edit" data-title="新陳代謝科醫師">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">新陳代謝科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 col-md-4">
													<a href="#" class="item_doc" data-toggle="modal" data-target="#edit" data-title="肝膽腸胃科醫師">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">肝膽腸胃科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 col-md-4">
													<a href="#" class="item_doc" data-toggle="modal" data-target="#edit" data-title="神經內科醫師">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">神經內科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 col-md-4">
													<a href="#" class="item_doc" data-toggle="modal" data-target="#edit" data-title="過敏免疫風濕科醫師">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">過敏免疫風濕科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 col-md-4">
													<a href="#" class="item_doc" data-toggle="modal" data-target="#edit" data-title="家醫科醫師">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">家醫科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												
											</div>	
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="baseline_title long_t cofe-word mt-3">
												<h3>專門科</h3>
											</div>											
										</div>
										<div class="col-12">											
											<div class="row my-3">
												<div class="col-12 col-md-4">
													<a class="item_doc" data-toggle="modal" data-target="#edit" data-title="眼科醫師" href="#">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">眼科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 col-md-4">
													<a class="item_doc" data-toggle="modal" data-target="#edit" data-title="復健科醫師" href="#">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">復健科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 col-md-4">
													<a class="item_doc" data-toggle="modal" data-target="#edit" data-title="耳鼻喉頭頸外科醫師" href="#">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">耳鼻喉頭頸外科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 col-md-4">
													<a href="#" class="item_doc" data-toggle="modal" data-target="#edit" data-title="急診醫學科醫師">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">急診醫學科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 col-md-4">
													<a href="#" class="item_doc" data-toggle="modal" data-target="#edit" data-title="麻醉科醫師">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">麻醉科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 col-md-4">
													<a href="#" class="item_doc" data-toggle="modal" data-target="#edit" data-title="影像醫學科醫師">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">影像醫學科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
											</div>	
										</div>
									</div>	
									<div class="row">
										<div class="col-12">
											<div class="baseline_title long_t cofe-word mt-3">
												<h3>婦兒科</h3>
											</div>											
										</div>
										<div class="col-12">											
											<div class="row my-3">
												<div class="col-12 col-md-4">
													<a class="item_doc" data-toggle="modal" data-target="#edit" data-title="婦產科醫師" href="#">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">婦產科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 col-md-4">
													<a class="item_doc" data-toggle="modal" data-target="#edit" data-title="小兒科醫師" href="#">
														<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
															<div class="w-100 position-relative">
																<div class="in_icon position-absolute">
																	<i class="fas fa-user-md darkcoco-word font-70"></i>
																</div>
																<div class="in_content position-relative"> 
																	<div class="in_title">
																		<span class="title_line_org">小兒科</span>
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												
											</div>	
										</div>
									</div>					
								</section>
							</div>
						</div>
					</article>
				</div>
				
			</div>		  
		</div>

	
{% endblock %}

<!-- ▼▼▼ SEO/GEO ▼▼▼-->
{% block guide_seo %}
{% include 'schema_article.html' with headline="醫師查詢_長安醫院｜長安醫院" %}
{% endblock %}
<!-- ▲▲▲ SEO/GEO ▲▲▲-->
