<div class="c-sidebar-trust js-sidebar-wrapper" id="sidebarMenu">			
	<div class="c-sidebar-trust__header js-sidebar-toggle">
		<div class="u-badge-small">About us</div>
		<div class="c-sidebar-trust__title-row">
			<h3>關於長安</h3>
			<span class="c-sidebar-trust__toggle-icon"><i class="fas fa-chevron-down"></i></span>
		</div>
		<p>About Our Hospital</p>
	</div>		

	<nav class="c-sidebar-trust__nav" aria-label="長安醫院簡介導覽選單" itemscope itemtype="http://schema.org/SiteNavigationElement">				
		<ul class="c-sidebar-trust__list">

			<li itemprop="name" class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A004_hos_intro/' %}is-active{% endif %}" href="/A004_hos_intro/" title="台中長安醫院-醫院簡介" itemprop="url" {% if request.path == '/A004_hos_intro/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text">長安簡介</span>
						<span class="c-sidebar-trust__en">Hospital Overview</span>
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right"></i></div>
				</a>
			</li>

			<li itemprop="name" class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A004_hos_traffic_info/' %}is-active{% endif %}" href="/A004_hos_traffic_info/" title="台中長安醫院-交通資訊與地圖" itemprop="url" {% if request.path == '/A004_hos_traffic_info/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text">交通資訊</span>
						<span class="c-sidebar-trust__en">Traffic Information</span>
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right"></i></div>
				</a>
			</li>	

		</ul>
	</nav>
</div>