{% extends "main_base.html" %}
{% load static %}

{% block title %}長安醫院簡介｜長安醫院{% endblock %}
{% block og_title %}長安醫院簡介｜長安醫院{% endblock %}

{% block content %}

			<div class="container py-1">
				<div class="row">
					<!-- ※※※ 側邊選單 ※※※ -->
					<div class="col-lg-3 mb-2">
						<div class="menu_sidebar">
							<aside>
								{% include 'department/m_intro_menu.html' %}
							</aside>
						</div>
					</div>
					<!-- ※※※ 側邊選單 End ※※※ -->

					<!-- ※※※ 功能內容 ※※※ -->
					<div class="col-lg-9">
						<article>
							<div class="content">
								<!-- 麵包屑 -->
								<div class="text-right font-16">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb justify-content-end">
											<li class="breadcrumb-item main_pencil"></li>
											<!-- <li class="breadcrumb-item"><a href="about_cg.html"></a></li> -->
											<li class="breadcrumb-item active" aria-current="page">長安簡介</li>
										</ol>
									</nav>
								</div>
								<!-- 內容區 -->
								<div class="bg-white rounded panel-shadow title_wrap">
									<!-- 標題 -->
									<section id="content_h">
										<div class="onsale_heading">長安簡介</div>
										<hr class="my-2">
									</section>
									<!-- 細節 -->
									<!-- <section id="content_body" class="content_about"></section> -->
									<section id="content_body">

										<!-- <div class="registered_notice text-justify alert alert-secondary mb-3 px-1">
											{% for data in datas %}
												{% if "<h>" in data %}
													<div class="article_h">{{ data|cut:"<h>"|safe }}</div>
												{% endif %}
												<div class="p-1">{{ data }}</div>
											{% endfor %}
										</div> -->

										<!-- <div class="my-5">
											{% for dd in datas %}
												{% if "<h>" in dd %}
													<div class="article_h">{{ dd|cut:"<h>"|safe }}</div>
												{% endif %}

												{% if "<in_date>" in dd %}
													<div class="text-date"><small>{{ dd|cut:"<in_date>"|safe }}</small></div>
												{% endif %}
											{% endfor %}
										</div> -->

										<!-- <div class="my-5">
											{% for data in datas %}
												{% if "<h>" in data %}
													<div class="article_h">{{ data|cut:"<h>"|safe }}</div>
												{% endif %}

												{% if "<in_date>" in data %}
													<div class="text-date"><small>{{ data|cut:"<in_date>"|safe }}</small></div>
												{% endif %}

												{% if "<yt>" in data %}
													<div class="info_iframe">
														<iframe src="{{ data|cut:'<yt>'|safe }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
													</div>
												{% endif %}

												{% if "<t>" in data %}
													<p>{{ data|cut:"<t>"|safe }}</p>
												{% endif %}

												{% if "<dot>" in data %}
													<div class="triangle">{{ data|cut:"<dot>"|safe }}</div>
												{% endif %}

												{% if "<cap>" in data %}
													<div class="caption">{{ data|cut:"<cap>"|safe }}</div>
												{% endif %}

												{% if "<img1>" in data %}
													<div class="info_img">
														<img class="img-fluid w-100" src="{% get_static_prefix %}news_4/img/{{ data|cut:'<img1>'|safe }}" alt="" height="345">
													</div>
												{% endif %}
											{% endfor %}
										</div> -->


										<div class="row">
											<div class="col-12">
												<img class="img-fluid" src="{% static 'common/img/hos_intro/hos_intro.jpg' %}" alt="長安醫院" height="345">
											</div>
											<div class="col-12 mt-5">
												<div style="font-size: 1.5em;color: #75482b;">長安簡介</div>
												<p class="py-3">
													長安醫院，取名「長者平安，長久平安」之意，時時刻刻守護社區健康，永遠與社區民眾同在。面對未來人口老化、照護人力不足、醫療科技快速發展與大數據時代來臨，長安全體員工秉持「<span style="font-family: jhengHei, 'Helvetica Neue'; font-size: 16px; font-style: normal; font-weight: 400;">醫德、</span>醫術、病人優先」精神，努力打造全人照護社區醫院。
												</p>
											</div>
											<div class="col-12 mt-5">
												<div style="font-size: 1.5em;color: #75482b;">願景 Vision</div>
												<p class="py-3">創造社區民眾最大的醫療福祉</p>
											</div>
											<div class="col-12 mt-5">
												<div style="font-size: 1.5em;color: #75482b;">使命 Mission</div>
												<p class="py-3">真誠溝通，提供最快、最好、最適切的醫療服務</p>
											</div>
											<div class="col-12 mt-5">
												<div style="font-size: 1.5em;color: #75482b;">核心價值 Core value</div>
												<p class="py-3">醫德、醫術、品質</p>
											</div>
											<div class="col-12 mt-5">
												<div style="font-size: 1.5em;color: #75482b;">醫院規模</div>
												<p class="py-3">急性一般病床99床、急診觀察床14床、手術台6床、手術恢復床3床、(門診)診療室32床、加護病床24床、血液透析床45床。
												</p>
											</div>
										</div>						
									</section>
								</div>
								<!-- 內容區 End -->
							</div>
						</article>	
					</div>
					<!-- ※※※ 功能內容 End ※※※ -->
				</div>
			</div>
		
{% endblock %}

<!-- ▼▼▼ SEO/GEO ▼▼▼-->
{% block guide_seo %}
{% include 'schema_article.html' with headline="長安醫院簡介｜長安醫院" %}
{% endblock %}
<!-- ▲▲▲ SEO/GEO ▲▲▲-->
