{% extends "department/ward_mes_base.html" %}

{% load static %}

<!-- === Meta ================================== -->
{% block title %}病人出院流程｜{{ block.super }}{% endblock %}

<!-- ※※※ Open Graph ※※※ -->
{% block og_title %}病人出院流程｜{{ block.super }}{% endblock %}

<!-- ※※※ Twitter Card ※※※ -->
{% block twitter_title %}病人出院流程｜{{ block.super }}{% endblock %}


<!-- === 子頁細節內容 =========================== -->
{% block guide_content %}
<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
    <h2 class="c-onsale-heading">病人出院流程</h2>
</header>
<div class="l-main-content__body">
    <div class="row">
		<div class="col-12">
			<picture>
    			<source srcset="{% get_media_prefix %}ward_mes/ward_webp/dis_process.webp" type="image/webp">
    			<img class="w-100" src="{% get_media_prefix %}ward_mes/dis_process.jpg" alt="病人出院流程" title="病人出院流程">
			</picture>
		</div>
	</div>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
{% include 'schema_article.html' with headline="病人出院流程" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}