{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Web-icon =========================== -->
<link rel="icon" href="{% static 'common/img/favicon.ico' %}">
<!-- CSS ================================ -->
<link rel="stylesheet" href="{% static 'common/icon/css/all.css' %}">
<link rel="stylesheet" href="{% static 'common/css/bootstrap.min.css' %}">
<!-- style -->
<link rel="stylesheet" href="{% static 'common/css/sub-style.css' %}">
<link rel="stylesheet" href="{% static 'apps/specialty_health/css/special-main.css' %}">
<!-- js ================================ -->
<script src="{% static 'common/js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'common/js/popper.min.js' %}"></script>
<script src="{% static 'common/js/bootstrap.bundle.min.js' %}"></script>
