{% load static %}
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="nav-box">
        <div class="v-center">
            <div class="header-item item-left">
                <div class="logo">
                    <a href="/specialty_health/">
                        <img src="/media/specialty_health/health_logo.webp" alt="長安健康管理中心">
                    </a>
                </div>
            </div>
            <!-- menu start here -->
            <div class="header-item item-center">
                <div class="menu-overlay"></div>
                <div class="menu">
                    <div class="mobile-menu-head">
                        <div class="go-back"><i class="fa fa-angle-left"></i></div>
                        <div class="current-menu-title"></div>
                        <div class="mobile-menu-close">&times;</div>
                    </div>
                    <ul class="menu-main">
                        <li>
                            <a href="/specialty_health/health-about/" title="關於我們">關於我們</a>
                        </li>
                        <li>
                            <a href="/specialty_health/health-doctor/" title="醫師陣容">醫師陣容</a>
                        </li>
                        <li>
                            <a href="/specialty_health/health-treatment/" title="健檢專案">健檢專案</a>
                        </li>
                        <li>
                            <a href="/specialty_health/health-news/" title="最新消息">最新消息</a>
                        </li>
                        <li>
                            <a href="/specialty_health/health-health-film/" title="衛教資訊">衛教資訊</a>
                        </li>
                        <li>
                            <div class="navbar-btns-div">
                                <div>
                                    <a href="{% url 'health_send_mail' %}" id="emailBtn" title="聯絡我們">                                
                                        <span><i class="fas fa-envelope"></i> 聯絡我們</span>
                                    </a>
                                </div>
                                <div>
                                    <a href="/index/" id="homeBtn" class="btn-icon-circle" title="回長安醫院">
                                        <i class="fas fa-home"></i>
                                        <span class="btn-icon-text">長安<br/>醫院</span>
                                    </a>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>

                <!-- mobile menu trigger -->
                <div class="mobile-menu-trigger">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</nav>