<!-- ※※※ Web Head (meta/OG/GA) Start ※※※ -->
{% extends "main-base.html" %}

{% block title %}500！發生錯誤，請稍後再試_長安醫院 | {{ block.super }}{% endblock %}
{% block title_1 %}500！發生錯誤，請稍後再試_長安醫院{% endblock %}
{% block og_title %}500！發生錯誤，請稍後再試_長安醫院 | {{ block.super }}{% endblock %}
<!-- ※※※ Web Head (meta/OG/GA) End ※※※ -->

{% load static %}
<!-- ※※※ Web Content Start ※※※ -->
{% block content %}
<!-- ▼▼▼ GA ▼▼▼ -->
{% include 'GA_noscript.html' %}
<!-- ▲▲▲ GA End ▲▲▲ -->

<!-- ▼▼▼ Main-Content Start ▼▼▼ -->
<div class="L_sub_main_bg Error_Page">
	<div class="Server_Error">
		<div>
			<img src="{% static 'common/img/Everan_logo.webp' %}" alt="長安醫院">
		</div>
		<h1 class="Error">500</h1>
		<div>Internal Server Error！</div>
		<div class="page">發生錯誤，請稍後再試！</div>
		<a class="back-home" href="{% url 'main_home' %}" title="本院首頁">回到本院首頁</a>
	</div>
</div>
<!-- ▲▲▲ Main-Content End ▲▲▲ -->

<!-- ▼▼▼ Footer Start ▼▼▼ -->
<!-- ▲▲▲ Footer End ▲▲▲ -->
{% endblock %}
<!-- ※※※ Web Content End ※※※ -->


<!-- ※※※ Extra CSS Start ※※※ -->
{% block extra_css %}
{% endblock %}
<!-- ※※※ Extra CSS End ※※※ -->


<!-- ※※※ Extra JS Start ※※※ -->
{% block extra_js %}
{% endblock %}
<!-- ※※※ Extra JS End ※※※ -->
