<!doctype html>
<html lang="zh-TW">
	<!-- 官網-麵包屑 labor_pencil -->
	<!-- <span class="main_pencil">
		<a href="index.html"><i class="fas fa-home"></i> 首頁</a>
	</span> -->

	<!-- === 首頁 === -->
	<span class="main_pencil"><a href="/index/"><i class="fas fa-home"></i> 本院首頁</a></span>

	<!-- === 網路掛號 === -->
	<span class="Online_Appointment"><a href="/A006_Online_Booking_0/">網路掛號</a></span>
	<span class="Online_Appointment_part"><a href="/A006_Online_Booking_1/">選擇科別</a></span>
	<span class="Online_Appointment_doc"><a href="/A006_Online_Booking_2/">選擇醫師</a></span>

	<!-- === 科室介紹 === -->
	<span class="surgical_in"><a href="/A001_department_overview/">科室總覽</a></span>

	<!-- === 衛教園地 === -->
	<span class="health_edu"><a href="/A003_health_edu/">衛教園地</a></span>

	<!-- === 檢驗科 === -->
	<span class="labor_pencil">
		<a href="/A003_Laboratory/">檢驗科</a>
	</span>
	<span class="pencil_in"><a href="/A003_labor_clinical/">檢體採集衛教</a></span>
	<span class="pencil_4"><a href="/A003_labor_clinical_4/">微生物培養檢體採集方法須知</a></span>
	<span class="pencil_3"><a href="/A003_labor_clinical_3/">檢體採集原則</a></span>
</html>