{% load static %}
<!doctype html>
<html lang="zh-TW">

<head>
	{% include 'Public_head.html' %}
	<title>看診進度_長安醫院</title>
	{% include 'GA_head.html' %}
	<style>
		.nav-pills .nav-link{
			width: 100%;
		}
		/* 更新看診號 */
		.re_icon{
            padding: 10px;
        }
        .re_fixed{
            position: fixed;
            right: 0;
            bottom: 250px;
            width: 100px;
            z-index: 999;
        }
        .re_button{
            display: block;
            border: 0;
            margin-bottom: 0.3em;
            outline: none;
            text-decoration: none;
            color: #fff;
            width: 100px;
            font-size: 16px;
            border-radius: 20px 0 0 20px;
        }
        .buttonDiv{
            border-radius: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .buttonDiv:hover{
            background: white;
            transition: margin 500ms;
            margin-left: -20px;
        }
        /* Button Css */
        .bg-b-orange{
            background: #009688;
        }
        .bg-b-orange:hover{
            background: #f5961d;
        }
	</style>
</head>

<body>
	{% include 'GA_noscript.html' %}
	
	<!-- 更新看診號 -->
	<div class="re_fixed">
		<a href="" class="re_button" id="refresh_data">
			<div class="buttonDiv bg-b-orange">
				<div class="re_icon"><i id="re_icon" class="fas fa-sync fa-2x"></i></div>
				<div style="padding: 0 10px 10px 10px;font-weight: bold;">更新看診號</div>
			</div>
		</a>
	</div>

    <div class="wrapper L_sub_main_bg">
		<!-- ======= 本頁 Modal Area ======= -->
			<!-- 早診停休診時間 -->
			{% for modal,all_number,all_person,all_completed,all_no_completed in modals %}
				<div class="modal fade" id="M{{ modal.4 }}" tabindex="-1" role="dialog" aria-labelledby="stop_time" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header og-bg line_break">
								<h4 class="ell_two modal-title beige-word font-24 font-weight-bold Kir_bei">{{ modal.1 }}</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<div class="modal-body cofe-word font-18 article_border">
								<div class="row">
									<div class="col-lg-4">
										<div class="card-counter info">
											<i class="fas fa-door-closed"></i>
											<span class="count-numbers">{{ modal.0|cut:"自費"|cut:"採檢診" }}</span>
											<span class="count-name">診間位置</span>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="card-counter success">
											<i class="fa fa-users"></i>
											<span class="count-numbers" style="font-size: 50px;top: 5px;">{{ modal.3|default:"" }}</span>
											<span class="count-name">目前看診號碼</span>
										</div>
									</div>
									
									<div class="col-lg-4">
										<div class="card-counter primary">
											<i class="fas fa-stethoscope"></i>
											<span class="count-numbers">{{ modal.2 }}</span>
											<span class="count-name">看診醫師</span>
										</div>
									</div>

									<div class="col-12">
										<div class="card m-1 Number_persons_list">
											<div class="card-body">
												<div class="row">
													<div class="col-lg-4 d-flex">
														<div>
															<i class="far fa-calendar-alt"></i>&nbsp;
														</div>
														<div class="Number_persons">{{ all_person }}</div>
													</div>
													<div class="col-lg-4 d-flex text-success">
														<div>
															<i class="fas fa-clock"></i>&nbsp;
														</div>
														<div class="Done_persons">{{ all_completed }}</div>
													</div>
													<div class="col-lg-4 d-flex text-info">
														<div>
															<i class="fas fa-bell"></i>&nbsp;
														</div>
														<div class="Not_finished_persons">{{ all_no_completed }}</div>
													</div>
												</div>
											</div>
										</div>										
									</div>

								</div>
								<div class="col p-1">
									<div class="d-flex flex-wrap">
										{% for number in all_number %}
											{% if number.1 == "Y" %}
												
											{% elif number.3 == 0 %}
												<div class="grid_out doc_seeing"><span>{{ number.0 }}</span><span></span><div class="spinner"></div></div>
											{% elif number.3 == 8 %}
												<div class="grid_out completed_num"><span>{{ number.0 }}</span><span></span></div>
											{% elif number.3 == 7 %}
												<div class="grid_out check_num"><span>{{ number.0 }}</span><span></span></div>
											{% elif number.4 == "Y" and number.3 == 3 %}
												<div class="grid_out Checked_in_num"><span>{{ number.0 }}</span><span></span></div>
											{% else %}
												<div class="grid_out no_Checked_in"><span>{{ number.0 }}</span><span></span></div>
											{% endif %}
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

		<!-- ======= 本頁 Modal Area End ======= -->

		<!-- ======= navbar ======= -->
		{% include 'header.html' %}
		<!-- ======= navbar End ======= -->

		<!-- ======= main-content ======= -->
		<main class="pb-3">
			<div class="container py-1">
				<div class="row">
					<!-- ※※※ 側邊選單 ※※※ -->
					<div class="col-lg-3 mb-2">
						<div class="menu_sidebar">
							<aside>
								{% include 'Patient_Guide/Patient_Guide_menu.html' %}
							</aside>
						</div>
					</div>
					<!-- ※※※ 側邊選單 End ※※※ -->

					<!-- ※※※ 功能內容 ※※※ -->
					<div class="col-lg-9">
						<article>
							<div class="content">
								<!-- 麵包屑 -->
								<div class="text-right font-16">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb justify-content-end">
											<li class="breadcrumb-item main_pencil"></li>
											<li class="breadcrumb-item active" aria-current="page">看診進度</li>
										</ol>
									</nav>
								</div>
								<!-- 內容區 -->
								<div class="bg-white rounded panel-shadow title_wrap">
									<!-- 標題 -->
									<section id="content_h">
										<div class="onsale_heading">看診進度</div>
										<hr class="my-2">
									</section>
									<section id="content_body">
										<div class="row">
											<div class="col-12 see_memo">
												<div class="media">
													<div>
														<ul class="nav nav-pills nav-fill font-weight-bold" role="tablist">
															{% if now_status == "1" %}
																<form action="" method="GET" class="flex-fill">
																	<li class="nav-item mor_a">
																		<input type="submit" name="shiftno_h" class="nav-link active" value="早診">
																	</li>
																</form>
																<form action="" method="GET" class="flex-fill">
																	<li class="nav-item mx-2 noon_a">
																		<input type="submit" name="shiftno_h" class="nav-link" value="午診">
																	</li>
																</form>
																<form action="" method="GET" class="flex-fill">
																	<li class="nav-item night_a">
																		<input type="submit" name="shiftno_h" class="nav-link" value="晚診">
																	</li>
																</form>
															{% elif now_status == "2" %}
																<form action="" method="GET" class="flex-fill">
																	<li class="nav-item mor_a">
																		<input type="submit" name="shiftno_h" class="nav-link" value="早診">
																	</li>
																</form>
																<form action="" method="GET" class="flex-fill">
																	<li class="nav-item mx-2 noon_a">
																		<input type="submit" name="shiftno_h" class="nav-link active" value="午診">
																	</li>
																</form>
																<form action="" method="GET" class="flex-fill">
																	<li class="nav-item night_a">
																		<input type="submit" name="shiftno_h" class="nav-link" value="晚診">
																	</li>
																</form>
															{% elif now_status == "3" %}
																<form action="" method="GET" class="flex-fill">
																	<li class="nav-item mor_a">
																		<input type="submit" name="shiftno_h" class="nav-link" value="早診">
																	</li>
																</form>
																<form action="" method="GET" class="flex-fill">
																	<li class="nav-item mx-2 noon_a">
																		<input type="submit" name="shiftno_h" class="nav-link" value="午診">
																	</li>
																</form>
																<form action="" method="GET" class="flex-fill">
																	<li class="nav-item night_a">
																		<input type="submit" name="shiftno_h" class="nav-link active" value="晚診">
																	</li>
																</form>
															{% endif %}
														</ul>
														<div class="text_memo">最近更新時間 (每3分鐘更新一次)：{{ now }}</div>
													</div>
													<div class="media-body align-self-center">
														<div class="see_time">看診時間
															<br class="d-block d-sm-none">
															<span class="morning">診</span> 08:30~12:00
															<br class="d-block d-sm-none">
															<span class="afteroon">診</span> 13:30~17:00
															<br class="d-block d-sm-none">
															<span class="evening">診</span> 17:30~21:00
														</div>
														<div class="text-danger">
															<strong>提醒您！</strong> 看診進度為參考值，實際現場進度為主，若有疑問請洽診間，謝謝。
														</div>
													</div>							
												</div>
											</div>
											<div class="col-12">
												<!-- Tab panes -->
												<div class="tab-content">
													{% if now_status == "1" %}
														<div id="menu1" class="tab-pane active">
															<div class="my-3 px-1"></div>
															<div class="Div_out morning_which_doc">
																{% for number_list in number_lists %}
																<div class="Div_box">
																	<div class="Div_body">
																		<div class="card rounded-0">
																			<div class="card-content">
																				<div class="card-body p-0">
																					<div class="d-inline-flex see_title mor_a">
																						<h5>{{ number_list.1 }}</h5>
																					</div>
																					<div class="media d-flex mt-3 mb-2">
																						<div class="media-body see_num" style="border-left: 0px solid !important;">
																							<h3 class="see_room_no">{{ number_list.0|slice:"3" }}</h3>
																							<span>診間</span>
																						</div>
																						<div class="media-body see_num px-3">
																							<h3>{{ number_list.2 }}</h3>
																							<span>醫師</span>
																						</div>
																						<div class="media-body see_num px-1">
																							<h3 class="see_num_no">{{ number_list.3|default:"" }}</h3>
																							<span>目前診號</span>
																						</div>
																					</div>
																				</div>
																				<div class="card-footer p-0">
																					<div class="see_detail btn mor_c" data-toggle="modal" data-target="#M{{ number_list.4 }}">詳細資料</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																{% endfor %}
															</div>
														</div>
													{% elif now_status == "2" %}
														<div id="menu1" class="tab-pane active">
															<div class="my-3 px-1"></div>
															<div class="Div_out noon_which_doc">
																{% for number_list in number_lists %}
																<div class="Div_box">
																	<div class="Div_body">
																		<div class="card rounded-0">
																			<div class="card-content">
																				<div class="card-body p-0">
																					<div class="d-inline-flex see_title noon_a">
																						<h5>{{ number_list.1 }}</h5>
																					</div>
																					<div class="media d-flex mt-3 mb-2">
																						<div class="media-body see_num" style="border-left: 0px solid !important;">
																							<h3 class="see_room_no">{{ number_list.0|slice:"3" }}</h3>
																							<span>診間</span>
																						</div>
																						<div class="media-body see_num px-3">
																							<h3>{{ number_list.2 }}</h3>
																							<span>醫師</span>
																						</div>
																						<div class="media-body see_num px-1">
																							<h3 class="see_num_no">{{ number_list.3|default:"" }}</h3>
																							<span>目前診號</span>
																						</div>
																					</div>
																				</div>
																				<div class="card-footer p-0">
																					<div class="see_detail btn noon_c" data-toggle="modal" data-target="#M{{ number_list.4 }}">詳細資料</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																{% endfor %}
															</div>
														</div>
													{% elif now_status == "3" %}
														<div id="menu1" class="tab-pane active">
															<div class="my-3 px-1"></div>
															<div class="Div_out night_which_doc">
																{% for number_list in number_lists %}
																<div class="Div_box">
																	<div class="Div_body">
																		<div class="card rounded-0">
																			<div class="card-content">
																				<div class="card-body p-0">
																					<div class="d-inline-flex see_title night_a">
																						<h5>{{ number_list.1 }}</h5>
																					</div>
																					<div class="media d-flex mt-3 mb-2">
																						<div class="media-body see_num" style="border-left: 0px solid !important;">
																							<h3 class="see_room_no">{{ number_list.0|slice:"3" }}</h3>
																							<span>診間</span>
																						</div>
																						<div class="media-body see_num px-3">
																							<h3>{{ number_list.2 }}</h3>
																							<span>醫師</span>
																						</div>
																						<div class="media-body see_num px-1">
																							<h3 class="see_num_no">{{ number_list.3|default:"" }}</h3>
																							<span>目前診號</span>
																						</div>
																					</div>
																				</div>
																				<div class="card-footer p-0">
																					<div class="see_detail btn night_c" data-toggle="modal" data-target="#M{{ number_list.4 }}">詳細資料</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																{% endfor %}
															</div>
														</div>
													{% endif %}
												</div>
											</div>
										</div>
									</section>
								</div>
								<!-- 內容區 End -->
							</div>
						</article>	
					</div>
					<!-- ※※※ 功能內容 End ※※※ -->
				</div>
			</div>
		</main>
		<!-- ======= main End ======= -->
	</div>
	<!-- ======= footer ======= -->
	{% include 'footer.html' %}
	<!-- ======= Footer End ======= -->

	<!-- ======= js 套件區 ======= -->

	<!-- ※※ 輸入框清除 / 搜尋關鍵字 ※※ -->
	<script src="{% static 'common/js/input_xfilter.js' %}"></script>

	<!-- ※※ 更新看診號 ※※ -->
	<script>
        $('#refresh_data').click(function() {
            $("#re_icon").addClass("fa-spin");
            location.reload();
        });
    </script>
	<!-- ======= js 套件區 End ======= -->

	</body>

	</html>
