{% extends "Patient_Guide/Patient_Guide_base.html" %}

{% load static %}

<!-- === Meta ================================== -->
{% block title %}看診進度｜{{ block.super }}{% endblock %}
{% block og_title %}看診進度｜{{ block.super }}{% endblock %}
{% block twitter_title %}看診進度｜{{ block.super }}{% endblock %}


<!-- === 子頁細節內容 =========================== -->
<!-- ▼▼▼ Modal ▼▼▼-->
{% block page_modals %}
<!-- Modal﹔早診停休診時間 -->
{% for modal,all_number,all_person,all_completed,all_no_completed in modals %}
	<div class="modal fade" id="M{{ modal.4 }}" tabindex="-1" role="dialog" aria-labelledby="stop_time" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header og-bg line_break">
					<h4 class="ell_two modal-title beige-word font-24 font-weight-bold Kir_bei">{{ modal.1 }}</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body cofe-word font-18 article_border">
					<div class="row">
						<div class="col-lg-4">
							<div class="card-counter info">
								<i class="fas fa-door-closed"></i>
								<span class="count-numbers">{{ modal.0|cut:"自費"|cut:"採檢診" }}</span>
								<span class="count-name">診間位置</span>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="card-counter success">
								<i class="fa fa-users"></i>
								<span class="count-numbers" style="font-size: 50px;top: 5px;">{{ modal.3|default:"" }}</span>
								<span class="count-name">目前看診號碼</span>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="card-counter primary">
								<i class="fas fa-stethoscope"></i>
								<span class="count-numbers">{{ modal.2 }}</span>
								<span class="count-name">看診醫師</span>
							</div>
						</div>
						<div class="col-12">
							<div class="card m-1 Number_persons_list">
								<div class="card-body">
									<div class="row">
										<div class="col-lg-4 d-flex">
											<div>
												<i class="far fa-calendar-alt" aria-hidden="true"></i>&nbsp;
											</div>
											<div class="Number_persons">{{ all_person }}</div>
										</div>
										<div class="col-lg-4 d-flex text-success">
											<div>
												<i class="fas fa-clock" aria-hidden="true"></i>&nbsp;
											</div>
											<div class="Done_persons">{{ all_completed }}</div>
										</div>
										<div class="col-lg-4 d-flex text-info">
											<div>
												<i class="fas fa-bell" aria-hidden="true"></i>&nbsp;
											</div>
											<div class="Not_finished_persons">{{ all_no_completed }}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col p-1">
						<div class="d-flex flex-wrap">
							{% for number in all_number %}
								{% if number.1 == "Y" %}
								{% elif number.3 == 0 %}
									<div class="grid_out doc_seeing"><span>{{ number.0 }}</span><span></span><div class="spinner"></div></div>
								{% elif number.3 == 8 %}
									<div class="grid_out completed_num"><span>{{ number.0 }}</span><span></span></div>
								{% elif number.3 == 7 %}
									<div class="grid_out check_num"><span>{{ number.0 }}</span><span></span></div>
								{% elif number.4 == "Y" %}
									<div class="grid_out Checked_in_num"><span>{{ number.0 }}</span><span></span></div>
								{% else %}
									<div class="grid_out no_Checked_in"><span>{{ number.0 }}</span><span></span></div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
{% endblock %}
<!-- ▲▲▲ Modal ▲▲▲-->

{% block guide_content %}
<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
    <h2 class="c-onsale-heading">看診進度</h2>
</header>
<div class="l-main-content__body">
	<div class="see_memo">

		<div class="row">

				<!-- 早、午、晚診 按鈕 -->
				<div class="col-lg-4">
					<ul class="nav nav-pills nav-fill font-weight-bold" role="tablist">
					{% if now_status == "1" %}
						<form action="" method="GET" class="flex-fill">
							<li class="nav-item mor_a">
								<input type="submit" name="shiftno_h" class="nav-link active" value="早診">
							</li>
						</form>
						<form action="" method="GET" class="flex-fill">
							<li class="nav-item mx-2 noon_a">
								<input type="submit" name="shiftno_h" class="nav-link" value="午診">
							</li>
						</form>
						<form action="" method="GET" class="flex-fill">
							<li class="nav-item night_a">
								<input type="submit" name="shiftno_h" class="nav-link" value="晚診">
							</li>
						</form>
					{% elif now_status == "2" %}
						<form action="" method="GET" class="flex-fill">
							<li class="nav-item mor_a">
								<input type="submit" name="shiftno_h" class="nav-link" value="早診">
							</li>
						</form>
						<form action="" method="GET" class="flex-fill">
							<li class="nav-item mx-2 noon_a">
								<input type="submit" name="shiftno_h" class="nav-link active" value="午診">
							</li>
						</form>
						<form action="" method="GET" class="flex-fill">
							<li class="nav-item night_a">
								<input type="submit" name="shiftno_h" class="nav-link" value="晚診">
							</li>
						</form>
					{% elif now_status == "3" %}
						<form action="" method="GET" class="flex-fill">
							<li class="nav-item mor_a">
								<input type="submit" name="shiftno_h" class="nav-link" value="早診">
							</li>
						</form>
						<form action="" method="GET" class="flex-fill">
							<li class="nav-item mx-2 noon_a">
								<input type="submit" name="shiftno_h" class="nav-link" value="午診">
							</li>
						</form>
						<form action="" method="GET" class="flex-fill">
							<li class="nav-item night_a">
								<input type="submit" name="shiftno_h" class="nav-link active" value="晚診">
							</li>
						</form>
					{% endif %}
					</ul>
					<div class="text_memo">最近更新時間 (每3分鐘更新一次)：{{ now }}</div>
				</div>

				<!-- 看診說明 -->
				<div class="col-lg-8">
					<div class="clinic-guide">
						<div class="see_time mb-1">看診時間
							<br class="d-block d-sm-none">
							<span class="morning">診</span> 08:30~12:00
							<br class="d-block d-sm-none">
							<span class="afteroon">診</span> 13:30~17:00
							<br class="d-block d-sm-none">
							<span class="evening">診</span> 17:30~21:00
						</div>
						<div class="clinic-guide-text">
						提醒您！看診進度為參考值，實際現場進度為主，若有疑問請洽診間，謝謝。
						</div>
					</div>
				</div>

		</div>

		<hr class="my-2" />

		<div>
			<!-- Tab panes -->
			<div class="tab-content">
				<!-- 早診 -->
				{% if now_status == "1" %}
				<div id="menu1" class="tab-pane active">
						<div class="my-3 px-1"></div>
						<div class="Div_out morning_which_doc">
							{% for number_list in number_lists %}
								<div class="Div_box">
									<div class="Div_body">
										<div class="card rounded-0">
											<div class="card-content">
												<div class="card-body p-0">
													<div class="d-inline-flex see_title mor_a">
														<h5>{{ number_list.1 }}</h5>
													</div>
													<div class="media d-flex">
														<div class="media-body see_num">
															<h3 class="see_room_no">{{ number_list.0|slice:"3" }}</h3>
															<span>診間</span>
														</div>
														<div class="media-body see_num">
															<h3>{{ number_list.2 }}</h3>
															<span>醫師</span>
														</div>
														<div class="media-body see_num">
															<h3 class="see_num_no">{{ number_list.3|default:"" }}</h3>
															<span>目前診號</span>
														</div>
													</div>
												</div>
												<div class="card-footer p-0">
													<div class="see_detail btn mor_c" data-toggle="modal" data-target="#M{{ number_list.4 }}">詳細資料</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
				</div>
				<!-- 午診 -->
				{% elif now_status == "2" %}
				<div id="menu1" class="tab-pane active">
						<div class="my-3 px-1"></div>
						<div class="Div_out noon_which_doc">
							{% for number_list in number_lists %}
								<div class="Div_box">
									<div class="Div_body">
										<div class="card rounded-0">
											<div class="card-content">
												<div class="card-body p-0">
													<div class="d-inline-flex see_title noon_a">
														<h5>{{ number_list.1 }}</h5>
													</div>
													<div class="media d-flex">
														<div class="media-body see_num">
															<h3 class="see_room_no">{{ number_list.0|slice:"3" }}</h3>
															<span>診間</span>
														</div>
														<div class="media-body see_num">
															<h3>{{ number_list.2 }}</h3>
															<span>醫師</span>
														</div>
														<div class="media-body see_num">
															<h3 class="see_num_no">{{ number_list.3|default:"" }}</h3>
															<span>目前診號</span>
														</div>
													</div>
												</div>
												<div class="card-footer p-0">
													<div class="see_detail btn noon_c" data-toggle="modal" data-target="#M{{ number_list.4 }}">詳細資料</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
				</div>
				<!-- 晚診 -->
				{% elif now_status == "3" %}
				<div id="menu1" class="tab-pane active">
						<div class="my-3 px-1"></div>
						<div class="Div_out night_which_doc">
							{% for number_list in number_lists %}
							<div class="Div_box">
								<div class="Div_body">
									<div class="card rounded-0">
										<div class="card-content">
											<div class="card-body p-0">
												<div class="d-inline-flex see_title night_a">
													<h5>{{ number_list.1 }}</h5>
												</div>
												<div class="media d-flex">
													<div class="media-body see_num">
														<h3 class="see_room_no">{{ number_list.0|slice:"3" }}</h3>
														<span>診間</span>
													</div>
													<div class="media-body see_num">
														<h3>{{ number_list.2 }}</h3>
														<span>醫師</span>
													</div>
													<div class="media-body see_num">
														<h3 class="see_num_no">{{ number_list.3|default:"" }}</h3>
														<span>目前診號</span>
													</div>
												</div>
											</div>
											<div class="card-footer p-0">
												<div class="see_detail btn night_c" data-toggle="modal" data-target="#M{{ number_list.4 }}">詳細資料</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
{% include 'schema_article.html' with headline="看診進度" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
<style>
	.nav-item > input{
		width:100%;
	}
	.clinic-guide{
		align-self: center;					
		border-top: 1px solid var(--color-border-light);
		margin-top: 10px;
		padding: 10px 10px 0 10px;
		text-align: center;			
	}
	.clinic-guide-text{
		font-size: .9rem;
		color: red;
		font-weight: bold;
	}
	@media (min-width: 1200px) {
		.clinic-guide{
			border-top: none;
			border-left: 1px solid var(--color-border-light);
			line-height: 30px;
			padding: 0 25px;
			text-align: left;	
		}
	}
	.l-main-content{
		padding: 0 10px 10px 10px;
	}
</style>
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
<script>
	window.loadingStartTime = new Date();
		function myrefresh() {
		window.location.reload();
	}
	setInterval('myrefresh()', 180000); //指定1秒刷新一次
</script>
{% endblock %}