{% extends "one_page_base.html" %}

{% load static %}

{% block title %}意見反映｜{{ block.super }}{% endblock %}
{% block og_title %}意見反映｜{{ block.super }}{% endblock %}

{% block guide_content %}
<header id="content_h">
    <h2 class="c-onsale-heading">意見反映</h2>
</header>

<div class="l-main-content__body">
    <div class="row">
        <div class="col-12">
            <div class="d_intro animate-from-bottom__0">
				<div class="w-100 position-relative">
					<div class="in_icon position-absolute">
						<i class="far fa-envelope lightco-word" style="font-size: clamp(15rem, 30vw, 30rem);"></i>
					</div>
					<div class="in_content position-relative">
						<div class="in_subtitle text-justify font-24">
	<span class="l-height35"><strong>您的寶貴意見是我們成長與提升服務的動力，有任何讚許、建議或抱怨，歡迎即時回饋給我們。回饋管道如下：</strong></span>
							<hr>
							
							{% if messages %}
								{% for message in messages %}
									<div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show font-18" role="alert">
										<strong>系統提示：</strong> {{ message }}
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
								{% endfor %}
							{% endif %}
							
							<div class="rounded">
								<div class="row">

									<div class="col-12">
										<form id="contact_us" class="rounded" action="/A004_contact_us/" method="POST" name="form1">
											{% csrf_token %}
											<div class="row">
												<div class="col-12 col-md-12">
													<div class="form-group"> 
														<label for="id_category" class="font-18 cofe-word text-nowrap mark_arrow_title">
															<h5 class="font-weight-bold mb-0">反應事件類別</h5>	
														</label>
														<div>
															{% for radio in form.category %}
															<div class="form-check-inline">
																<label class="form-check-label font-20 font-weight-bold" for="{{ radio.id_for_label }}">
																	{{ radio.tag }} {{ radio.choice_label }}
																</label>
															</div>
															{% endfor %}
														</div>
													</div>
												</div>
												<div class="col-12 col-md-6">
													<div class="form-group"> 
														<label for="{{ form.name.id_for_label }}" class="font-18 cofe-word mark_arrow_title">
															<h5 class="font-weight-bold mb-0">姓名<span class="text-danger">*</span></h5>	
														</label>
														<div>
															{{ form.name }}
														</div>
													</div>
												</div>
												<div class="col-12 col-md-6">
													<div class="form-group"> 
														<label for="{{ form.phone.id_for_label }}" class="font-18 cofe-word mark_arrow_title">
															<h5 class="font-weight-bold mb-0">聯絡電話</h5>	
														</label>
														<div>
															{{ form.phone }}
														</div>
													</div>
												</div>
												<div class="col-12 col-md-6">
													<div class="form-group"> 
														<label for="{{ form.email.id_for_label }}" class="font-18 cofe-word mark_arrow_title">
															<h5 class="font-weight-bold mb-0">Email</h5>	
														</label>
														<div>
															{{ form.email }}
														</div>
													</div>
												</div>
												<div class="col-12 col-md-6">
													<div class="form-group"> 
														<label for="{{ form.incident_date.id_for_label }}" class="font-18 cofe-word mark_arrow_title">
															<h5 class="font-weight-bold mb-0">事件發生日期</h5>	
														</label>
														<div>
															{{ form.incident_date }}
														</div>
													</div>
												</div>
												<div class="col-12 col-md-6">
													<div class="form-group"> 
														<label for="{{ form.incident_time.id_for_label }}" class="font-18 cofe-word mark_arrow_title">
															<h5 class="font-weight-bold mb-0">事件發生時間</h5>
														</label>
														<div>
															{{ form.incident_time }}
														</div>
													</div>
												</div>
												<div class="col-12 col-md-6">
													<div class="form-group"> 
														<label for="{{ form.place.id_for_label }}" class="font-18 cofe-word mark_arrow_title">
															<h5 class="font-weight-bold mb-0">發生地點</h5>
														</label>
														<div>
															{{ form.place }}
														</div>
													</div>
												</div>
												<div class="col-12">
													<div class="form-group"> 
														<label for="{{ form.message.id_for_label }}" class="font-18 cofe-word mark_arrow_title">
															<h5 class="font-weight-bold mb-0">反應內容或事件經過<span class="text-danger">*</span></h5>
														</label>
														{{ form.message }}
														<div class="font-16 text-danger text-right mt-1">※ 還可輸入字數為
															<strong><span id="rchars">500</span></strong>&nbsp;字
														</div>
													</div>
												</div>
												
												<div class="col-12">
													<!-- 引入通用的驗證碼輸入元件 -->
													{% include 'components/_captcha_input.html' %}
												</div>

												<div class="col-12">
													<div class="form-group d-flex justify-content-center mb-0">
														<button type="submit" class="btn btn-warning m-1 btn-lg rounded-0" value="submit" id="submit">確定送出</button>
														<button type="reset" class="btn btn-outline-warning m-1 btn-lg rounded-0">清空重填</button>
													</div>
												</div>
											</div>
										</form>
									</div>

																	</div>
																</div>
															</div> 
														</div>
													</div>
												</div>


        </div>
    </div>
</div>
{% endblock %}

<!-- ▼▼▼ SEO/GEO ▼▼▼-->
{% block guide_seo %}
{% include 'schema_article.html' with headline="意見反映" %}
{% endblock %}
<!-- ▲▲▲ SEO/GEO ▲▲▲-->

<!-- ※※※ Sub Extra CSS Start ※※※ -->
{% block sub_extra_css %}
<style>
	.l-sub-layout__main{
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
	}
</style>
{% endblock %}
<!-- ※※※ Sub Extra CSS End ※※※ -->

<!-- ※※※ Sub Extra JS Start ※※※ -->
{% block sub_extra_js %}
<script>
    // 計算剩餘字數
    $(document).ready(function() {
        var maxLength = 500;
        $('#msgus').on('input', function() {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#rchars').text(length);
        });
    });
</script>
{% endblock %}

<!-- ※※※ Sub Extra JS End ※※※ -->