{% extends "department/department_base.html" %}

{% load static %}
<!-- === Meta ================================== -->
{% block title %}醫師查詢 | {{ block.super }}{% endblock %}
{% block og_title %}醫師查詢 | {{ block.super }}{% endblock %}


<!-- === 子頁細節內容 =========================== -->
{% block guide_content %}

<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
    <h2 class="c-onsale-heading">醫師查詢</h2>
</header>
<div class="l-main-content__body">
    <div class="row">
		{% for subject, doctor in datas %}
		<div class="col-12">
			<div class="baseline_title long_t cofe-word mt-3">
				<h3>{{ subject }}</h3>
			</div>
		</div>
		<div class="col-12">
			<div class="row my-3">
				{% for d, path in doctor %}
				<div class="col-12 col-md-4">
					<form action="/A001_department_doctor/" method="GET">
						<a href="#" onclick='this.parentNode.submit(); return false;'>
							<input type="hidden" name="dr_search" value="true">
							<input type="hidden" name="open_info_path" value="{{ path }}">
							<div class="trasition_site d_intro animate-from-bottom__0 mb-3 rounded">
								<div class="w-100 position-relative">
									<div class="in_icon position-absolute">
										<i class="fas fa-user-md darkcoco-word font-70"></i>
									</div>
									<div class="in_content position-relative">
										<div class="in_title">
											<span class="title_line_org">{{ d }}</span>
										</div>
									</div>
								</div>
							</div>
						</a>
					</form>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<!-- ▲▲▲ Content ▲▲▲-->

{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="醫師查詢" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}