{% load static %}
<footer id="footer" class="l-footer">
	<div class="container py-4" style="max-width: 1400px;">
		<div class="row">

			<!-- 第一欄：相關諮詢 -->
			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0 l-footer__col">
				<h4 class="l-footer__title">相關諮詢</h4>
				<ul class="l-footer__links">
					<li>
						<a href="https://www.104.com.tw/company/1a2x6bizc4" target="_blank" class="l-footer__link">
							人才招募
						</a>
					</li>
					<li>
						<a href="/A102_Safe_ISMS/" class="l-footer__link">
							資通安全政策聲明
						</a>
					</li>
				</ul>
			</div>

			<!-- 第二欄：聯絡資訊 -->
			<div class="col-lg-5 col-md-12 mb-4 mb-lg-0 l-footer__col">
				<h4 class="l-footer__title">聯絡資訊</h4>
				<div class="l-footer__contact">
					<div class="l-footer__contact-item">
						<i class="fas fa-map-marker-alt"></i>
						<div>
							<p class="l-footer__contact-main">41159 台中市太平區永平路一段9號</p>
							<p class="l-footer__contact-sub">No.9, Sec. 1, Yongping Rd., Taiping Dist., Taichung City 411, Taiwan</p>
						</div>
					</div>
					<div class="l-footer__contact-item">
						<i class="fas fa-phone-alt"></i>
						<p class="l-footer__contact-main">電話專線：04-3611-3611</p>
					</div>
				</div>
			</div>

			<!-- 第三欄：瀏覽器建議 & 社群 -->
			<div class="col-lg-4 col-md-12 l-footer__col">
				<h4 class="l-footer__title">瀏覽器建議</h4>
				<p class="l-footer__credits">
					建議使用最新版本的瀏覽器（如 Chrome、Edge、Firefox 或 Safari）瀏覽本網站，以獲得最佳瀏覽體驗。
				</p>
				<div class="l-footer__social">
					<a href="https://www.facebook.com/everanhospital" class="l-footer__social-link l-footer__social-link--facebook" target="_blank" aria-label="Facebook">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a href="https://www.youtube.com/channel/UC_-FuU3FcVfNzmQDwlaeT5g" class="l-footer__social-link l-footer__social-link--youtube" target="_blank" aria-label="YouTube">
						<i class="fab fa-youtube"></i>
					</a>
					<a href="https://line.me/R/ti/p/%40jgc1441j" class="l-footer__social-link l-footer__social-link--line" target="_blank" aria-label="Line">
						<i class="fab fa-line"></i>
					</a>
					<a href="https://www.google.com/maps/place/%E9%95%B7%E5%AE%89%E9%86%AB%E9%99%A2/@24.131103,120.719616,16z" class="l-footer__social-link l-footer__social-link--map" target="_blank" aria-label="Google Map">
						<i class="fas fa-map-marker-alt"></i>
					</a>
					<div>
						<div id="twcaseal" class="MINI"><img src="{% static 'common/img/MINI.gif' %}" alt="SSL 憑證標章"></div>
						<script type="text/javascript" charset="utf-8" >var twca_cn="https://web.everanhospital.com.tw";</script>
						<script type="text/javascript" src="//ssllogo.twca.com.tw/v4/twcaseal_v4.js" charset="utf-8"></script>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- 版權宣告 -->
	<div class="l-footer__bottom">
		<div class="container">
			<p class="l-footer__copyright">
				&copy; Copyright {% now "Y" %}
				本網站內容為 <strong>「<a href="/" alt="長安醫院首頁">長安醫院</a>」</strong> 版權所有 — 未經授權‧禁止轉載
			</p>
		</div>
	</div>
</footer>
