{% load static %}
<div id="footer" class="footer">
	<span>
		<footer>
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 footer-links">
							<h4>相關諮詢</h4>
							<ul>
								<li>
									<a href="https://www.104.com.tw/company/1a2x6bizc4" target="_blank">人才招募</a>
								</li>
								<li>
									<a href="http://web.everanhospital.com.tw:818/Department/Purchase/">採購公告</a>
								</li>
								<li><a href="/A102_Safe_ISMS/">資通安全政策聲明</a></li>
							</ul>
						</div>
						<div class="col-lg-4 col-md-6 footer-contact">
							<h4>聯絡資訊</h4>
							<p>
							41159 台中市太平區永平路一段9號 <br>
								<span style="font-size: 13px;">No.9, Sec. 1, Yongping Rd., Taiping Dist., 
							Taichung City 411,Taiwan</span><br>
							電話專線 : 04-3611-3611<br>
							
							</p>
						</div>
						<div class="col-lg-4 col-md-6 footer-newsletter">
							<h4>瀏覽器建議</h4>
							<div class="credits">本網站建議使用最新版本 Chrome 或 Firefox 瀏覽器，並設定 1024ｘ768 以上解析度，以獲得最佳瀏覽體驗。</div> 
							<div class="social-links text-left mt-2">
								<a href="https://www.facebook.com/everanhospital" class="facebook" target="_blank">
									<i class="fab fa-facebook"></i>
								</a>
								<a href="https://www.youtube.com/channel/UC_-FuU3FcVfNzmQDwlaeT5g" class="youtube" target="_blank">
									<i class="fab fa-youtube"></i>
								</a>
								<a href="https://line.me/R/ti/p/%40jgc1441j" target="_blank">
									<i class="fab fa-line"></i>
								</a>
								<a class="google-plus" href="https://www.google.com/maps/place/%E9%95%B7%E5%AE%89%E9%86%AB%E9%99%A2/@24.131103,120.719616,16z/data=!4m5!3m4!1s0x0:0xa9f0b272143823e6!8m2!3d24.131175!4d120.7196667?hl=zh-TW" target="_blank">
									<i class="fas fa-map-marker-alt"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="fo_solid">
				<div class="container">
					<div class="py-2">
						<div class="copyright">&copy; Copyright <span id="currentYear"></span> 本網站內容為<strong>「<a href="/index/">長安醫院</a>」</strong>版權所有 — 未經授權‧禁止轉載 — 
						</div>
					</div>
				</div>
			</div>
		</footer>
	</span>
</div>
<!-- ※※ 回到最上方 ※※ -->
<script src="{% static 'common/js/gotop.js' %}"></script>

<!-- ※※ 側邊選單下拉 ※※ -->
<script src="{% static 'common/js/mobile_arrow.js' %}"></script>

<!-- ※※ PDF 不另開分頁 ※※ -->
<script src="{% static 'common/js/InfullPDF.js' %}"></script>

<!-- ※※ Fancy Box ※※ -->
<script src="{% static 'common/js/fancybox.umd.js' %}"></script>

<!-- ※※ Sweet alert2 ※※ -->
<script src="{% static 'common/js/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'common/js/fancy_alert_mes_set.js' %}"></script>

<style>
	body.swal2-height-auto{
		height: 100% !important;
	}
</style>
