{% extends "Health_Edu_base.html" %}

{% load static %}

<!-- === Meta ================================== -->
<!-- title -->{% block title %}{{ title_name }}｜衛教園地｜{{ block.super }}{% endblock %}
<!-- description -->{% block meta_description %}台中長安醫院{{ sub_item_chinese }}提供『{{ title_name }}』專業衛教圖文說明，透過淺顯易懂的醫療護理圖文手冊，為台中市及太平區在地市民提供日常保健、疾病預防與照護指引。{% endblock %}

<!-- ※※※ Open Graph ※※※ -->
<!-- title -->{% block og_title %}{{ title_name }}｜衛教園地｜{{ block.super }}{% endblock %}
<!-- description -->{% block og_description %}台中長安醫院{{ sub_item_chinese }}提供『{{ title_name }}』專業衛教圖文說明，透過淺顯易懂的醫療護理圖文手冊，為台中市及太平區在地市民提供日常保健、疾病預防與照護指引。{% endblock %}
<!-- image -->{% block og_image %}{% if image_list %}{{ SITE_DOMAIN }}{{ image_list.0.jpg_url }}{% else %}{{ block.super }}{% endif %}{% endblock %}

<!-- ※※※ Twitter Card ※※※ -->
<!-- title -->{% block twitter_title %}{{ title_name }}｜衛教園地｜{{ block.super }}{% endblock %}
<!-- description -->{% block twitter_description %}台中長安醫院{{ sub_item_chinese }}提供『{{ title_name }}』專業衛教圖文說明，透過淺顯易懂的醫療護理圖文手冊，為台中市及太平區在地市民提供日常保健、疾病預防與照護指引。{% endblock %}
<!-- image -->{% block twitter_image %}{% if image_list %}{{ SITE_DOMAIN }}{{ image_list.0.jpg_url }}{% else %}{{ block.super }}{% endif %}{% endblock %}


<!-- === 子頁細節內容 =========================== -->
{% block guide_content %}
<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
	<h1 class="c-onsale-heading">{{ title_name }}</h1>
</header>
<div class="l-main-content__body mt-4">
	<div class="row">
		<div class="col-12">
			<!-- 衛教圖片展示 (以 <picture> 支援 WebP 格式與 JPG 降級相容，並支援懶載入與陰影圓角邊框) -->
			<div class="health-edu-images-container text-center">
				{% for img in image_list %}
				<div class="mb-4">
					<picture>
						{% if img.has_webp %}
						<source srcset="{{ img.webp_url }}" type="image/webp">
						{% endif %}
						<img src="{{ img.jpg_url }}" class="img-fluid" alt="台中長安醫院{{ sub_item_chinese }}衛教 - {{ title_name }} (第 {{ forloop.counter }} 頁)" loading="lazy" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
					</picture>
				</div>
				{% endfor %}
			</div>

			<!-- 做法 4：新增社群分享按鈕 (LINE / FB) -->
			<div class="d-flex justify-content-center align-items-center mt-5 mb-4">
				<span class="font-weight-bold text-secondary mr-3" style="font-size: 1.1rem;">分享這份實用圖文：</span>
				<!-- LINE Share -->
				<a href="javascript:void(0);" onclick="window.open('https://social-plugins.line.me/lineit/share?url=' + encodeURIComponent(window.location.href), '_blank');" class="btn btn-success rounded-circle d-flex align-items-center justify-content-center mx-1 shadow-sm" style="width: 45px; height: 45px; background-color: #00B900; border-color: #00B900; text-decoration: none;" title="分享到 LINE">
					<i class="fab fa-line text-white" style="font-size: 1.8rem;"></i>
				</a>
				<!-- FB Share -->
				<a href="javascript:void(0);" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(window.location.href), '_blank');" class="btn btn-primary rounded-circle d-flex align-items-center justify-content-center mx-1 shadow-sm" style="width: 45px; height: 45px; background-color: #1877F2; border-color: #1877F2; text-decoration: none;" title="分享到 Facebook">
					<i class="fab fa-facebook-f text-white" style="font-size: 1.5rem;"></i>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="mt-4 pt-4 text-center border-top">
	<a href="/A003_health_edu/{{ sub_item_en }}/" class="btn btn-outline-warning btn-lg rounded-0" title="台中長安醫院-回{{ sub_item_chinese }}衛教列表頁" aria-current="page" aria-label="台中長安醫院-回{{ sub_item_chinese }}衛教列表頁">回列表頁</a>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
{% include 'schema_medical_edu.html' with title=title_name sub_item_chinese=sub_item_chinese %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}