{% extends "Health_Edu_base.html" %}

{% load static %}
{% block title %}搜尋結果 | 衛教園地 | {{ block.super }}{% endblock %}
{% block og_title %}搜尋結果 | 衛教園地 | {{ block.super }}{% endblock %}

{% block guide_content %}
<header id="content_h">
	<h2 class="c-onsale-heading">搜尋結果</h2>
</header>
<div class="l-main-content__body mt-4">
	<div class="row">
		<div class="col-12">
			<!-- 搜尋列 -->
			<div class="d-flex justify-content-end mb-4">
				<div class="search_box">
					<form class="form-inline" action="{% url 'search' %}">
						<div class="input-group" style="width: 100%;">
							<input type="text" class="form-control" placeholder="搜尋其他文章" aria-label="搜尋其他文章" aria-describedby="button-addon2" name="search_text" value="{{ search_text }}">
							<input type="hidden" name="page" value="1">
							<div class="input-group-append ml-0">
								<button class="btn btn_search" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>

			<!-- 搜尋結果表格 -->
			<table class="table table-hover">
				<thead>
					<tr>
						<th>科別</th>
						<th>科室</th>
						<th>衛教文件</th>
					</tr>
				</thead>
				<tbody>
					{% for a in message_lists_cut %}
					<tr>
						<td><a href="{% url 'detail_page' sub_item_en=a.sub_item_en title_name=a.name %}" class="health_list">{{a.r_department}}</a></td>
						<td><a href="{% url 'detail_page' sub_item_en=a.sub_item_en title_name=a.name %}" class="health_list">{{a.room}}</a></td>
						<td><a href="{% url 'detail_page' sub_item_en=a.sub_item_en title_name=a.name %}" class="health_list">{{a.name}}</a></td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="3" class="text-center py-4">查無符合「{{ search_text }}」的衛教文章</td>
					</tr>
					{% endfor %} 
				</tbody>
			</table>

			<!-- 分頁功能 -->
			{% if message_lists_cut|length > 0 %}
			<div class="row mt-3">
				<div class="col-12 d-flex justify-content-center">
					<ul class="pagination">
						{% if contacts_2.has_previous %}
						<li class="active"><a class="page-link"
								href="?search_text={{search_text}}&page={{ contacts_2.previous_page_number }}">&lt;&lt;</a></li>
						{% endif %}

						{% if paginator_2.has_previous_more %}
						<li class="page-item"><a class="page-link" href="?search_text={{search_text}}&page=1">1</a></li>
						<li class="page-item"><a class="page-link" href="javascript:void(0);">...</a></li>
						{% endif %}

						{% for i in paginator_2.previous_range %}
						<li class="page-item">
							<a class="page-link" href="?search_text={{search_text}}&page={{ i }}">{{ i }}</a>
						</li>
						{% endfor %}

						<li class="page-item active"><a class="page-link"
								href="?search_text={{search_text}}&page={{ paginator_2.number }}">{{ paginator_2.number }}</a></li>

						{% for i2 in paginator_2.next_range %}
						<li class="page-item">
							<a class="page-link" href="?search_text={{search_text}}&page={{ i2 }}">{{ i2 }}</a>
						</li>
						{% endfor %}

						{% if paginator_2.has_next_more %}
						<li class="page-item"><a class="page-link" href="javascript:void(0);">...</a></li>
						<li class="page-item"><a class="page-link" href="?search_text={{search_text}}&page={{ paginator_2.num_pages }}">{{paginator_2.num_pages}}</a></li>
						{% endif %}

						{% if contacts_2.has_next %}
						<li class="active">
							<a class="page-link" href="?search_text={{search_text}}&page={{ contacts_2.next_page_number }}">&gt;&gt;</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
