{% extends "Health_Edu_base.html" %}

{% load static %}

<!-- === Meta ================================== -->
<!-- title -->{% block title %}{{ title_name }}｜衛教園地｜{{ block.super }}{% endblock %}
<!-- description -->{% block meta_description %}台中長安醫院{{ sub_item_chinese }}提供『{{ title_name }}』專業衛教圖文說明，透過淺顯易懂的醫療護理圖文手冊，為台中市及太平區在地市民提供日常保健、疾病預防與照護指引。{% endblock %}

<!-- ※※※ Open Graph ※※※ -->
<!-- title -->{% block og_title %}{{ title_name }}｜衛教園地｜{{ block.super }}{% endblock %}
<!-- description -->{% block og_description %}台中長安醫院{{ sub_item_chinese }}提供『{{ title_name }}』專業衛教圖文說明，透過淺顯易懂的醫療護理圖文手冊，為台中市及太平區在地市民提供日常保健、疾病預防與照護指引。{% endblock %}
<!-- image -->{% block og_image %}{% if image_list %}{{ SITE_DOMAIN }}{{ image_list.0.jpg_url }}{% else %}{{ block.super }}{% endif %}{% endblock %}

<!-- ※※※ Twitter Card ※※※ -->
<!-- title -->{% block twitter_title %}{{ title_name }}｜衛教園地｜{{ block.super }}{% endblock %}
<!-- description -->{% block twitter_description %}台中長安醫院{{ sub_item_chinese }}提供『{{ title_name }}』專業衛教圖文說明，透過淺顯易懂的醫療護理圖文手冊，為台中市及太平區在地市民提供日常保健、疾病預防與照護指引。{% endblock %}
<!-- image -->{% block twitter_image %}{% if image_list %}{{ SITE_DOMAIN }}{{ image_list.0.jpg_url }}{% else %}{{ block.super }}{% endif %}{% endblock %}


<!-- === 子頁細節內容 =========================== -->
{% block guide_content %}
<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
	<h1 class="c-onsale-heading">{{ title_name }}</h1>
</header>
<div class="l-main-content__body mt-4">
	<div class="row">
		<div class="col-12">
			<!-- 衛教圖片展示 (以 <picture> 支援 WebP 格式與 JPG 降級相容，並支援懶載入與陰影圓角邊框) -->
			<div class="health-edu-images-container text-center">
				{% for img in image_list %}
				<div class="mb-4">
					<picture>
						{% if img.has_webp %}
						<source srcset="{{ img.webp_url }}" type="image/webp">
						{% endif %}
						<img src="{{ img.jpg_url }}" class="img-fluid" alt="台中長安醫院{{ sub_item_chinese }}衛教 - {{ title_name }} (第 {{ forloop.counter }} 頁)" loading="lazy" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
					</picture>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<div class="mt-4 pt-4 text-center border-top">
	<a href="/A003_health_edu/{{ sub_item_en }}/" class="btn btn-outline-warning btn-lg rounded-0" title="台中長安醫院-回{{ sub_item_chinese }}衛教列表頁" aria-current="page" aria-label="台中長安醫院-回{{ sub_item_chinese }}衛教列表頁">回列表頁</a>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "MedicalWebPage",
    "@id": "{{ SITE_DOMAIN }}{{ request.path }}#medicalwebpage",
    "url": "{{ SITE_DOMAIN }}{{ request.path }}",
    "name": "{{ title_name }}｜{{ sub_item_chinese }}衛教園地",
    "headline": "{{ title_name }}｜{{ sub_item_chinese }}衛教園地｜台中長安醫院",
    "description": "台中長安醫院{{ sub_item_chinese }}提供『{{ title_name }}』專業衛教圖文說明，透過淺顯易懂的醫療護理圖文手冊，為台中市及太平區在地市民提供日常保健、疾病預防與照護指引。",
    "inLanguage": "zh-TW",
    "datePublished": "2023-01-01",
    "dateModified": "{% now 'Y-m-d' %}",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ SITE_DOMAIN }}{{ request.path }}"
    },
    "image": [
        {% for img in image_list %}
        "{{ SITE_DOMAIN }}{{ img.jpg_url }}"{% if not forloop.last %},{% endif %}
        {% endfor %}
    ],
    "about": [
        {
            "@type": "MedicalSpecialty",
            "name": "{{ sub_item_chinese }}"
        },
        {
            "@type": "MedicalCondition",
            "name": "{{ title_name }}"
        }
    ],
    "author": {
        "@type": "Hospital",
        "@id": "{{ SITE_DOMAIN }}/#hospital"
    },
    "publisher": {
        "@type": "Hospital",
        "@id": "{{ SITE_DOMAIN }}/#hospital"
    }
}
</script>
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}