<div class="c-sidebar-trust js-sidebar-wrapper" id="sidebarMenu">			
	<div class="c-sidebar-trust__header js-sidebar-toggle">
		<div class="u-badge-small">EDUCATION</div>
		<div class="c-sidebar-trust__title-row">
			<h3>衛教園地</h3>
			<span class="c-sidebar-trust__toggle-icon"><i class="fas fa-chevron-down" aria-hidden="true"></i></span>
		</div>
		<p>Health Education</p>
	</div>		

	<nav class="c-sidebar-trust__nav" aria-label="長安醫院衛教園地導覽選單" itemscope itemtype="http://schema.org/SiteNavigationElement">				
		<ul class="c-sidebar-trust__list">
			{% for c in collapse_List %}
			<li class="c-sidebar-trust__item-wrapper has-sub {% if c.file == main_item %}is-expanded{% endif %}">
				<a class="c-sidebar-trust__item js-submenu-toggle" href="javascript:void(0)" title="{{ c.showfile }}" itemprop="url">
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">{{ c.showfile }}</span>
						{% if c.en_name %}
						<span class="c-sidebar-trust__en" style="display: block; font-size: 0.85em; color: #888; font-weight: normal; margin-top: 2px;">{{ c.en_name }}</span>
						{% endif %}
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
				
				<ul class="c-sidebar-trust__sub-list">
					{% for sub in c.sub_item %}
					<li>
						<a class="c-sidebar-trust__sub-item {% if c.file == main_item and sub.name == sub_item %}is-active{% endif %}" href="/A003_health_edu/{{ sub.en_name }}/" title="{{ sub.show_name }}">
							{{ sub.show_name }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ul>
	</nav>
</div>