{% extends "news_base.html" %}

{% load static %}

<!-- === Meta ================================== -->
{% block title %}最新消息｜{{ block.super }}{% endblock %}
{% block meta_description %}提供台中長安醫院最新的醫療服務訊息、院內公告與專業健康講座。我們位於台中太平區，致力於守護全台民眾的健康。{% endblock %}


<!-- ※※※ Open Graph ※※※ ======== -->
<!-- title -->{% block og_title %}最新消息｜{{ block.super }}{% endblock %}
<!-- description -->{% block og_description %}提供台中長安醫院最新的醫療服務訊息、院內公告與專業健康講座。我們位於台中太平區，致力於守護全台民眾的健康。{% endblock %}


<!-- ※※※ Twitter Card ※※※ -->
<!-- title -->{% block twitter_title %}最新消息｜{{ block.super }}{% endblock %}
<!-- description -->{% block twitter_description %}提供台中長安醫院最新的醫療服務訊息、院內公告與專業健康講座。我們位於台中太平區，致力於守護全台民眾的健康。{% endblock %}



<!-- === 子頁細節內容 =========================== -->
{% block guide_content %}

<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
    <h2 class="c-onsale-heading">最新消息</h2>
</header>
<div class="l-main-content__body">
    <div class="row">
		<div class="col-12">
			<div>
				<table class="table cell-table n_news">
				    <thead>
					    <tr>
							<th class="text-center title-bg">標題</th>
							<th width="15%" class="text-center title-bg">更新日期</th>
					    </tr>
				    </thead>
					<tbody>
						{% for news_list in contacts %}
						<tr class="cell_row">
					        <td>
							<div class="cell_left font-weight-bold">標題</div>
							<div class="cell_right">
								<!-- 連結設定 slug 對應的索引位置 -->
								<a class="font-weight-bold" href="/A000_news/{{ news_list.7 }}/">{{ news_list.2 }}</a>
							</div>
							</td>
							<td class="text-center">
						        <div class="cell_left font-weight-bold">更新日期</div>
						        <div class="cell_right">{{ news_list.6 }}</div>
							</td>
						</tr>
					    {% endfor %}
				    </tbody>
				</table>
			</div>
			<!-- 分頁功能 -->
			<div class="row mt-3">
				<div class="col-12 d-flex justify-content-center">
					<ul class="pagination">
						{% if contacts.has_previous %}
							<li class="page-item"><a class="page-link" href="?page={{ contacts.previous_page_number }}">上一頁</a></li>
						{% endif %}
						{% for i in paginator.page_range %}
							{% if contacts.number == i %}
								<li class="page-item active">
									<a class="page-link" href="?page={{ i }}">{{ i }}</a>
								</li>
							{% else %}
								<li class="page-item">
									<a class="page-link" href="?page={{ i }}">{{ i }}</a>
								</li>
							{% endif %}
						{% endfor %}
						{% if contacts.has_next %}
							<li class="page-item">
								<a class="page-link" href="?page={{ contacts.next_page_number }}">下一頁</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}
       

<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
	{% include 'schema_article.html' with headline="最新消息" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}