{% extends "news_base.html" %}

{% load static %}

<!-- === Meta ================================== -->
{% block title %}最新消息｜{{ block.super }}{% endblock %}
{% block meta_description %}提供台中長安醫院最新的醫療服務訊息、院內公告與專業健康講座。我們位於台中太平區，致力於守護全台民眾的健康。{% endblock %}


<!-- ※※※ Open Graph ※※※ ======== -->
<!-- title -->{% block og_title %}最新消息｜{{ block.super }}{% endblock %}
<!-- description -->{% block og_description %}提供台中長安醫院最新的醫療服務訊息、院內公告與專業健康講座。我們位於台中太平區，致力於守護全台民眾的健康。{% endblock %}


<!-- ※※※ Twitter Card ※※※ -->
<!-- title -->{% block twitter_title %}最新消息｜{{ block.super }}{% endblock %}
<!-- description -->{% block twitter_description %}提供台中長安醫院最新的醫療服務訊息、院內公告與專業健康講座。我們位於台中太平區，致力於守護全台民眾的健康。{% endblock %}



<!-- === 子頁細節內容 =========================== -->
{% block guide_content %}

<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
    <h2 class="c-onsale-heading">最新消息</h2>
</header>
<div class="l-main-content__body">
    <div class="row">
		<div class="col-12 ajax-fade-container" id="ajax-paginated-section">
			{% include "news_1_partial.html" %}
		</div>
	</div>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}
       

<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
	{% include 'schema_article.html' with headline="最新消息" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}