{% extends "news_base.html" %}

{% load static %}

<!-- === Meta ================================== -->
{% block title %}媒體報導｜{{ block.super }}{% endblock %}
{% block og_title %}媒體報導｜{{ block.super }}{% endblock %}


<!-- === 子頁細節內容 =========================== -->
{% block guide_content %}

<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
    <h1 class="c-onsale-heading">媒體報導</h1>
</header>
<div class="l-main-content__body">
    <div class="row ajax-fade-container" id="ajax-paginated-section">
        {% include "news_2_partial.html" %}
    </div>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
{% include 'schema_article.html' with headline="媒體報導" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}