<div class="c-sidebar-trust js-sidebar-wrapper" id="sidebarMenu">			
	<div class="c-sidebar-trust__header js-sidebar-toggle">
		<div class="u-badge-small">INFO</div>
		<div class="c-sidebar-trust__title-row">
			<h3>動態消息</h3>
			<span class="c-sidebar-trust__toggle-icon"><i class="fas fa-chevron-down"></i></span>
		</div>
		<p>News & Media</p>
	</div>		

	<nav class="c-sidebar-trust__nav" aria-label="長安醫院動態消息導覽選單" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<ul class="c-sidebar-trust__list">

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A000_closed_clinic/' %}is-active{% endif %}" href="/A000_closed_clinic/" title="台中長安醫院-停休診公告" itemprop="url" {% if request.path == '/A000_closed_clinic/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">停休診公告</span>
						<span class="c-sidebar-trust__en">Clinic Notices</span>
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A000_news/' %}is-active{% endif %}" href="/A000_news/" title="台中長安醫院-最新消息" itemprop="url" {% if request.path == '/A000_news/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">最新消息</span>
						<span class="c-sidebar-trust__en">News</span>
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A000_reports/' %}is-active{% endif %}" href="/A000_reports/" title="台中長安醫院-媒體報導" itemprop="url" {% if request.path == '/A000_reports/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">媒體報導</span>
						<span class="c-sidebar-trust__en">Media Reports</span>
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A000_video_message/' %}is-active{% endif %}" href="/A000_video_message/" title="台中長安醫院-影音消息" itemprop="url" {% if request.path == '/A000_video_message/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">影音消息</span>
						<span class="c-sidebar-trust__en">Videos</span>
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right"></i></div>
				</a>
			</li>

		</ul>
	</nav>
</div>