{% extends "news_base.html" %}

{% load static %}

<!-- === Meta ================================== -->
{% block title %}停休診公告｜{{ block.super }}{% endblock %}
{% block og_title %}停休診公告｜{{ block.super }}{% endblock %}


<!-- === 子頁細節內容 =========================== -->

<!-- ▼▼▼ Content ▼▼▼-->
{% block guide_content %}
<header id="content_h">
	<h2 class="c-onsale-heading">停休診公告</h2>
</header>
<div class="l-main-content__body">
    <form action="" method="GET">
		<div class="d-flex justify-content-between two-h py-2">
			<input type="hidden" name="date_now" value="{{ year }}{{ month }}">
			<div>
				<button type="submit" class="btn btn-link cofe-word" name="date_sub"><i class="fas fa-chevron-left"></i></button>
			</div>
			<div class="og-word">
				<h3 class="mb-0"><b>{{ year }} 年 {{ month }} 月</b></h3>
			</div>
			<div>
				<button type="submit" class="btn btn-link cofe-word" name="date_add"><i class="fas fa-chevron-right"></i></button>
			</div>
		</div>
	</form>
	<div class="">
		<table class="table table-striped cell-table">
			<thead>
				<tr>
					<th class="font-weight-bold title-bg text-center beige-word text-nowrap w-15">科別</th>
					<th class="font-weight-bold title-bg text-center beige-word text-nowrap w-15">醫師</th>
					<th class="font-weight-bold title-bg text-center beige-word text-nowrap">停診日期</th>
				</tr>
			</thead>
			<tbody>
				{% for data1,data2 in datas %}
				<tr class="cell_row">
					<td>
						<!-- <div class="cell_left font-weight-bold title-bg beige-word text-nowrap">科別</div> -->
						<div class="font-weight-bold text-center text-nowrap de_caption">{{ data1.0 }}</div>
					</td>
					<td>
						<div class="cell_left font-weight-bold text-nowrap">醫師</div>
						<div class="cell_right font-weight-bold text-center text-nowrap">{{ data1.1 }}</div>
					</td>
					<td class="p-0">
						<div class="cell_left font-weight-bold text-nowrap" style="font-size: 0.94rem;">{{ month }}月停診日期</div>
						<div class="cell_right">
							<div class="d-flex flex-wrap">
								{% for d in data2 %}
									{% if d.3 == '1' %}
										<div class="box_out">
											<div class="stop_date mor_date">{{ d.2 }}</div>
										</div>
									{% endif %}
									{% if d.3 == '2' %}
										<div class="box_out">
											<div class="stop_date noon_date">{{ d.2 }}</div>
										</div>
									{% endif %}
									{% if d.3 == '3' %}
										<div class="box_out">
											<div class="stop_date eve_date">{{ d.2 }}</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
	{% include 'schema_article.html' with headline="停休診公告" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}