{% load static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if A007_True == false %}
<meta name="keywords" content="長安醫院、太平醫院、急診、骨科、眼科、復健、體檢、健康檢查、假日門診" />
<meta name="title" content="長安醫院">
<meta property="og:url" content="https://web.everanhospital.com.tw/">
<meta property="og:title" content="長安醫院">
<meta property="og:type" content="website">
<meta property="og:description" content="長安醫院位於台中市太平區，提供多項專科門診、健檢中心、長照護理、與24小時急診服務。">
<meta name="description" content="長安醫院位於台中市太平區，提供多項專科門診、健檢中心、長照護理、與24小時急診服務。">
<meta property="og:image" content="https://web.everanhospital.com.tw/Public/A004/img/hos_intro.jpg">
{% endif %}


<!-- CSS ================================ -->
<link rel="stylesheet" href="{% static 'common/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'common/icon/css/all.css' %}">
<!-- 導航列 -->
<link rel="stylesheet" type="text/css" href="{% static 'common/css/reset.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/style.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/ionicon.min.css' %}">
<!-- Fancy Box -->
<link rel="stylesheet" href="{% static 'common/css/fancybox.css' %}">
<!-- SweetAlert2 -->
<link rel="stylesheet" href="{% static 'common/css/sweetalert2.min.css' %}">
<!-- style -->
<link rel="stylesheet" href="{% static 'common/css/style.css' %}">
{% if A007_True %}
	<!-- 預約慢箋 -->
	<link rel="stylesheet" href="{% static 'common/css/Reserve_pre.css' %}">
{% else %}
	<link rel="stylesheet" href="{% static 'common/css/sub-style.css' %}">
{% endif %}
<link rel="icon" href="{% static 'common/img/favicon.ico' %}" type="image/x-icon">

<!-- js ================================ -->
<script src="{% static 'common/js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'common/js/popper.min.js' %}"></script>
<script src="{% static 'common/js/bootstrap.min.js' %}"></script>
<script src="{% static 'common/js/main.js' %}"></script>
<script src="{% static 'common/js/script.js' %}" defer></script>

<!-- 共同引用 nav.footer.menu 對應內容 套件 -->
<script src="{% static 'common/js/ajax_share_kit.js' %}"></script>
