/* body{
    padding-top: 4.5rem;
} */
.header .menu>ul>li{
    padding: 0 .5rem 0 .5rem;
    line-height: 3.2rem !important;
}
.header-item-right a:hover, .header .menu>ul>li:hover>a{
    font-size: 1.2rem;
}
.side_menu_div a:hover, 
.side-lili label:hover, 
.side-lili.menu-items li a:hover{
    font-size: 19px !important;
}

.menu_sidebar{
    top: 12% !important;
}

.card_shadow{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
/* #sidebar{
    min-width: 320px;
    max-width: 320px;
} */


/* 急診醫學 */
.n_news h6{
    margin-bottom: 0;
}
.n_news span{
    white-space: nowrap;
}

.gradient_h{
    background: radial-gradient(circle at center,#faebd7,#fff);
    line-height:45px;
    text-align: center;
    font-weight: bold;
    color: #754826;
    letter-spacing: 2px;
    font-size: 20px;
}
.word-Indent{
    text-indent: 0em;
    font-size: 18px;
}
section{
    width: 98%;
    margin: 0 auto;
}
section p{
    font-size: 1rem;
    line-height: 1.6;
    /* text-align: justify; */
    text-justify: inter-ideograph;	/* for IE */
}
.hd-box{
    border-bottom: solid 1px #f5961d;
    margin-bottom: 10px;
}
h2.hd{
    /*font-size: 20px;		 $FONT_SIZE */
    font-weight: bold;
}
span.txt{
    /*line-height: 1.7;		 $LINE_HEIGHT */
    /*font-size: 20px;	 $FONT_SIZE */
    color: #754826;
    display: inline-block;
    vertical-align: top;	/* 下側ブロック境界との隙間を消す */
    text-indent: -26px;		/* -$TEXT_INDENT */
    margin-left: 26px;		/* $TEXT_INDENT = $ICON_SIZE + $MARGIN_RIGHT */
    text-align: justify;
}
.ic{
    display: inline-block;
    width: 16px;	/* $ICON_SIZE */
    height: 16px;	/* $ICON_SIZE */
    font-size: 16px;	/* $ICON_SIE */
    
    vertical-align: top;
    margin-top: calc((1.7 * 20px - 16px)/ 2);		/* ($LINE_HEIGHT x $FONT_SIZE - $ICON_SIZE) / 2 */
    margin-right: 10px;		/* $MARGIN_RIGHT */
    position: relative;	/* For adjusting position of FontAwesome icon (pseudo element) */
}
.ic.square{
    background-color: #f5961d;
}
.ic.circle{
    border-radius: 100%;
    background-color: #FF5252;
}
.ic i:before{
    color: #FF5252;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 26px;	/* $TEXT_INDENT */
}

/* timeline 時間軸 */
    .container-timeline {
    position: relative;
    margin: 50px 0px 10px 0px;
}

.container-timeline ul {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    display: inline-block;
    counter-reset: wa-process-counter;
}

.container-timeline ul li {
    list-style: none;
    margin: 0;
    border-left: 4px solid #C7EBE1;
    padding: 0 0 30px 40px;
    position: relative;
    counter-increment: wa-process-counter;
}

.container-timeline ul li::before {
    position: absolute;
    left: -21px;
    top: 0;
    content: counter(wa-process-counter);
    /* border: 1px solid green; */
    border-radius: 5px;
    background: #C7EBE1;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    color: #28a745;
}

/* 聽見 AED - SDGS 區塊 */

/* SDGS */
/* .box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
} */

.our-services {
    margin-top: 75px;
    padding-bottom: 30px;
    padding: 0 10px;
    min-height: 198px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all .4s ease-in-out;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.our-services p{
    font-size: 18px;
}

.our-services .li_icon {
    margin-bottom: -21px;
    /* transform: translateY(-30%); */
    transform: translate(30%, -35%);
    text-align: center
}

.SDG_title{
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 10px;
    width: 50%;
    padding: 15px;
    margin: 60px auto;
    border: 5px solid #754826;
    background-color: #fff;
}
.download_icon{
    max-width: 22%;
    margin: 0px 5px;
}
.download_icon img{
    transition: all 0.4s ease-in-out;
    filter: grayscale(100);
}
.download_icon img:hover{
    filter: none;
    transform: scale(0.95)
}

.div1 img{
    width: 1000px;
}
ol.custom-numbers li{
    display: table;
    font-size: 18px;
}
ol.custom-numbers li::before{
    margin-right: 0.2rem;
}
.small_img{
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 30px;
}
.small_img img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    width: auto;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
}



/* 民眾感謝、定期訓練 */
.thx_card{
    background-color: #eeedea;
    padding: 10px;
    position: relative;
    width: 100%;
}
.thx_card .t-shape{
    position:absolute;
    top: 0;
    right: 0px;
}
.sub_header{
    display: block;
    /* padding-bottom: 80px; */
    background-color: #fff;
}
.thr_header{
    position:relative;
    padding: 25px 0 0 20px;
}
.thr_header:after,.nav-wrapper nav:after{
    clear: both;
}
.thr_header:before, 
.thr_header:after, 
.nav-wrapper nav:before, 
.nav-wrapper nav:after,
.nav-wrapper nav ul:before, 
.nav-wrapper nav ul:after{
    display:block;
    content:'';
}
.thr_header h1{
    color: #ff8400;
    font-size: 35px;
}
.sub_header .thr_header .h-logo{
    float: left;
    width: 174px;
    height: auto;
}
.sub_header .thr_header .h-dash{
    position: absolute;
    top: 38px;
    left: 205px;
    float: left;
}
.main_text{
    display: block;
    overflow: hidden;
    padding-bottom: 10px;
    background-color: #fff;
}
.nav-wrapper{
    height: 10px;
    margin-top: 0px;
    background-color: #ffa800;
}
.nav-wrapper nav{
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* width: 800px; */
    margin: 0 auto;
    padding: 10px 0;
}
.nav-wrapper nav .nav-logo{
    display: block;
    float: left;
}
.nav-wrapper nav .nav-logo-sp{
    display: none;
}
.nav-wrapper nav p{
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    position: absolute;
    top: 80px;
    left: -10px;
    width: 140px;
    text-align: center;
    letter-spacing: .06em;
    color: #ffa800;
}
.nav-wrapper nav ul{
    float: left;
    width: calc(100% - 200px);
    margin-left: 3px;
}
.nav-wrapper nav ul li{
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    float: left;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 4px 13.5px 4px 13.5px;
    letter-spacing: .06em;
    color: #fff;
    border: 1px solid #fff;
}

.bbg{
    background-color: #fff;
    background-image: url("https://www.transparenttextures.com/patterns/food.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.bbg2{
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/vichy.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.carousel-text{
    line-height: 18px;
    background-color: rgba(255,255,255,0.7);
    color: #333;
    padding: 10px;
    z-index: 1;
}


/* ======= RWD ======= */
@media only screen and (max-width: 768px) {
    .about-text h4{
        margin: 15px 0 6px 0;
    }
    .cell-table > tbody > tr > th{
        padding: 10px;
    }
    .cell-table > tbody > tr > td{
        border: 1px solid #eee !important;
    }
}

@media only screen and (max-width: 992px){
    .header .menu>ul>li>a{
        padding: 0;
    }
    .ele_thx{
        background-image: none;
    }
} 
@media (min-width: 1200px) {
    .container-timeline ul {
        display: flex;
        padding-left: 0;
        padding-top: 20px;
    }
    .container-timeline ul li {
        flex: 1 1 0;
        border-left: 0;
        border-top: 4px solid #C7EBE1;
        padding: 50px 1em 0 1em;
    }
    .container-timeline ul li::before {
        left: 80px;
        top: -21px;
    }
}
