{% load static %}
<span class="labor_h_nav">
	<div>
		<header class="header">
			<div class="container">
				<div class="d-flex justify-content-center">
					<!-- 導航列-LOGO -->
					<div class="row">
						<div class="col-9 col-lg-6 col-xl-6">
							<div class="logo">
								<!-- <a class="navbar-brand" href="../../../index.html">
									<img src="../../../img/長安醫院LOGO(曲)-07.png" alt="長安醫院">                                
								</a> -->
								<a class="navbar-brand" href="https://web.everanhospital.com.tw">
									<img src="{% static 'common/img/長安醫院LOGO(曲)-07.png' %}" alt="長安醫院">                                
								</a>
							</div>
						</div>
						<div class="col-3 header-item-right d-block d-lg-none">
							<!-- <div class="header-item-right d-block d-lg-none"> -->
								<!-- RWD 漢堡 -->
								<button type="button" class="menu-mobile-trigger">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</button>
							<!-- </div> -->
						</div>											
						<div class="col-md-12 col-lg-6 col-xl-6 d-flex align-items-center">
							<div class="rwd-two-h py-2">
								<a href="/A003_Laboratory/" class="og-word">
									<h3 class="mb-0"><b>檢驗科</b></h3>
									<div class="font-12">Department of Laboratory Medicine</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<!-- Section: Navbar Menu 導航列-選單範圍 -->
					<div class="header-item-center flex-column">
						<div class="overlay"></div>
						<nav class="menu">
							<div class="menu-mobile-header">
								<button type="button" class="menu-mobile-arrow"><i class="ion ion-ios-arrow-back"></i></button>
								<div class="menu-mobile-title"></div>
								<button type="button" class="menu-mobile-close"><i class="ion ion-ios-close"></i></button>
							</div>
							<ul class="menu-section d-lg-flex justify-content-around" style="margin-bottom: 0;">
								<li class="menu-item-has-children">
									<a href="#">本科簡介 <i class="ion ion-ios-arrow-down"></i></a>
									<div class="menu-subs menu-column-1">
										<ul>
											<!-- <li><a href="/A003_Laboratory_1/">最新公告</a></li> -->
											<li><a href="http://web.everanhospital.com.tw:818/MedicalSupport/Laboratory/labor-1.html">最新公告</a></li>
											<li><a href="/A003_Laboratory/">本科介紹</a></li>
											<li><a href="/A003_Laboratory_2/">公正性及保密承諾</a></li>
											<li><a href="http://web.everanhospital.com.tw:818/MedicalSupport/Laboratory/labor-3.html">抱怨處理程序</a></li>
											<li><a href="/A003_Laboratory_4/">聯絡我們</a></li>
										</ul>
									</div>
								</li>
								
								<li class="menu-item-has-children">
								<a href="#">門診抽血、心電圖及肺功能檢查 <i class="ion ion-ios-arrow-down"></i></a>
									<div class="menu-subs menu-column-1">
										<ul>
											<li><a href="/A003_labor_blood/">門診抽血</a></li>
											<li><a href="/A003_labor_blood_2/">領取驗尿及糞便檢體容器</a></li> 
											<li><a href="/A003_labor_blood_3/">心電圖及肺功能檢查流程</a></li>
										</ul>
									</div>
								</li>					
							
								<li class="menu-item-has-children">
									<a href="#">臨床檢驗資訊 <i class="ion ion-ios-arrow-down"></i></a>
									<div class="menu-subs menu-mega menu-column-4">
							
										<div class="list-item" style="flex:0 0 33%;">
											<h4 class="title">衛教資訊</h4>
											<ul>
												<li><a href="/A003_labor_clinical/">檢體採集衛教</a></li>
												<li><a href="/A003_labor_clinical_1/">採檢容器說明</a></li>
												<li><a href="/A003_labor_clinical_5/">檢體共通退件原則</a></li>
											</ul>
										</div>
							
										<div class="list-item" style="flex:0 0 33%;">
											<h4 class="title">採集方法原則、服務項目</h4>
											<ul>								
												<li><a href="/A003_labor_clinical_4/">微生物培養檢體採集方法須知</a></li>
												<li class="nav-lili">
													<input type="checkbox" id="check" />
													<div class="menu_li">
														<label class="button-click" for="check">
															<span class="b">檢體採集須知
																<span><i class="fas fa-caret-right"></i></span>
															</span>
															<span class="x">檢體採集須知
																<span><i class="fas fa-caret-down"></i></span>
															</span>
														</label>
														<ul class="menu-items">
															<li><a href="/A003_labor_clinical_2/">採檢前作業流程</a></li>
															<li><a href="/A003_labor_clinical_3/">檢體採集原則</a></li>
														</ul>
													</div>
												</li>								
												<li><a href="http://web.everanhospital.com.tw:818/MedicalSupport/Laboratory/labor-clinical-6.html">檢驗服務項目</a></li>									
											</ul>
										</div>
							
										<div class="list-item" style="flex:0 0 33%;">
											<h4 class="title">其他資訊</h4>
											<ul>
												<li><a href="/A003_labor_clinical_7/">檢體加作及複驗</a></li>
												<li><a href="/A003_labor_clinical_8/">危險值及重要異常值通報</a></li>
												<li><a href="http://web.everanhospital.com.tw:818/MedicalSupport/Laboratory/labor-clinical-9.html">報告單位換算</a></li>									
											</ul>
										</div>
							
									</div>
								</li>
							
							
								<li class="menu-item-has-children">
								<a href="#">病理檢查資訊 <i class="ion ion-ios-arrow-down"></i></a>
									
									<div class="menu-subs menu-mega menu-column-4">	
										
										<div class="list-item" style="flex:0 0 33%;">
											<!-- <h4 class="title">衛教資訊</h4> -->
											<ul>
												<li><a href="/A003_labor_pathology/">病理檢體採集及包裝注意事項</a></li>
												<li><a href="/A003_labor_pathology_1/">病人辨識</a></li>
											</ul>
										</div>
							
										<div class="list-item" style="flex:0 0 33%;">
											<!-- <h4 class="title">採集原則</h4> -->
											<ul>
												<li><a href="/A003_labor_pathology_2/">細胞病理檢體採集注意事項</a></li> 
												<li><a href="/A003_labor_pathology_3/">細胞病理診斷抹片前處理需求</a></li>								
											</ul>
										</div>  
							
										<div class="list-item" style="flex:0 0 33%;">
											<!-- <h4 class="title">採集原則</h4> -->
											<ul>
												<li><a href="/A003_labor_pathology_5/">病理服務項目</a></li>								
											</ul>
										</div> 
							
									</div>
								</li>
								<li class="menu-item-has-children">
									<a href="#">基因檢測資訊 <i class="ion ion-ios-arrow-down"></i></a>
									<div class="menu-subs menu-column-1 right_nav">
										<ul>
											<li><a href="/A003_labor_Genetic/">基因檢測檢體採集及送檢注意事項</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>									
				</div>
			</div>
		</header>						
	</div>
</span>
