{% extends "MedicalSupport/Laboratory/labor-clinical-3-base.html" %}

{% load static %}

<!-- === Meta ================================== -->
{% block title %}酒精濃度(Alcohol)檢體採集｜檢體採集原則｜{{ block.super }}檢驗科{% endblock %}
{% block og_title %}酒精濃度(Alcohol)檢體採集｜檢體採集原則｜{{ block.super }}檢驗科{% endblock %}



<!-- === 子頁細節內容 =========================== -->

{% block guide_content %}

<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
    <h1 class="c-onsale-heading">酒精濃度(Alcohol)檢體採集</h1>
</header>
<div class="l-main-content__body">
	<div class="row">	
		<div class="col-12">
			<div class="px-2 pb-2">
				<ol class="custom-numbers mb-0">
					<li class="mb-1 pt-1">檢體採檢流程同靜脈血液採集，但皮膚消毒需使用10﹪povidone-iodine。</li>
					<li class="mb-1 pt-1">採檢後，請以乾棉球或棉棒進行止血。</li>	
				</ol> 
			</div>
		</div>
	</div>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="酒精濃度(Alcohol)檢體採集｜檢體採集原則｜檢驗科" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}