{% extends "MedicalSupport/Laboratory/labor-blood-base.html" %}

{% load static %}

<!-- === Meta ================================== -->
{% block title %}心電圖及肺功能檢查流程｜{{ block.super }}檢驗科{% endblock %}
{% block og_title %}心電圖及肺功能檢查流程｜{{ block.super }}檢驗科{% endblock %}


<!-- === 子頁細節內容 =========================== -->

{% block guide_content %}
<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
    <h1 class="c-onsale-heading">心電圖及肺功能檢查流程</h1>
</header>
<div class="l-main-content__body">
	<div class="row">	
		<div class="col-12">
			<div class="p-2 title-bg d-inline-flex mb-2">
				<h4 class="cofe-word mb-0">服務時間</h4>
			</div>
			<div class="px-2">
				<ul class="list-bullets">
					<li class="mb-1">週一至週五，08:30~22:00</li>
					<li class="mb-1">週六，08:30~12:30</li>
				</ul>
			</div>
			<div class="alert alert-warning">
				<ol class="custom-numbers mb-0">
					<li class="mb-1">
						<strong>請持健保卡到檢驗科報到機報到，依報到號碼等候叫號。</strong>
					</li>
					<li class="mb-1">
						<strong>早上尖峰時段，不需要抽血者您可在完成報到程序後，先到1號櫃台跟服務人員說明服務需求。</strong>
					</li>
				</ol>                                
			</div>
		</div>
	</div>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="心電圖及肺功能檢查流程｜檢驗科" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}