{% extends "MedicalSupport/Laboratory/labor-base.html" %}
{% load static %}

{% block title %}檢驗服務項目｜檢驗科｜長安醫院{% endblock %}
{% block og_title %}檢驗服務項目｜檢驗科｜長安醫院{% endblock %}

{% block guide_content %}
<!-- 標題 -->

									<section id="content_h">

										<div class="onsale_heading">檢驗服務項目</div>

										<hr class="my-2">

									</section>

									<!-- 細節 -->

									<section id="content_body">

										<div class="row">	

											<div class="col-12">

												<div class="iframe-container">

													<iframe class="border-0" id="myiframe" name="myiframe" src="http://web.everanhospital.com.tw/MedicalSupport/Laboratory/LABITEM.asp" scrolling="yes" allowfullscreen="true"></iframe>

												</div>

											</div>

										</div>						

									</section>

								
{% endblock %}

<!-- ▼▼▼ SEO/GEO ▼▼▼-->
{% block guide_seo %}
{% include 'schema_article.html' with headline="檢驗服務項目｜檢驗科" %}
{% endblock %}
<!-- ▲▲▲ SEO/GEO ▲▲▲-->
