{% extends "MedicalSupport/Laboratory/labor-Genetic-base.html" %}
{% load static %}

{% block title %}檢體容器說明｜檢驗科｜長安醫院{% endblock %}
{% block og_title %}檢體容器說明｜檢驗科｜長安醫院{% endblock %}

{% block guide_content %}
<!-- 標題 -->

									<section id="content_h">

										<div class="onsale_heading">檢體容器說明</div>

										<hr class="my-2">

									</section>

									<!-- 細節 -->

									<section id="content_body">

										<div class="row">

											<div class="col-12"></div>

										</div>								

									</section>

								
{% endblock %}

<!-- ▼▼▼ SEO/GEO ▼▼▼-->
{% block guide_seo %}
{% include 'schema_article.html' with headline="檢體容器說明｜檢驗科" %}
{% endblock %}
<!-- ▲▲▲ SEO/GEO ▲▲▲-->
