<div class="c-sidebar-trust js-sidebar-wrapper" id="sidebarMenu">
	<div class="c-sidebar-trust__header js-sidebar-toggle">
		<div class="u-badge-small">LAB SERVICE</div>
		<div class="c-sidebar-trust__title-row">
			<h3>門診抽血、心電圖及肺功能檢查</h3>
			<span class="c-sidebar-trust__toggle-icon"><i class="fas fa-chevron-down" aria-hidden="true"></i></span>
		</div>
		<p>Medical Examination Items</p>
	</div>
	<nav class="c-sidebar-trust__nav" aria-label="長安醫院檢驗科 - 門診抽血、心電圖及肺功能檢查" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<ul class="c-sidebar-trust__list">

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A003_labor_blood/' %}is-active{% endif %}" href="/A003_labor_blood/" title="台中長安醫院檢驗科-門診抽血" itemprop="url" {% if request.path == '/A003_labor_blood/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">門診抽血</span>
						<!-- <span class="c-sidebar-trust__en">Blood Draw</span> -->
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A003_labor_blood_2/' %}is-active{% endif %}" href="/A003_labor_blood_2/" title="台中長安醫院檢驗科-領取驗尿及糞便檢體容器" itemprop="url" {% if request.path == '/A003_labor_blood_2/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">領取驗尿及糞便檢體容器</span>
						<!-- <span class="c-sidebar-trust__en">Blood Draw</span> -->
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A003_labor_blood_3/' %}is-active{% endif %}" href="/A003_labor_blood_3/" title="台中長安醫院檢驗科-心電圖及肺功能檢查流程" itemprop="url" {% if request.path == '/A003_labor_blood_3/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">心電圖及肺功能檢查流程</span>
						<!-- <span class="c-sidebar-trust__en">Blood Draw</span> -->
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

		</ul>
	</nav>
</div>