{% extends "MedicalSupport/Laboratory/labor-pathology-base.html" %}

{% load static %}

<!-- === Meta ================================== -->
{% block title %}細胞學檢體容器說明｜檢驗科｜{{ block.super }}{% endblock %}
{% block og_title %}細胞學檢體容器說明｜檢驗科｜{{ block.super }}{% endblock %}


<!-- === 子頁細節內容 =========================== -->
{% block guide_content %}

<!-- ▼▼▼ Modal ▼▼▼-->
{% block page_modals %}{% endblock %}
<!-- ▲▲▲ Modal ▲▲▲-->

<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
    <h1 class="c-onsale-heading">細胞學檢體容器說明</h1>
</header>
<div class="l-main-content__body"></div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="細胞學檢體容器說明｜檢驗科" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}