{% load static %}
<!doctype html>
<html lang="zh-TW">

<head>
	{% include 'Public_head.html' %}
	<title>檢體採集衛教、尿液採檢注意事項_長安醫院檢驗科</title>
	<link rel="stylesheet" href="{% static 'common/css/Laboratory.css' %}">
	{% include 'GA_head.html' %}
</head>

<body>
	{% include 'GA_noscript.html' %}
	<div class="wrapper L_sub_main_bg">
		<!-- ======= 本頁 Modal Area ======= -->
		<!-- ======= 本頁 Modal Area End ======= -->
		<!-- ======= navbar ======= -->
		{% include 'MedicalSupport/Laboratory/header_labor.html' %}
		<!-- ======= navbar End ======= -->
		<!-- ======= main-content ======= -->
		<main class="pt-5 pb-3">
			<div class="container py-3">
				<div class="row">
					<!-- ※※※ 側邊選單 ※※※ -->
					<div class="col-lg-3 mb-2">
						<div class="menu_sidebar">
							<aside>
								{% include 'MedicalSupport/Laboratory/labor-clinical-menu.html' %}
							</aside>
						</div>
					</div>
					<!-- ※※※ 側邊選單 End ※※※ -->

					<!-- ※※※ 功能內容 ※※※ -->
					<div class="col-lg-9">
						<article>
							<div class="content">
								<!-- 麵包屑 -->
								<div class="text-right font-16">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb justify-content-end">
											<li class="breadcrumb-item main_pencil"></li>
											<li class="breadcrumb-item labor_pencil"></li>
											<li class="breadcrumb-item pencil_in"></li>
											<li class="breadcrumb-item active" aria-current="page">尿液採檢注意事項</li>											
										</ol>
									</nav>
								</div>
								<!-- 內容區 -->
								<div class="bg-white rounded panel-shadow title_wrap">
									<!-- 標題 -->
									<section id="content_h">
										<div class="onsale_heading">尿液採檢注意事項</div>
										<hr class="my-2">
									</section>
									<!-- 細節 -->
									<section id="content_body">
										<div class="row">	                        
											<div class="col-12">
												<div class="select_in"></div>											
											</div>
											
											<div class="col-12">
												<div class="p-2 title-bg d-inline-flex mb-2">
													<h4 class="cofe-word mb-0">一般尿液檢查</h4>
												</div>
												<div class="px-2 pb-2">
													<ol class="custom-numbers mb-0">
														<li class="mb-1 pt-1">前段尿液請先排掉，再以尿杯接取中段尿液。</li>
														<li class="mb-1 pt-1">將收集好的尿液倒10 c.c入尿液收集管(約八分滿)。</li>
														<li class="mb-1 pt-1">尿液收集後，請將尿管儘速送交檢驗科。(勿超過一小時，避免尿液成份改變與孳生細菌)</li>
													</ol> 
												</div>
												<div class="p-2 title-bg d-inline-flex mb-2">
													<h4 class="cofe-word mb-0">尿液培養檢查</h4>
												</div>
												<div class="px-2 pb-2">
													<ol class="custom-numbers">
														<li class="mb-1 pt-1">先旋開無菌容器上之蓋子，排掉前段尿液後，再以無菌盒接取中段尿液約1/3滿後，立即將蓋子蓋上並鎖緊。(不可先排尿於其他容器後再倒入無菌尿杯)。</li>
														<li class="mb-1 pt-1">若為嬰幼兒可用尿袋，但以收集一次小便為限，不可用儲尿。尿袋貼上前須先清潔陰唇或尿道口，收集後再將尿液放入無菌盒中，確定蓋子鎖緊後儘速送至檢驗科。</li>
														<li class="mb-1 pt-1">尿液收集後，請將尿管儘速送交檢驗科。(勿超過一小時，避免尿液成份改變與孳生細菌)</li>
													</ol>
													<div class="alert alert-warning">
														<ul class="list-bullets mb-0">
															<li class="mb-1">
																若病人無法以正常方式收集檢體時，可使用導尿或膀胱穿刺之方法採檢。
															</li>
															<li class="mb-1">
																婦女正值月經期間，原則上應避免做尿液檢驗。
															</li>
														</ul>                                
													</div>
												</div>
												<div class="p-2 title-bg d-inline-flex mb-2">
													<h4 class="cofe-word mb-0">24小時尿液採檢注意事項</h4>
												</div>
												<div class="px-2 pb-2">
													<ol class="custom-numbers mb-0">
														<li class="mb-1 pt-1">需完整收集24小時內的每次尿液。(例如:第一天早上8點開始收集，請先將8點前尿液排光，之後的每次尿液都要收集入袋內，直到隔日早上8點需留最後一次尿)。</li>
														<li class="mb-1 pt-1">收集完後，請在本衛教單上記錄24小時的尿液總量。</li>
														<li class="mb-1 pt-1">充分搖勻集尿袋，用所附的滴管吸取尿液至尿管內，約8分滿。</li>
														<li class="mb-1 pt-1">完成上述步驟後請將本衛教單與尿管送回檢驗科，待檢驗科人員確定檢體正確無誤後，回家再將尿袋內尿液丟棄。</li>
														<li class="mb-1 pt-1">如果尿量超過收集袋 (收集袋容量約3500 mL)，請您搖勻收集袋內的尿液，先倒掉1000 mL的尿液，再繼續收集直到24小時。倒掉的1000 mL請務必記錄下來。</li>
													</ol> 
													<div class="alert alert-warning"><strong>尿液總量=收集袋內的尿量+倒掉的尿量</strong></div>
												</div>
												<div class="p-2 title-bg d-inline-flex mb-2">
													<h4 class="cofe-word mb-0">其他注意事項</h4>
												</div>
												<div class="px-2">
													<ul class="list-bullets">
														<li class="mb-1">若尿袋內已倒入保存劑，請受檢者不可倒掉。</li>
														<li class="mb-1">收集期間檢體須存放在冰箱冷藏或置於陰涼處。</li>
														<li class="mb-1">女性月經期間請勿採檢。</li>
														<li class="mb-1">如情況允許，檢驗前3天請禁食巧克力、咖啡、香蕉、柑橘類水果、Aspirin及抗血壓藥以免引起假性增高。</li>
														<li class="mb-1">★ 尿液總量: ____________ mL</li>
													</ul>
												</div>
											</div>
										</div>
									</section>
								</div>
								<!-- 內容區 End -->
							</div>
						</article>
					</div>
					<!-- ※※※ 功能內容 End ※※※ -->
				</div>		  
			</div>
		</main>
		<!-- ======= main End ======= -->
	</div>
	<!-- ======= footer ======= -->
	{% include 'footer.html' %}
	<!-- ======= Footer End ======= -->

	<!-- ======= js 套件區 ======= -->
	<!-- ======= js 套件區 End ======= -->

</body>

</html>
