{% extends "MedicalSupport/Laboratory/labor-base.html" %}

{% load static %}

<!-- === Meta ================================== -->
{% block title %}最新公告｜{{ block.super }}檢驗科{% endblock %}
{% block og_title %}最新公告｜{{ block.super }}檢驗科{% endblock %}



<!-- === 子頁細節內容 =========================== -->


<!-- ▼▼▼ Modal ▼▼▼-->
{% block page_modals %}{% endblock %}
<!-- ▲▲▲ Modal ▲▲▲-->


{% block guide_content %}

<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
    <h1 class="c-onsale-heading">最新公告</h1>
</header>
<div class="l-main-content__body">
	<div class="row">																			
		<div class="col-12">		
			<!-- 內容放置處 -->			
		</div>
	</div>	
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="最新公告｜檢驗科" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
<!-- <script>
	$(function () { 
    	$(".content_labor_news").load("../../../MedicalSupport/Laboratory/bulletinboard.asp");
	});
</script> -->
{% endblock %}