<div class="c-sidebar-trust js-sidebar-wrapper" id="sidebarMenu">
	<div class="c-sidebar-trust__header js-sidebar-toggle">
		<div class="u-badge-small">LAB SERVICE</div>
		<div class="c-sidebar-trust__title-row">
			<h3>微生物培養採檢須知</h3>
			<span class="c-sidebar-trust__toggle-icon"><i class="fas fa-chevron-down" aria-hidden="true"></i></span>
		</div>
		<p>Microbiology Collection Guide</p>
	</div>
	<nav class="c-sidebar-trust__nav" aria-label="長安醫院檢驗科 - 門診抽血、微生物培養採檢須知" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<ul class="c-sidebar-trust__list">

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A003_labor_clinical_4_collection/' %}is-active{% endif %}" href="/A003_labor_clinical_4_collection/" title="台中長安醫院檢驗科-細菌培養檢體採集方法須知" itemprop="url" {% if request.path == '/A003_labor_clinical_4_collection/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">細菌培養檢體採集方法須知</span>
						<!-- <span class="c-sidebar-trust__en">Blood Draw</span> -->
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A003_labor_clinical_4_bottle/' %}is-active{% endif %}" href="/A003_labor_clinical_4_bottle/" title="台中長安醫院檢驗科-血瓶檢體採集" itemprop="url" {% if request.path == '/A003_labor_clinical_4_bottle/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">血瓶檢體採集</span>
						<!-- <span class="c-sidebar-trust__en">Blood Draw</span> -->
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A003_labor_clinical_4_bf/' %}is-active{% endif %}" href="/A003_labor_clinical_4_bf/" title="台中長安醫院檢驗科-一般細菌培養(體液檢體採集)" itemprop="url" {% if request.path == '/A003_labor_clinical_4_bf/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">一般細菌培養 (體液檢體採集)</span>
						<!-- <span class="c-sidebar-trust__en">Blood Draw</span> -->
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A003_labor_clinical_4_urine/' %}is-active{% endif %}" href="/A003_labor_clinical_4_urine/" title="台中長安醫院檢驗科-尿液培養檢體採集" itemprop="url" {% if request.path == '/A003_labor_clinical_4_urine/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">尿液培養檢體採集</span>
						<!-- <span class="c-sidebar-trust__en">Blood Draw</span> -->
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A003_labor_clinical_4_respiratory/' %}is-active{% endif %}" href="/A003_labor_clinical_4_respiratory/" title="台中長安醫院檢驗科-一般細菌培養(呼吸道檢體採集)" itemprop="url" {% if request.path == '/A003_labor_clinical_4_respiratory/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">一般細菌培養 (呼吸道檢體採集)</span>
						<!-- <span class="c-sidebar-trust__en">Blood Draw</span> -->
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A003_labor_clinical_4_eye/' %}is-active{% endif %}" href="/A003_labor_clinical_4_eye/" title="台中長安醫院檢驗科-眼睛檢體採集" itemprop="url" {% if request.path == '/A003_labor_clinical_4_eye/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">眼睛檢體採集</span>
						<!-- <span class="c-sidebar-trust__en">Blood Draw</span> -->
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A003_labor_clinical_4_abscess/' %}is-active{% endif %}" href="/A003_labor_clinical_4_abscess/" title="台中長安醫院檢驗科-一般細菌培養(膿瘍檢體採集)" itemprop="url" {% if request.path == '/A003_labor_clinical_4_abscess/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">一般細菌培養 (膿瘍檢體採集)</span>
						<!-- <span class="c-sidebar-trust__en">Blood Draw</span> -->
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A003_labor_clinical_4_dung/' %}is-active{% endif %}" href="/A003_labor_clinical_4_dung/" title="台中長安醫院檢驗科-糞便培養檢體採集" itemprop="url" {% if request.path == '/A003_labor_clinical_4_dung/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">糞便培養檢體採集</span>
						<!-- <span class="c-sidebar-trust__en">Blood Draw</span> -->
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

		</ul>
	</nav>
</div>