{% extends "MedicalSupport/Laboratory/labor-clinical-base.html" %}

{% load static %}

<!-- === Meta ================================== -->
{% block title %}檢體採集原則｜{{ block.super }}檢驗科{% endblock %}
{% block og_title %}檢體採集原則｜{{ block.super }}檢驗科{% endblock %}



<!-- === 子頁細節內容 =========================== -->

{% block guide_content %}

<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
    <h1 class="c-onsale-heading">檢體採集原則</h1>
</header>
<div class="l-main-content__body">
	<div class="row">
		<div class="col-12">
			<div class="categories categories-view1">
				<ul class="row mb-0">                            
					<li class="col-12 col-md-6">
						<a href="/A003_labor_clinical_3_blood/">
							<div class="categories-view1-wrap d-flex align-items-center">
								<i class="fas fa-tint og-word"></i>
								<div>血液檢體採集前評估</div>
								<!-- <small>(3 Open Vacancies)</small> -->
								<!-- <span>01</span> -->
							</div>
						</a>
					</li>
					<li class="col-12 col-md-6">
						<a href="/A003_labor_clinical_3_solid/">
							<div class="categories-view1-wrap d-flex align-items-center">
								<i class="fas fa-tint og-word"></i>
								<div>血液凝固檢驗檢體採檢</div>
								<!-- <small>(4 Open Vacancies)</small> -->
								<!-- <span>06</span> -->
							</div>
						</a>
					</li>                                
					<li class="col-12 col-md-6">
						<a href="/A003_labor_clinical_3_vein/">
							<div class="categories-view1-wrap d-flex align-items-center">
								<i class="fas fa-vial og-word"></i>
								<div>靜脈血檢體採集</div>
								<!-- <small>(2 Open Vacancies)</small> -->
								<!-- <span>02</span> -->
							</div>
						</a>
					</li>
					<li class="col-12 col-md-6">
						<a href="/A003_labor_clinical_3_art/">
							<div class="categories-view1-wrap d-flex align-items-center">
								<i class="fas fa-vial og-word"></i>
								<div>動脈血檢體採集</div>
								<!-- <small>(13 Open Vacancies)</small> -->
								<!-- <span>03</span> -->
							</div>
						</a>
					</li>
					<li class="col-12 col-md-6">
						<a href="/A003_labor_clinical_3_baby/">
							<div class="categories-view1-wrap d-flex align-items-center">
								<i class="fas fa-baby og-word"></i>
								<div>新生兒腳跟血毛細管採集</div>
								<!-- <small>(22 Open Vacancies)</small> -->
								<!-- <span>04</span> -->
							</div>
						</a>
					</li>
					<li class="col-12 col-md-6">
						<a href="/A003_labor_clinical_3_sugar/">
							<div class="categories-view1-wrap d-flex align-items-center">
								<i class="fas fa-microscope og-word"></i>
								<div>快速血糖檢驗指尖血採集</div>
								<!-- <small>(18 Open Vacancies)</small> -->
								<!-- <span>05</span> -->
							</div>
						</a>
					</li>
					
					<li class="col-12 col-md-6">
						<a href="/A003_labor_clinical_3_ra/">
							<div class="categories-view1-wrap d-flex align-items-center">
								<i class="fas fa-flask og-word"></i>
								<div>QuantiFERON (IGRA) 檢體採集</div>
								<!-- <small>(4 Open Vacancies)</small> -->
								<!-- <span>07</span> -->
							</div>
						</a>
					</li>                                
					<li class="col-12 col-md-6">
						<a href="/A003_labor_clinical_3_wine/">
							<div class="categories-view1-wrap d-flex align-items-center">
								<i class="fas fa-wine-glass-alt og-word"></i>
								<div>酒精濃度(Alcohol)檢體採集</div>
								<!-- <small>(4 Open Vacancies)</small> -->
								<!-- <span>08</span> -->
							</div>
						</a>
					</li>
					<li class="col-12 col-md-6">
						<a href="/A003_labor_clinical_3_csf/">
							<div class="categories-view1-wrap d-flex align-items-center">
								<i class="fas fa-brain og-word"></i>
								<div>腦脊髓液 (CSF) 檢體採集</div>
								<!-- <small>(4 Open Vacancies)</small> -->
								<!-- <span>08</span> -->
							</div>
						</a>
					</li>
					<li class="col-12 col-md-6">
						<a href="/A003_labor_clinical_3_cav/">
							<div class="categories-view1-wrap d-flex align-items-center justify-content-center" style="flex-direction: column;">
								<i class="fas fa-lungs-virus og-word"></i>
								<div style="align-self: flex-start;">體腔積液採集</div>
								<small style="align-self: flex-start;">含肋膜腔積液(胸水)、腹膜腔積液(腹水)、心包膜腔積液或其他積液</small>
								<!-- <span>08</span> -->
							</div>
						</a>
					</li>
					<li class="col-12 col-md-6">
						<a href="/A003_labor_clinical_3_tract/">
							<div class="categories-view1-wrap d-flex align-items-center">
								<i class="fas fa-search og-word"></i>
								<div>胃腸道檢體採集</div>
								<!-- <small>(4 Open Vacancies)</small> -->
								<!-- <span>08</span> -->
							</div>
						</a>
					</li>
					<li class="col-12 col-md-6">
						<a href="/A003_labor_clinical_3_urine/">
							<div class="categories-view1-wrap d-flex align-items-center">
								<i class="fas fa-vial og-word"></i>
								<div>尿液檢體採集</div>
								<!-- <small>(4 Open Vacancies)</small> -->
								<!-- <span>08</span> -->
							</div>
						</a>
					</li>
					<li class="col-12 col-md-6">
						<a href="/A003_labor_clinical_3_semen/">
							<div class="categories-view1-wrap d-flex align-items-center">
								<i class="fas fa-microscope og-word"></i>
								<div>精液檢體採集</div>
								<!-- <small>(4 Open Vacancies)</small> -->
								<!-- <span>08</span> -->
							</div>
						</a>
					</li>
					<li class="col-12 col-md-6">
						<a href="/A003_labor_clinical_3_dung/">
							<div class="categories-view1-wrap d-flex align-items-center">
								<i class="fas fa-prescription-bottle og-word"></i>
								<div>糞便檢體採集</div>
								<!-- <small>(4 Open Vacancies)</small> -->
								<!-- <span>08</span> -->
							</div>
						</a>
					</li>
					<li class="col-12 col-md-6">
						<a href="/A003_labor_clinical_3_phlegm/">
							<div class="categories-view1-wrap d-flex align-items-center">
								<i class="fas fa-head-side-cough og-word"></i>
								<div>痰液檢體採集</div>
								<!-- <small>(4 Open Vacancies)</small> -->
								<!-- <span>08</span> -->
							</div>
						</a>
					</li>
					<li class="col-12 col-md-6">
						<a href="/A003_labor_clinical_3_respiratory/">
							<div class="categories-view1-wrap d-flex align-items-center">
								<i class="fas fa-head-side-mask og-word"></i>
								<div>呼吸道檢體採集</div>
								<!-- <small>(4 Open Vacancies)</small> -->
								<!-- <span>08</span> -->
							</div>
						</a>
					</li>
					<li class="col-12 col-md-6">
						<a href="/A003_labor_clinical_3_prepare/">
							<div class="categories-view1-wrap d-flex align-items-center">
								<i class="fas fa-prescription-bottle-alt og-word"></i>
								<div>輸備血檢體採集</div>
								<!-- <small>(4 Open Vacancies)</small> -->
								<!-- <span>08</span> -->
							</div>
						</a>
					</li>
					<li class="col-12 col-md-6">
						<a href="/A003_labor_clinical_3_3c/">
							<div class="categories-view1-wrap d-flex align-items-center justify-content-center" style="flex-direction: column;">
								<i class="fab fa-cloudsmith og-word"></i>
								<div style="align-self: flex-start;">Cryoglobulin 檢體採集</div>
								<small style="align-self: flex-start;">Cold agglutinin、Cryoglobulin、IFE for Cryoglobulin</small>
								<!-- <span>08</span> -->
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="檢體採集原則｜檢驗科" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
    <style>
		.categories-view1-wrap{
			height: 130px;
			padding: 30px 20px 30px 85px;
			word-break: break-all;
		}
	</style>
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}
