{% extends "MedicalSupport/Laboratory/labor-clinical-4-base.html" %}
{% load static %}

{% block title %}一般細菌培養、體液檢體採集｜檢驗科｜長安醫院{% endblock %}
{% block og_title %}一般細菌培養、體液檢體採集｜檢驗科｜長安醫院{% endblock %}

{% block guide_content %}
<!-- 標題 -->

									<section id="content_h">

										<div class="onsale_heading">一般細菌培養-體液檢體採集</div>

										<hr class="my-2">

									</section>

									<!-- 細節 -->

									<section id="content_body">

										<div class="row">	                        

											<div class="col-12">

												<div class="select_4"></div>

											</div>	

											<div class="col-12">

												<div class="p-2 title-bg d-inline-flex mb-2">

													<h4 class="cofe-word mb-0">檢體採集：</h4>

												</div>

												<div class="px-2 pb-2">

													<ol class="custom-numbers mb-0">

														<li class="mb-1 pt-1">先以70%酒精清潔欲穿刺部位，再以優碘消毒以避免皮膚表面細菌污染檢體。</li>

														<li class="mb-1 pt-1">以穿刺針抽取出欲做細菌檢查之體液。</li>

														<li class="mb-1 pt-1">取得體液檢體後，放入 15 mL 無菌管中送檢（避免使用抗凝劑，但若必要時可用 Heparin，但欲做 Gram stain 時，須保留約 0.5 mL 在針筒內。任何裝在針筒中且保留著針的檢體列退件條件。）</li>

														<li class="mb-1 pt-1">腹膜透析液，檢體容器使用 50 mL 無菌管。</li>

													</ol> 

												</div>

												<div class="p-2 title-bg d-inline-flex mb-2">

													<h4 class="cofe-word mb-0">檢體運送：</h4>

												</div>

												<div class="px-2 pb-2">

													<ol class="custom-numbers mb-0">

														<li class="mb-1 pt-1">檢體採集完成後，儘速送檢。</li>

														<li class="mb-1 pt-1">避免在運送過程前及過程中放入冰箱。</li>

													</ol> 	

												</div>

												<div class="alert alert-warning">此類別之檢驗醫令須包含<strong>嗜氧醫令</strong>與<strong>厭氧醫令</strong>。

												</div>

												<div class="p-2 title-bg d-inline-flex mb-2">

													<h4 class="cofe-word mb-0">檢體退件：</h4>

												</div>

												<div class="px-2 pb-2">

													<ol class="custom-numbers mb-0">

														<li class="mb-1 pt-1">避免使用 swab 採集體液檢體。</li>

														<li class="mb-1 pt-1">不可使用已經打過抗生素的體液。</li>

													</ol> 

												</div>

											</div>

										</div>

									</section>

								
{% endblock %}

<!-- ▼▼▼ SEO/GEO ▼▼▼-->
{% block guide_seo %}
{% include 'schema_article.html' with headline="一般細菌培養、體液檢體採集｜檢驗科" %}
{% endblock %}
<!-- ▲▲▲ SEO/GEO ▲▲▲-->
