{% extends "MedicalSupport/Laboratory/labor-clinical-3-base.html" %}

{% load static %}

<!-- === Meta ================================== -->
{% block title %}QuantiFERON (IGRA)檢體採集｜檢體採集原則｜{{ block.super }}檢驗科{% endblock %}
{% block og_title %}QuantiFERON (IGRA)檢體採集｜檢體採集原則｜{{ block.super }}檢驗科{% endblock %}


<!-- === 子頁細節內容 =========================== -->
 
{% block guide_content %}

<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
    <h1 class="c-onsale-heading">QuantiFERON (IGRA)檢體採集</h1>
</header>
<div class="l-main-content__body">
	<div class="row">	
		<div class="col-12">
			<div class="px-2 pb-2">
				<ol class="custom-numbers mb-0">
					<li class="mb-1 pt-1">檢體受理時間參照《Interferon gamma releasing assay, IGRA採檢及檢體前處理須知》</li>
					<li class="mb-1 pt-1">QuantiFERON 採檢容器： Quantiferon專用採血管(QFT tube)，共有34管，分別含Nil control(灰色)、TB 1 Antigen(綠色) 、TB 2 Antigen(黃色) 、TB Antigen(紅色)、Mitogen control(紫色)。</li>
					<li class="mb-1 pt-1">QuantiFERON 採檢容器需事先跟聯明醫事檢驗科預約領取，專用採檢管需儲存在4-25℃。</li>	
					<li class="mb-1 pt-1">建議採檢量：共全血 4 mL (每支試管各 0.8 ~ 1.2 mL 全血，須至每支採檢試管標示之黑色線處，此約為全血 1 mL )。</li>	
					<li class="mb-1 pt-1">
						<div class="row">
							<div class="col-12">
								<div class="font-18"><strong>採檢注意事項：</strong></div>
								<div>
									<p class="mb-0">A、試管採集順序：灰(Nil control)→TB 1 Antigen(綠色) →TB 2 Antigen(黃色) →紅(TB Antigen)→紫(Mitogen control)。</p>
									<p class="mb-0">B、檢體採集室溫要求：需在 17 ~25 ℃</p>
									<p class="mb-0">C、檢體採集後須立即將試管上下混合10次。混合時應確保血液檢體完全覆蓋管壁，讓乾燥附著於採血管管壁內層之抗原溶解。</p>
									<p class="mb-0">D、傳送前儲存條件：於室溫下(17~27℃)，採檢後16小時內送檢。檢體不可冷藏或冷凍。
									</p>
								</div>
							</div>
						</div>
					</li>		
				</ol> 
			</div>
		</div>
	</div>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="QuantiFERON (IGRA)檢體採集｜檢體採集原則｜檢驗科" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}