{% extends "MedicalSupport/Laboratory/labor-clinical-in-base.html" %}

{% load static %}

<!-- === Meta ================================== -->
{% block title %}免疫糞便定量潛血檢查｜臨床檢驗採集衛教｜{{ block.super }}檢驗科{% endblock %}
{% block og_title %}免疫糞便定量潛血檢查｜臨床檢驗採集衛教｜{{ block.super }}檢驗科{% endblock %}


<!-- === 子頁細節內容 =========================== -->

{% block guide_content %}

<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
    <h1 class="c-onsale-heading">免疫糞便定量潛血檢查</h1>
</header>
<div class="l-main-content__body">
	<div class="row">                       
		<div class="col-12">
			<div class="px-2">
				<img src="{% static 'common/img/Lab/如何採集糞便.png' %}" class="img-fluid" alt="如何採取糞便檢體" title="如何採取糞便檢體">
			</div>
		</div>
	</div>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="免疫糞便定量潛血檢查｜臨床檢驗採集衛教｜檢驗科" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}