{% load static %}
<!doctype html>
<html lang="zh-TW">

<head>
	{% include 'Public_head.html' %}
	<title>靜脈血檢體採集_長安醫院檢驗科</title>
	<link rel="stylesheet" href="{% static 'common/css/Laboratory.css' %}">
	{% include 'GA_head.html' %}
</head>

<body>
	{% include 'GA_noscript.html' %}
	<div class="wrapper L_sub_main_bg">
		<!-- ======= 本頁 Modal Area ======= -->
		<!-- ======= 本頁 Modal Area End ======= -->
		<!-- ======= navbar ======= -->
		{% include 'MedicalSupport/Laboratory/header_labor.html' %}
		<!-- ======= navbar End ======= -->
		<!-- ======= main-content ======= -->
		<main class="pt-5 pb-3">
			<div class="container py-3">
				<div class="row">
					<!-- ※※※ 側邊選單 ※※※ -->
					<div class="col-lg-3 mb-2">
						<div class="menu_sidebar">
							<aside>
								{% include 'MedicalSupport/Laboratory/labor-clinical-menu.html' %}
							</aside>
						</div>
					</div>
					<!-- ※※※ 側邊選單 End ※※※ -->

					<!-- ※※※ 功能內容 ※※※ -->
					<div class="col-lg-9">
						<article>
							<div class="content">
								<!-- 麵包屑 -->
								<div class="text-right font-16">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb justify-content-end">
											<li class="breadcrumb-item main_pencil"></li>
											<li class="breadcrumb-item labor_pencil"></li>
											<li class="breadcrumb-item pencil_3"></li>
											<li class="breadcrumb-item active" aria-current="page">靜脈血檢體採集</li>
										</ol>
									</nav>
								</div>
								<!-- 內容區 -->
								<div class="bg-white rounded panel-shadow title_wrap">
									<!-- 標題 -->
									<section id="content_h">
										<div class="onsale_heading">靜脈血檢體採集</div>
										<hr class="my-2">
									</section>
									<!-- 細節 -->
									<section id="content_body">
										<div class="row">	                        
											<div class="col-12">
												<div class="select_3"></div>
											</div>
	
											<div class="col-12">
												<div class="px-2 pb-2">
													<ol class="custom-numbers mb-0">
														<li class="mb-1 pt-1">止血帶應綁在離下針處上方7.5至10.0cm處。</li>
														<li class="mb-1 pt-1">同一個地方使用止血帶，不可超過一分鐘，若是超過一分鐘，則可能造成血液滯留，亦可能造成血腫，導致結果值異常。若是鬆綁後要再次使用，尚須相隔兩分鐘為佳。</li>
														<li class="mb-1 pt-1">若病人皮膚狀況不適合使用止血帶，可將其綁在衣服上方，或以紗布相隔。</li>
														<li class="mb-1 pt-1">血管找尋方式為利用指腹尋找靜脈血管並觀其走向。</li>
														<li class="mb-1 pt-1">
															<div class="row">
																<div class="col-12">
																	<div class="font-18"><strong>一般採血以肘靜脈為主，選擇明顯且具有彈性的血管，一般肘靜脈採血建議部位如下：</strong></div>
																	<div>
																		<p class="mb-0">A、尺骨中靜脈（Median cubital vein）：位於肘窩的表淺靜脈，最常被選的肘靜脈穿刺部位。</p>
																		<p class="mb-0">B、貴要靜脈（Basilic vein）：位於肘前臂，為肱靜脈分枝。</p>
																		<p class="mb-0">C、頭靜脈（Cephalic vein）：位於肘上臂，為腋靜脈分枝。</p>
																		<p class="mb-0">D、手背上的靜脈。
																			<img src="./img/手背上的靜脈.png" alt="手背上的靜脈" class="img-thumbnail">
																		</p>
																	</div>
																</div>
															</div>
														</li>
														<li class="mb-1 pt-1">若找不到適合採血的靜脈或因檢驗需求而需採集動脈血時，通知開單醫師，應由受過動脈採血訓練之醫師或專科護理師進行採血，並告知病人採血原因及採血後務必緊壓採血處10分鐘以上，直到不再流血為止。</li>
														<li class="mb-1 pt-1">
															<div class="row">
																<div class="col-12">
																	<div class="font-18"><strong>血管選擇位置在下列部位應避免抽血：</strong></div>
																	<div>
																		<p class="mb-0">A、面積廣大之傷疤(如燙傷痊癒處)。</p>
																		<p class="mb-0">B、乳房切除後同側手臂血管，多半會淋巴滯留不宜抽血。</p>
																		<p class="mb-0">C、注射專用之靜脈導管、腹膜透析之靜脈。</p>
																		<p class="mb-0">D、廔管及人工血管。
																		</p>
																		<p class="mb-0">E、點滴輸入同側手臂。
																		</p>
																		<p class="mb-0">F、輸血同側手臂。
																		</p>
																		<p class="mb-0">G、水腫部位。
																		</p>
																		<p class="mb-0">H、血腫部位。
																		</p>
																		<p class="mb-0">I、動靜脈瘻管或任何導管同側手臂。
																		</p>
																		<p class="mb-0">J、受感染部位
																		</p>
																	</div>
																</div>
															</div>
														</li>
														<li class="mb-1 pt-1">
															<div class="row">
																<div class="col-12">
																	<div class="font-18"><strong>空針採血：</strong></div>
																	<div>
																		<p class="mb-0">A、利用空針採血時，應確定針頭與針筒是否密合，並以排氣的方式來確認針頭是否流暢。</p>
																		<p class="mb-0">B、取酒精棉或以酒精棉片，來回用力擦拭欲抽血之部位，消毒範圍約直徑10 cm（消毒後勿再以手觸摸採血部位），去掉針頭蓋，針頭之斜面部分朝上，以小於30度角度穿刺，待回血後慢慢拉出血液，切勿用力拉，以避免溶血，若無法順利採血的話請重抽。</p>
																		<p class="mb-0">C、採取足夠的血液後以乾棉球滅菌或紗布或酒精棉片壓住抽血部位，拔出針頭，請病人按壓止血5 分鐘。依照試管分裝順序沿著試管斜面使血液自然流入，分裝後需立即混合血液，使血液與抗凝劑作用完全。</p>
																	</div>
																</div>
															</div>
														</li>
														<li class="mb-1 pt-1">
															<div class="row">
																<div class="col-12">
																	<div class="font-18"><strong>真空採血：</strong></div>
																	<div>
																		<p class="mb-0">A、真空採血針去掉尾部白色蓋子，旋轉套牢於 holder 中，將試管置放於holder後方待用，但切勿將試管推入holder 中，否則試管將失去真空壓力。</p>
																		<p class="mb-0">B、取酒精棉或酒精棉片後，來回用力擦拭欲抽血之部位，消毒範圍約直徑10 cm（消毒後勿再以手觸摸採血部位），去掉針頭蓋，針頭之斜面部分朝上，以小於30角度穿刺，感覺已進入血管後將試管推入holder 中，若已回血即可進行採血，於採夠適當血液量後拔出試管，再插入另一支試管直到全部採血完成。若無回血可以稍微移動一下針頭，若一直無法回血時可以試另一支試管（因為有時是試管失去真空），若仍無法順利採血的話請重抽。</p>
																		<p class="mb-0">C、抽血後鬆開止血帶，壓上消毒過之乾棉球，並拔出針頭，等病人確實壓住傷口後才可以放開，並請病人止血5 分鐘，以達到完全止血避免淤血發生。</p>
																		<p class="mb-0">D、多試管之收集：為避免抗凝劑的相互干擾，採血順序如下圖所示。</p>
																	</div>
																</div>
															</div>
														</li>
													</ol>
												</div>
												<div class="row py-2">
													<div class="col-12 col-md-6">
														<img src="./img/多試管收集-1.jpg" class="img-fluid" alt="多試管頭蓋分類">
													</div>
													<div class="col-12 col-md-6 py-4">
														<img src="./img/多試管收集-2.jpg" class="img-fluid" alt="多試管收集說明">
													</div>
												</div> 
											</div>
										</div>
									</section>								
								</div>
								<!-- 內容區 End -->
							</div>
						</article>
					</div>
					<!-- ※※※ 功能內容 End ※※※ -->
				</div>		  
			</div>
		</main>
		<!-- ======= main End ======= -->
	</div>
	<!-- ======= footer ======= -->
	{% include 'footer.html' %}
	<!-- ======= Footer End ======= -->

	<!-- ======= js 套件區 ======= -->
	<!-- ======= js 套件區 End ======= -->
</body>

</html>
