<!doctype html>
<html lang="zh-TW">
	<!-- ======= main-content ======= -->
	<div>			
		<div class="text-white">
			<div class="pt-4 title-bg">
				<div class="px-4 pb-4">
					<h3 class="mb-0">臨床檢驗資訊</h3>
					<div class="font-14 opacity-60">Clinical Laboratory Information</div>
				</div>	
				<div class="d-block d-md-none beige-bg cofe-word p-2 border-2px">
					<div id="vn-click" class="vn-click font-18 bg-white">點我看其他項目
						<span><i class="fas fa-caret-right"></i></span>
					</div>	
				</div>				
			</div>
		</div>		
		<!-- 下拉選單 -->			
		<div id="vn-info" class="vn-info">				
			<div class="side_menu_div beige-bg">

				<ul class="mb-0">
					<li class="text-left">		
						<!-- <a class="s_btn font-20" href="contact_us_index.html">獨立科別</a>-->
						<div class="flex flex-column faq-section">
							<div class="row">
								<div class="col-md-12">
									<div id="accordion">
										<div>
											<a class="s_btn" href="/A003_labor_clinical/">衛教資訊</a>
										</div>
										<div>
											<a class="s_btn" href="/A003_labor_clinical_1/">採檢容器說明</a>
										</div>
										<div>
											<div class="s_btn" id="collection-3">
												<a class="collapsed" role="button" data-toggle="collapse" href="#collection-specimen" aria-expanded="false" aria-controls="collapse-2">檢體採集須知</a>
											</div>
											<div id="collection-specimen" class="collapse" data-parent="#accordion" aria-labelledby="collection-3">
												<div class="sidemenu-items">
													<a class="s_btn" href="/A003_labor_clinical_2/">採檢前作業流程</a>
													<a class="s_btn" href="/A003_labor_clinical_3/">檢體採集原則</a>
												</div>
											</div>
										</div>
										<div>
											<a class="s_btn" href="/A003_labor_clinical_4/">微生物培養檢體採集方法須知</a>
										</div>
										<div>
											<a class="s_btn" href="/A003_labor_clinical_5/">檢體共通退件原則</a>
										</div>
										<div>
											<a class="s_btn" href="http://web.everanhospital.com.tw:818/MedicalSupport/Laboratory/labor-clinical-6.html">檢驗服務項目</a>
										</div>
										<div>
											<a class="s_btn" href="/A003_labor_clinical_7/">檢體加作及複驗</a>
										</div>
										<div>
											<a class="s_btn" href="/A003_labor_clinical_8/">危險值及重要異常值通報</a>
										</div>
										<div>
											<a class="s_btn" href="http://web.everanhospital.com.tw:818/MedicalSupport/Laboratory/labor-clinical-9.html">報告單位換算</a>
										</div>
									</div>
								</div>								
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</html>