{% extends "MedicalSupport/Laboratory/labor-blood-base.html" %}
{% load static %}

{% block title %}門診抽血｜檢驗科｜長安醫院{% endblock %}
{% block og_title %}門診抽血｜檢驗科｜長安醫院{% endblock %}

{% block guide_content %}
<!-- 標題 -->

									<section id="content_h">

										<div class="onsale_heading">門診抽血</div>

										<hr class="my-2">

									</section>

									<!-- 細節 -->

									<section id="content_body">

										<div class="row">

											<div class="col-12">

												<div class="p-2 title-bg d-inline-flex mb-2">

													<h4 class="cofe-word mb-0">櫃台服務時間</h4>

												</div>

												<div class="px-2">

													<ul class="list-bullets">

														<li class="mb-1">週一至週五，07:30~21:30</li>

														<li class="mb-1">週六，07:30~12:30</li>

													</ul>

												</div>

												<div class="alert alert-warning">

													<strong>請持健保卡到檢驗科報到機報到，依報到號碼叫號抽血。</strong>

												</div>

											</div>

										</div>

									</section>

								
{% endblock %}

<!-- ▼▼▼ SEO/GEO ▼▼▼-->
{% block guide_seo %}
{% include 'schema_article.html' with headline="門診抽血｜檢驗科" %}
{% endblock %}
<!-- ▲▲▲ SEO/GEO ▲▲▲-->
