{% extends "MedicalSupport/Laboratory/labor-pathology-base.html" %}

{% load static %}

<!-- === Meta ================================== -->
{% block title %}病理檢體採集及包裝注意事項｜{{ block.super }}檢驗科{% endblock %}
{% block og_title %}病理檢體採集及包裝注意事項｜{{ block.super }}檢驗科{% endblock %}


<!-- === 子頁細節內容 =========================== -->

{% block guide_content %}

<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
    <h1 class="c-onsale-heading">病理檢體採集及包裝注意事項</h1>
</header>
<div class="l-main-content__body">
<div class="row">
		<div class="col-12">
			<div class="p-2 title-bg d-inline-flex mb-2">
				<h4 class="cofe-word mb-0">開立病理檢驗醫囑單</h4>
			</div>
			<div class="px-2 pb-2">
				<ol class="custom-numbers mb-0">
					<li class="mb-1 pt-1">醫囑檢驗單於電腦作業系統正常運作情形下，一律以電腦開立，送檢時應同時填具代檢單位送驗申請單。</li>
					<li class="mb-1 pt-1 pb-2">下列標示黃色區域由申請單位填寫</li>
					<img class="w-100" src="{% static 'common/img/Lab/病理檢查表.jpg' %}" alt="病理細胞檢查表" title="病理檢查表">
					<img class="w-100" src="{% static 'common/img/Lab/病理組織表.jpg' %}" alt="病理組織檢查表" title="病理組織表">
					<img class="w-100" src="{% static 'common/img/Lab/病理檢查委託單.jpg' %}" alt="病理檢查委託單" title="病理檢查委託單">
				</ol> 
			</div>
		</div>
	</div>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="病理檢體採集及包裝注意事項｜檢驗科" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}