{% extends "MedicalSupport/Laboratory/labor-clinical-4-base.html" %}

{% load static %}

<!-- === Meta ================================== -->
{% block title %}尿液採檢注意事項｜微生物培養採檢須知｜{{ block.super }}檢驗科{% endblock %}
{% block og_title %}尿液採檢注意事項｜微生物培養採檢須知｜{{ block.super }}檢驗科{% endblock %}


<!-- === 子頁細節內容 =========================== -->

{% block guide_content %}

<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
    <h1 class="c-onsale-heading">尿液培養檢體採集</h1>
</header>
<div class="l-main-content__body">
	<div class="row">	                     
		<div class="col-12">
			<div class="px-2 pb-2 ml-md-4">
				<ul class="list-bullets mb-0">
					<li class="mb-1 pt-1">儘量採集清晨第一次的尿液，或至少讓尿液留在膀胱裡過夜或留四小時以上，以避免尿液培養的偽陰性結果。避免為了讓病人解尿而給病人太多水份，這樣會造成尿液稀釋而使菌落數小於 105CFU/mL。</li>        
					<li class="mb-1 pt-1">
						<div class="row">
							<div class="col-12">
								<strong>自然解的中段尿（voided midstream urine）：</strong>
								<div>
									<p class="mb-0">A、女性：先用水和中性肥皂清潔陰部及手部，並以無菌紗布或滅菌後棉枝前後擦拭乾淨；將陰唇用手指向兩旁撥開，先打開無菌試管之管蓋，排掉前段之尿液後，以無菌試管留取中段尿液約1/3滿後，迅速蓋上蓋子並鎖緊。</p>
									<p class="mb-0">B、男性：將清洗擦拭尿道口後；打開無菌試管之管蓋，排掉前段之尿液後，以無菌試管留取中段尿液約1/3滿後，迅速蓋上蓋子並鎖緊。</p>
									<p class="mb-0">C、若為幼兒，可用尿袋，但以收集一次小便為限，不可用儲尿；先在嬰幼兒之陰唇或尿道口作消毒後，貼上尿袋，收集適量後（＞1 mL），將尿倒入無菌離心管中，蓋上蓋子並鎖緊。</p>
									<p class="mb-0">D、若病人無法採用正常方式收集檢體時，可採用導尿或膀胱穿刺。</p>
								</div>
							</div>
						</div>
					</li>
					<li class="mb-1 pt-1">導尿採檢：讓病人平躺於檢查床上，導尿人員戴上消毒手套後，消毒男性病人的尿道口與龜頭或女性病人的尿道口與外陰部，以潤滑膠液潤滑病人尿道及導管外部，將導管慢慢放入病人尿道中，直至尿液順利導出，直接以無菌收集盒留取尿液約1/3滿後，迅速蓋上蓋子並鎖緊。</li> 
					<li class="mb-1 pt-1">膀胱穿刺採檢：先以消毒劑（如hibiscrub）洗手，受檢者雙腿彎曲呈蛙腿般姿勢，定出欲下針處，約在恥骨聯合上方0.5公分，下腹中線處，戴上無菌手套，並消毒下針處附近的皮膚，觸摸恥骨聯合，以垂直角度在前者上方0.5公分處下針，需一面反抽針筒一面將針深入。一旦有尿抽出時，就不用再深入，抽出針以無菌紗布墊壓迫下針處，將尿液打入無菌試管中或原針筒送檢。</li>
					<li class="mb-1 pt-1">收集尿液過程中，請勿將手伸入容器內，且尿液勿過滿溢出容器外，以免污染。</li> 
					<li class="mb-1 pt-1">尿液收集後，需在兩小時內送達，若無法在兩小時內送達，需馬上冷藏，運送過程中也要冷藏，但不可以冷凍。</li>  
					
				</ul> 
			</div>	
		</div>
	</div>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="尿液培養檢體採集｜微生物培養採檢須知｜檢驗科" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}