<div class="c-sidebar-trust js-sidebar-wrapper" id="sidebarMenu">
	<div class="c-sidebar-trust__header js-sidebar-toggle">
		<div class="u-badge-small">LAB SERVICE</div>
		<div class="c-sidebar-trust__title-row">
			<h3>病理檢查資訊</h3>
			<span class="c-sidebar-trust__toggle-icon"><i class="fas fa-chevron-down" aria-hidden="true"></i></span>
		</div>
		<p>Pathology and Laboratory Medicine</p>
	</div>
	<nav class="c-sidebar-trust__nav" aria-label="長安醫院檢驗科 - 病理檢查資訊" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<ul class="c-sidebar-trust__list">

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A003_labor_pathology/' %}is-active{% endif %}" href="/A003_labor_pathology/" title="台中長安醫院檢驗科-病理檢體採集及包裝注意事項" itemprop="url" {% if request.path == '/A003_labor_pathology/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">病理檢體採集及包裝注意事項</span>
						<!-- <span class="c-sidebar-trust__en">Blood Draw</span> -->
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A003_labor_pathology_1/' %}is-active{% endif %}" href="/A003_labor_pathology_1/" title="台中長安醫院檢驗科-病人辨識" itemprop="url" {% if request.path == '/A003_labor_pathology_1/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">病人辨識</span>
						<!-- <span class="c-sidebar-trust__en">Blood Draw</span> -->
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A003_labor_pathology_2/' %}is-active{% endif %}" href="/A003_labor_pathology_2/" title="台中長安醫院檢驗科-細胞病理檢體採集注意事項" itemprop="url" {% if request.path == '/A003_labor_pathology_2/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">細胞病理檢體採集注意事項</span>
						<!-- <span class="c-sidebar-trust__en">Blood Draw</span> -->
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A003_labor_pathology_3/' %}is-active{% endif %}" href="/A003_labor_pathology_3/" title="台中長安醫院檢驗科-細胞病理診斷抹片前處理需求" itemprop="url" {% if request.path == '/A003_labor_pathology_3/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">細胞病理診斷抹片前處理需求</span>
						<!-- <span class="c-sidebar-trust__en">Blood Draw</span> -->
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

			<li class="c-sidebar-trust__item-wrapper">
				<a class="c-sidebar-trust__item {% if request.path == '/A003_labor_pathology_5/' %}is-active{% endif %}" href="/A003_labor_pathology_5/" title="台中長安醫院檢驗科-病理服務項目" itemprop="url" {% if request.path == '/A003_labor_pathology_5/' %}aria-current="page"{% endif %}>
					<div class="c-sidebar-trust__content">
						<span class="c-sidebar-trust__text" itemprop="name">病理服務項目</span>
						<!-- <span class="c-sidebar-trust__en">Blood Draw</span> -->
					</div>
					<div class="c-sidebar-trust__arrow"><i class="fas fa-angle-right" aria-hidden="true"></i></div>
				</a>
			</li>

		</ul>
	</nav>
</div>