{% extends "MedicalSupport/Laboratory/labor-clinical-in-base.html" %}
{% load static %}

{% block title %}檢體採集衛教、免疫糞便定量潛血檢查｜檢驗科｜長安醫院{% endblock %}
{% block og_title %}檢體採集衛教、免疫糞便定量潛血檢查｜檢驗科｜長安醫院{% endblock %}

{% block guide_content %}
<!-- 標題 -->

									<section id="content_h">

										<div class="onsale_heading">免疫糞便定量潛血檢查</div>

										<hr class="my-2">

									</section>

									<!-- 細節 -->

									<section id="content_body">

										<div class="row">	                        

											<div class="col-12">

												<div class="select_in"></div>											

											</div>

											<div class="col-12">

												<div class="px-2">

													<img src="{% static 'common/img/Lab/如何採集糞便.png' %}" class="img-fluid" alt="如何採取糞便檢體">

												</div>

											</div>

										</div>

									</section>

								
{% endblock %}

<!-- ▼▼▼ SEO/GEO ▼▼▼-->
{% block guide_seo %}
{% include 'schema_article.html' with headline="檢體採集衛教、免疫糞便定量潛血檢查｜檢驗科" %}
{% endblock %}
<!-- ▲▲▲ SEO/GEO ▲▲▲-->
