{% extends "MedicalSupport/Laboratory/labor-base.html" %}
{% load static %}

{% block title %}危險值及重要異常值通報｜檢驗科｜長安醫院{% endblock %}
{% block og_title %}危險值及重要異常值通報｜檢驗科｜長安醫院{% endblock %}

{% block guide_content %}
<!-- 標題 -->

									<section id="content_h">

										<div class="onsale_heading">危險值及重要異常值通報</div>

										<hr class="my-2">

									</section>

									<!-- 細節 -->

									<section id="content_body">

										<div class="row">											

											<div class="col-12">

												<img class="w-100" src="{% static 'common/img/Lab/危險異常值通報.webp' %}" alt="危險值及重要異常值通報">

											</div>

										</div>						

									</section>

								
{% endblock %}

<!-- ▼▼▼ SEO/GEO ▼▼▼-->
{% block guide_seo %}
{% include 'schema_article.html' with headline="危險值及重要異常值通報｜檢驗科" %}
{% endblock %}
<!-- ▲▲▲ SEO/GEO ▲▲▲-->
