{% load static %}
<div id="m-header-root">
    <header class="m-header" id="m-header">
        <div class="m-header__container">
            <!-- Logo (GEO: ?®Âú∞Ê®ôË?Âº∑Â?) -->
            <div class="m-header__logo" style="display: flex;justify-content: start; align-items: center;">
                <a href="/index/" title="?ûÊú¨?¢È???- ?∑Â??´Èô¢">
                    <img src="{% static 'common/img/Everan_logo.webp' %}" alt="?∑Â??´Èô¢" title="?ûÊú¨?¢È???- ?∑Â??´Èô¢">
                </a>
                <a href="/A003_Laboratory/" title="?ûÈï∑ÂÆâÈÜ´?¢Ê™¢È©óÁ?È¶ñÈ?" alt="?ûÈï∑ÂÆâÈÜ´?¢Ê™¢È©óÁ?È¶ñÈ?">
					<h3 class="mb-0" style="font-size: 1.5rem;"><b>Ê™¢È?Áß?/b></h3>
					<div class="font-12">Department of Laboratory Medicine</div>
				</a>
            </div>

            <!-- Desktop Nav (SEO: Schema.org ÁµêÊ?) -->
            <nav class="m-nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
                <ul class="m-nav__list">
                    
                    <!-- 1. ÁßëÂÆ§‰ªãÁ¥π?áÊ???-->
                    <li class="m-nav__item">
                        <a href="javascript:void(0)" class="m-nav__link" itemprop="url" title="ÁßëÂÆ§‰ªãÁ¥π?áÊ???>
                            <span itemprop="name">ÁßëÂÆ§‰ªãÁ¥π?áÊ???/span>
                        </a>
                        <div class="m-mega">
                            <div class="m-mega__container">
                                <div class="m-mega__nav-side" style="grid-template-columns: 2fr 2fr;">
                                    <section class="m-mega__column">
                                        <h4 class="m-mega__title">?¨Á?Ë≥áË?</h4>
                                        <div class="m-grid-guideline" style="grid-template-columns: repeat(2, 1fr);">
                                            <ul class="m-mega__list">
                                                <li><a href="http://web.everanhospital.com.tw:818/MedicalSupport/Laboratory/labor-1.html" itemprop="url" title="?Ä?∞ÂÖ¨??>?Ä?∞ÂÖ¨??/a></li>
                                                <li><a href="/A003_Laboratory_2/" itemprop="url" title="?¨Ê≠£?ßÂ?‰øùÂ??øË´æ">?¨Ê≠£?ßÂ?‰øùÂ??øË´æ</a></li>
                                                <li><a href="/A003_Laboratory_4/" itemprop="url" title="?ØÁµ°?ëÂÄ?>?ØÁµ°?ëÂÄ?/a></li>
                                            </ul>
                                            
                                            <ul class="m-mega__list">
                                                <li><a href="/A003_Laboratory/" itemprop="url" title="?¨Á?‰ªãÁ¥π">?¨Á?‰ªãÁ¥π</a></li>
                                                <li><a href="http://web.everanhospital.com.tw:818/MedicalSupport/Laboratory/labor-3.html" itemprop="url" title="?±ÊÄ®Ë??ÜÁ?Â∫?>?±ÊÄ®Ë??ÜÁ?Â∫?/a></li>
                                            </ul>
                                        </div>
                                    </section>
                                   
                                    <section class="m-mega__column">
                                        <h4 class="m-mega__title">Ê™¢È??çÂ?ÊµÅÁ?</h4>
                                        <ul class="m-mega__list">
                                            <li><a href="/A003_labor_blood/" itemprop="url" title="?ÄË®∫ÊäΩË°Ä">?ÄË®∫ÊäΩË°Ä</a></li>
                                            <li><a href="/A003_labor_blood_2/" itemprop="url" title="?òÂ?È©óÂ∞ø?äÁ?‰æøÊ™¢È´îÂÆπ??>?òÂ?È©óÂ∞ø?äÁ?‰æøÊ™¢È´îÂÆπ??/a></li>
                                            <li><a href="/A003_labor_blood_3/" itemprop="url" title="ÂøÉÈõª?ñÂ??∫Â??ΩÊ™¢?•Ê?Á®?>ÂøÉÈõª?ñÂ??∫Â??ΩÊ™¢?•Ê?Á®?/a></li>
                                        </ul>
                                    </section>

                                </div>
                                <div class="m-mega__promo-side">
                                    <img src="{% static 'common/img/everan2.webp' %}" alt="Ë™çË??∑Â?" class="m-mega__promo-img" itemprop="image" loading="lazy">
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- 2. ?®Â?Ê™¢È?Ë≥áË? -->
                    <li class="m-nav__item">
                        <a href="javascript:void(0)" class="m-nav__link" itemprop="url" title="?®Â?Ê™¢È?Ë≥áË?">
                            <span itemprop="name">?®Â?Ê™¢È?Ë≥áË?</span>
                        </a>
                        <div class="m-mega">
                            <div class="m-mega__container">
                                <div class="m-mega__nav-side">
                                    <section class="m-mega__column">
                                        <h4 class="m-mega__title">Ë°õÊ?Ë≥áË?</h4>
                                        <ul class="m-mega__list">
                                            <li><a href="/A003_labor_clinical/" itemprop="url" title="Ê™¢È??°È?Ë°õÊ?">Ê™¢È??°È?Ë°õÊ?</a></li>
                                            <li><a href="/A003_labor_clinical_1/" itemprop="url" title="?°Ê™¢ÂÆπÂô®Ë™™Ê?">?°Ê™¢ÂÆπÂô®Ë™™Ê?</a></li>
                                            <li><a href="/A003_labor_clinical_5/" itemprop="url" title="Ê™¢È??±ÈÄöÈÄÄ‰ª∂Â???>Ê™¢È??±ÈÄöÈÄÄ‰ª∂Â???/a></li>
                                        </ul>
                                    </section>
                                    <section class="m-mega__column">
                                        <h4 class="m-mega__title">?°È??πÊ??üÂ??ÅÊ??ôÈ???/h4>
                                        <ul class="m-mega__list">
                                            <li><a href="/A003_labor_clinical_4/" itemprop="url" title="ÂæÆÁ??©ÂüπÈ§äÊ™¢È´îÊé°?ÜÊñπÊ≥ïÈ???>ÂæÆÁ??©ÂüπÈ§äÊ™¢È´îÊé°?ÜÊñπÊ≥ïÈ???/a></li>
                                            <li>
                                                <a href="javascript:void(0)" class="js-mega-sub-toggle" itemprop="url" title="Ê™¢È??°È??àÁü•">Ê™¢È??°È??àÁü•</a>
                                                <ul class="m-mega__sub-list">
                                                    <li><a href="/A003_labor_clinical_2/" itemprop="url" title="?°Ê™¢?ç‰?Ê•≠Ê?Á®?>?°Ê™¢?ç‰?Ê•≠Ê?Á®?/a></li>
                                                    <li><a href="/A003_labor_clinical_3/" itemprop="url" title="Ê™¢È??°È??üÂ?">Ê™¢È??°È??üÂ?</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="http://web.everanhospital.com.tw:818/MedicalSupport/Laboratory/labor-clinical-6.html" itemprop="url" title="Ê™¢È??çÂ??ÖÁõÆ">Ê™¢È??çÂ??ÖÁõÆ</a></li>
                                        </ul>
                                    </section>
                                    <section class="m-mega__column">
                                        <h4 class="m-mega__title">?∂‰?Ë≥áË?</h4>
                                        <ul class="m-mega__list">
                                            <li><a href="/A003_labor_clinical_7/" itemprop="url" title="Ê™¢È??†‰??äË?È©?>Ê™¢È??†‰??äË?È©?/a></li>
                                            <li><a href="/A003_labor_clinical_8/" itemprop="url" title="?±Èö™?ºÂ??çË??∞Â∏∏?ºÈÄöÂ†±">?±Èö™?ºÂ??çË??∞Â∏∏?ºÈÄöÂ†±</a></li>
                                            <li><a href="http://web.everanhospital.com.tw:818/MedicalSupport/Laboratory/labor-clinical-9.html" itemprop="url" title="?±Â??Æ‰??õÁ?">?±Â??Æ‰??õÁ?</a></li>
                                        </ul>
                                    </section>
                                </div>
								
                            </div>
                        </div>
                    </li>

                    <!-- 3. ?ÖÁ??áÂü∫?†Ê™¢Ê∏¨Ë?Ë®?-->
                    <li class="m-nav__item">
                        <a href="javascript:void(0)" class="m-nav__link" itemprop="url" title="?ÖÁ??áÂü∫?†Ê™¢Ê∏¨Ë?Ë®?>
                            <span itemprop="name">?ÖÁ??áÂü∫?†Ê™¢Ê∏¨Ë?Ë®?/span>
                        </a>
                        <div class="m-mega">
                            <div class="m-mega__container">
                                <div class="m-mega__nav-side" style="grid-template-columns: 3fr 1fr;">
                                    <section class="m-mega__column">
                                        <h4 class="m-mega__title">?ÖÁ?Ê™¢Êü•Ë≥áË?</h4>
                                        <div class="m-grid-guideline" style="grid-template-columns: repeat(2, 1fr);">
                                            <ul class="m-mega__list">
                                                <li><a href="/A003_labor_pathology/" itemprop="url" title="?ÖÁ?Ê™¢È??°È??äÂ?Ë£ùÊ≥®?è‰???>?ÖÁ?Ê™¢È??°È??äÂ?Ë£ùÊ≥®?è‰???/a></li>
                                                <li><a href="/A003_labor_pathology_1/" itemprop="url" title="?Ö‰∫∫Ëæ®Ë?">?Ö‰∫∫Ëæ®Ë?</a></li>
                                                <li><a href="/A003_labor_pathology_2/" itemprop="url" title="Á¥∞Ë??ÖÁ?Ê™¢È??°È?Ê≥®Ê?‰∫ãÈ?">Á¥∞Ë??ÖÁ?Ê™¢È??°È?Ê≥®Ê?‰∫ãÈ?</a></li>
                                            </ul>
                                            
                                            <ul class="m-mega__list">
                                                <li><a href="/A003_labor_pathology_3/" itemprop="url" title="Á¥∞Ë??ÖÁ?Ë®∫Êñ∑?πÁ??çË??ÜÈ?Ê±?>Á¥∞Ë??ÖÁ?Ë®∫Êñ∑?πÁ??çË??ÜÈ?Ê±?/a></li>
                                                <li><a href="/A003_labor_pathology_5/" itemprop="url" title="?±ÊÄ®Ë??ÜÁ?Â∫?>?ÖÁ??çÂ??ÖÁõÆ</a></li>
                                            </ul>
                                        </div>
                                    </section>
                                   
                                    <section class="m-mega__column">
                                        <h4 class="m-mega__title">?∫Â?Ê™¢Ê∏¨Ë≥áË?</h4>
                                        <ul class="m-mega__list">
                                            <li><a href="/A003_labor_Genetic/" itemprop="url" title="?∫Â?Ê™¢Ê∏¨Ê™¢È??°È??äÈÄÅÊ™¢Ê≥®Ê?‰∫ãÈ?">?∫Â?Ê™¢Ê∏¨Ê™¢È??°È??äÈÄÅÊ™¢Ê≥®Ê?‰∫ãÈ?</a></li>
                                        </ul>
                                    </section>

                                </div>
                                <div class="m-mega__promo-side">
                                    <img src="{% static 'common/img/everan2.webp' %}" alt="Ë™çË??∑Â?" class="m-mega__promo-img" itemprop="image" loading="lazy">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>

            <!-- Ë°åÂ??àÂ??õÂô® -->
            <button class="m-hamburger" id="m-toggle" aria-label="?áÊ?Â∞éË¶Ω?∏ÂñÆ">
                <span></span><span></span><span></span>
            </button>
        </div>
    </header>

    <!-- Ë°åÂ??àÂÅ¥?äÂ?Ë¶?-->
    <div class="m-overlay" id="m-overlay"></div>
    <nav class="m-mobile-sidebar" id="m-sidebar" aria-label="Ë°åÂ??àÂ?Ë¶?>
        <div class="m-mobile-container" id="m-mobile-container">
            <!-- Ë°åÂ??àÈÅ∏?ÆÁî± site_main.js ?™Â??πÊ?Ê°åÊ??àÈÅ∏?ÆÂ?Ê≠•Á???-->
            <!-- ?ÖÈ?Á∂≠Ë≠∑‰∏äÈù¢??<nav class="m-nav"> ?≥ÂèØ?åÊ≠•?¥Êñ∞Ë°åÂ???-->

        </div>
    </nav>
            
        <!-- Modal ?±Áî®?ÄÂ°?-->
    {% include 'modals/bed_rate_modal.html' %}
</div>
