{% extends "MedicalSupport/Laboratory/labor-clinical-3-base.html" %}
{% load static %}

{% block title %}動脈血檢體採集｜檢驗科｜長安醫院{% endblock %}
{% block og_title %}動脈血檢體採集｜檢驗科｜長安醫院{% endblock %}

{% block guide_content %}
<!-- 標題 -->

									<section id="content_h">

										<div class="onsale_heading">動脈血檢體採集</div>

										<hr class="my-2">

									</section>

									<!-- 細節 -->

									<section id="content_body">

										<div class="row">	                        

											<div class="col-12">

												<div class="select_3"></div>

											</div>

	

											<div class="col-12">

												<div class="px-2 pb-2">	

													<ul class="list-bullets mb-0">

														<li class="mb-1 pt-1">動脈穿刺採血屬於侵入性的醫療行為，必需由醫師親自採檢。</li>

														<li class="mb-1 pt-1">抽血前向病患或家屬解釋採檢過程、目的及可能發生之併發症；包含血管痙攣、出血並在動脈周圍形成血塊、動脈阻斷（arterial occlusion）及感染等。</li>

														<li class="mb-1 pt-1">

															<div class="row">

																<div class="col-12">

																	<div class="font-18"><strong>擬由橈動脈採檢則需先施行Allen's 試驗，步驟如下：</strong></div>

																	<div>

																		<p class="mb-0">A、受檢者手舉高緊握拳頭30秒。</p>

																		<p class="mb-0">B、採檢者以手指壓迫受檢者之手腕，並同時阻斷橈動脈（Radial artery）與尺動脈（Ulnar artery）的血流。</p>

																		<p class="mb-0">C、受檢者放鬆拳頭打開手掌但不伸直，此時手掌與手指應呈現蒼白。</p>

																		<p class="mb-0">D、採檢者放鬆對尺動脈的壓迫，橈動脈仍壓著，觀察手掌與手指血色回復狀況。

																		</p>

																		<p class="mb-0">E、7～10秒內顏色回復正常者，Allen's test為陽性，表示尺動脈血流正常，可由橈動脈抽血。

																		</p>

																		<p class="mb-0">F、手掌與手指顏色未回復或超過7～10秒回復者，Allen's test為陰性，表尺動脈循環不良，則不可由橈動脈抽血。

																		</p>

																	</div>

																</div>

															</div>

														</li>

														<li class="mb-1 pt-1">

															<div class="row">

																<div class="col-12">

																	<div class="font-18"><strong>採檢作業流程：</strong></div>

																	<div>

																		<h5><span class="main_title font-16">消毒液：</span></h5>

																		<div class="px-3">

																			<p class="mb-0">A、酒精性消毒液：75%酒精、&gt; 0.5% chlorhexidine alcoholic solution、10% povidone-iodine alcoholic solution</p>

																			<p class="mb-0">B、年齡小於2個月的嬰兒或對chlorhexidine過敏者，可用75%酒精或10% povidone-iodine alcoholic solution或水溶性優碘。</p>

																			<p class="mb-0">C、對酒精過敏者可用水溶性優碘。</p>

																			<p class="mb-0">D、如對上述皮膚消毒劑有使用禁忌者，則另選用合適消毒方式。

																			</p>

																		</div>

																	</div>

																</div>

															</div>

														</li>

														<li class="mb-1 pt-1">

															<div class="row">

																<div class="col-12">

																	<div class="font-18"><strong>皮膚消毒：</strong></div>

																	<div>

																		<h5><span class="main_title font-16">一般檢驗採血之消毒法：</span></h5>

																		<div class="px-3">

																			<p class="mb-0">沾取足量消毒液由中心向外環形塗擦消毒皮膚至乾淨且待乾，再執行抽血。</p>

																		</div>

																		<h5><span class="main_title font-16">血液培養之消毒法：</span></h5>

																		<div class="px-3">

																			<p class="mb-0">A、皮膚清潔：以75%酒精或無菌蒸餾水，由中心環形向外清潔皮膚，次數不限，直至無眼見髒汙。</p>

																			<p class="mb-0">B、皮膚消毒：選用適合之消毒劑（如Chlorhexidine、10% povidone-iodine alcoholic solution或水溶性優碘）由中心環形向外用力擦拭，消毒次數不限，但需等待至乾使消毒劑發揮效果。</p>

																			<p class="mb-0">C、除非病人有特殊禁忌，否則最後不需再將消毒劑拭去，保留消毒劑使其持續發揮效用。</p>

																			<p class="mb-0">D、培養瓶之瓶口消毒：75%之酒精棉片擦拭後待乾，以達消毒作用。血液培養之醫令若同時開立2套，需依照醫囑指示進行採血，若無特殊醫囑，則為左右手同時各採血一次。若操作過程中可確保針頭未被污染，將血液注入培養瓶時，可不必換針頭，以減少針扎。</p>

																		</div>

																		<h5><span class="main_title font-16">血液氣體分析檢驗採檢：</span></h5>

																		<div class="px-3">

																			<p class="mb-0">A、準備血液氣體分析專用含Lithium Heparin針筒（1 mL）或以Lithium Heparin濕潤過之針筒（1 mL）。</p>

																			<p class="mb-0">B、以持筆的姿勢拿著空針，針頭保持與動脈平行，二者形成的角度愈小愈好，針頭斜面朝上，再以60～90度方式穿刺動脈。</p>

																			<p class="mb-0">C、目視針頭端回血後，抽取0.6～1.0 mL動脈血，移除針頭並排除多餘的空氣，馬上蓋上黑色橡膠蓋。</p>

																			<p class="mb-0">D、180度上下翻轉6-8次，再搓轉5秒鐘，避免檢體凝固。</p>

																			<p class="mb-0">E、採檢後請盡速送檢以免影響檢驗結果；採檢後15分鐘內室溫，盡快送檢或30分鐘內以冰浴方式(將檢體置於內袋，外袋請放冰塊加水)送達檢驗科。</p>

																			<p class="mb-0">F、受檢者抽血完成後以指腹加壓穿刺部位約10 分鐘，直到穿刺部位無出血或血腫情形。</p>

																		</div>

																		<h5><span class="main_title font-16">血液游離鈣(Ionized Ca)檢體採檢：</span></h5>

																		<div class="px-3">

																			<p class="mb-0">A、採檢前不可過度運動手臂，應平躺或坐姿10分鐘後採檢。</p>

																			<p class="mb-0">B、採檢可使用A-line或含Lithium Heparin抗凝劑之綠頭管採血，進行動脈血液採檢或靜脈血液採檢。</p>

																		</div>

																	</div>

																</div>

															</div>

														</li>

													</ul>

												</div>

											</div>

										</div>

									</section>

								
{% endblock %}

<!-- ▼▼▼ SEO/GEO ▼▼▼-->
{% block guide_seo %}
{% include 'schema_article.html' with headline="動脈血檢體採集｜檢驗科" %}
{% endblock %}
<!-- ▲▲▲ SEO/GEO ▲▲▲-->
