{% extends "MedicalSupport/Laboratory/labor-clinical-3-base.html" %}
{% load static %}

{% block title %}呼吸道檢體採集｜檢驗科｜長安醫院{% endblock %}
{% block og_title %}呼吸道檢體採集｜檢驗科｜長安醫院{% endblock %}

{% block guide_content %}
<!-- 標題 -->

									<section id="content_h">

										<div class="onsale_heading">呼吸道檢體採集</div>

										<hr class="my-2">

									</section>

									<!-- 細節 -->

									<section id="content_body">

										<div class="row">	                        

											<div class="col-12">

												<div class="select_3"></div>

											</div>

	

											<div class="col-12">

												<div class="px-2 pb-2">

													<div class="p-2 title-bg d-inline-flex mb-2">

														<h4 class="cofe-word mb-0">上呼吸道檢體採集：</h4>

													</div>

													<div class="px-2 pb-2 ml-md-4">

														<ol class="custom-numbers mb-0">

															<li class="mb-1 pt-1">鼻腔：以一根培養拭子，伸進一邊鼻孔約 2.5 公分，然後輕輕的旋轉，使拭子與鼻孔黏膜接觸，緩慢抽出後，再伸進另一鼻孔收集檢體。</li>

															<li class="mb-1 pt-1">鼻咽：採檢時，通常由病人肩膀後方放置一光源，用一隻手指頭將病人鼻前端往上壓，再使用一支小的可彎曲的金屬採檢棉棒，先用蒸餾水或0.9 %食鹽水潤濕後，伸入其中之一的鼻孔採檢，沿鼻中隔來回擦拭直到接觸到後咽部的阻隔，緩慢移出棉棒。如果未能接觸到後咽部，則須從另一鼻孔再操作一次。</li>

															<li class="mb-1 pt-1">咽喉：病人頭部後傾和深呼吸，以壓舌棒壓住舌頭使得扁桃腺及後咽部清晰可見，再以棉棒來回擦拭懸壅垂及扁桃腺之間，應避免碰觸舌部及臉頰處以減少口腔正常菌叢污染，可以叫病人發出〝啊〞長音以免提高懸壅垂及避免反胃，利用培養棉棒仔細擦拭扁桃腺、後咽處及任何化膿分泌物。收集完後，應置於培養收集管內，以防檢體乾燥，立即送至檢驗科。</li>

															<img src="./img/呼吸道檢體採集.png" class="img-fluid" alt="呼吸道檢體採集">

														</ol> 

													</div>

													<div class="p-2 title-bg d-inline-flex mb-2">

														<h4 class="cofe-word mb-0">下呼吸道檢體採集：（能在用藥之前採檢最佳）</h4>

													</div>

													<div class="px-2 pb-2 ml-md-4">

														<ol class="custom-numbers mb-0">

															<li class="mb-1 pt-1">支氣管肺泡沖洗液：對重症、難治、或免疫抑制、或疑似厭氧菌引起的醫院內肺部感染可採用纖維支氣管鏡或人工氣道作防污染雙套管毛刷(PSB)或防污染支氣管肺泡灌洗(PBAL)，由醫生執行纖維支氣管鏡灌洗出樣品、保護性支氣管刷採集樣品和肺泡灌洗液，裝於50 mL無菌試管內，迅速蓋上容器蓋子送至醫事檢驗科。</li>

															<li class="mb-1 pt-1">氣管穿刺抽取液：對重症、難治、或免疫抑制、或疑似厭氧菌引起的醫院內肺部感染可採用環甲膜穿刺經氣管吸引(TTA)、經胸壁穿刺肺吸引(LA)，由醫生執行氣管穿刺吸取術，將其抽取之樣品，將液體注入無菌試管或原無菌針筒（針頭部分需與無菌膠布固定）迅速送至檢驗科。</li>

														</ol> 

													</div>

												</div>

											</div>

										</div>

									</section>									

								
{% endblock %}

<!-- ▼▼▼ SEO/GEO ▼▼▼-->
{% block guide_seo %}
{% include 'schema_article.html' with headline="呼吸道檢體採集｜檢驗科" %}
{% endblock %}
<!-- ▲▲▲ SEO/GEO ▲▲▲-->
