{% extends "MedicalSupport/Laboratory/labor-base.html" %}

{% load static %}

<!-- === Meta ================================== -->
{% block title %}本科介紹｜{{ block.super }}檢驗科{% endblock %}
{% block og_title %}本科介紹｜{{ block.super }}檢驗科{% endblock %}


<!-- === 子頁細節內容 =========================== -->

{% block guide_content %}

<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
    <h1 class="c-onsale-heading">本科介紹</h1>
</header>
<div class="l-main-content__body">
	<div class="row">
		<div class="col-12">
			<div class="intro_banner"></div>
		</div>
		<div class="col-12 mt-4">
			<div class="p-2 title-bg d-inline-flex mb-2">
				<h4 class="cofe-word mb-0">關於檢驗科</h4>
			</div>
			<p class="word-Indent font-18">檢驗科秉持醫院設立之宗旨，時時刻刻為守護社區健康，永遠與社區民眾同在面對未來人口老化、照護人力不足、醫療科技快速發展與大數據時代來臨，檢驗科全體同仁追隨醫院政策「挑戰、新、卓越」的精神，並稟持本科之品質政策「以『 專業嚴謹的態度全人醫療的精神 』，提供準確、快速、高品質的驗服務 」。努力打造優質社區醫院之檢驗服務，致力提升醫療檢驗水準，滿足社區民眾對檢驗需求與期望，提供臨精準、快速、專業的輔助診斷之檢驗數據。</p>

			<p class="word-Indent font-18">本科內部組織依作業性質分成門診鏡檢、血液血庫、生化免疫及行政事務。門鏡檢主要負責門診病人採檢、尿液、糞便及體液常規檢驗、心電圖檢查、肺功能檢查等；血液血庫提供血液學檢驗及庫作業如血型、備血合血檢驗；生化免疫負責生化檢驗、藥物濃度、急性心肌梗塞、酒精濃度、血液氣體分析、甲狀功能、病毒肝炎血清標記、腫瘤標記及梅毒血清篩檢等檢驗；行政事務包含品質管理及相關庶務等行政作業。本科2021年6月成為衛生福利部疾病管制署嚴重特殊傳染性肺炎指定檢驗機構，提供SARS-CoV-2分子檢驗。為滿足臨床檢驗項目的需求，本科也提供檢驗項目委外代檢服務。</p>

			<p class="word-Indent font-18">為提供民眾及滿足臨床對檢驗之需求，本科提供三班全年無休的檢驗服務。引全自動化的儀器，如自動化生化分析儀、自動化血球計數儀、血液凝固分析儀、尿液分析儀及自動化免疫分析儀等，科於2018年通過ISO 15189醫學實驗室認證，透過持續性檢驗品質監控及管理以提升檢驗品質，確保病人安全。</p>

		</div>
		<div class="col-12 mt-4">
			<div class="p-2 title-bg d-inline-flex mb-2">
				<h4 class="cofe-word mb-0">大事記</h4>
			</div>
			<div class="px-2">
				<ul class="list-bullets">
					<li class="mb-1">2015年11月醫院試營運</li>
					<li class="mb-1">2016年1月醫院正式開幕</li>
					<li class="mb-1">2018年5月通過ISO 15189醫學實驗室認證</li>
					<li class="mb-1">2019年8月實驗室主管異動</li>
					<li class="mb-1">2021年3月實驗室主管異動</li>
					<li class="mb-1">2021年6月通過衛生福利部疾病管制署嚴重特殊傳染性肺炎指定檢驗機構</li>
					<li class="mb-1">2021年11月通過ISO 15189醫學實驗室第一次延展認證</li>
					<li class="mb-1">2023年7月啟用自動尿沉渣影像分析儀及檢驗中繼軟體</li>
					<li class="mb-1">2023年8月啟用自動化生化免疫複合機</li>
					<li class="mb-1">2023年8月完成ISO 15189醫學實驗室監督評鑑及檢驗方法異動現場評鑑</li>
					<li class="mb-1">2024年7月進行ISO 15189醫學實驗室第二次延展認證</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="本科介紹｜檢驗科" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}