{% extends "MedicalSupport/Laboratory/labor-clinical-3-base.html" %}

{% load static %}

<!-- === Meta ================================== -->
{% block title %}體腔積液採集（胸水、腹水等）｜檢體採集原則｜{{ block.super }}檢驗科{% endblock %}
{% block og_title %}體腔積液採集（胸水、腹水等）｜檢體採集原則｜{{ block.super }}檢驗科{% endblock %}


<!-- === 子頁細節內容 =========================== -->

{% block guide_content %}

<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
    <h1 class="c-onsale-heading">體腔積液採集（胸水、腹水等）</h1>
	<small class="font-14 text-secondary">含肋膜腔積液(胸水)、腹膜腔積液(腹水)、心包膜腔積液或其他積液</small>
</header>
<div class="l-main-content__body">
	<div class="row">
		<div class="col-12">
			<div class="px-2 pb-2">
				<ol class="custom-numbers mb-0">
					<li class="mb-1 pt-1">採檢程序為醫師執行，可分為針筒 (syringe) 單次採集或放置引流管(catheter) 連續採集。漿液性體液的採檢，通常可以超過30 mL，因此，使用無菌之15cc/50cc尖底無菌管盛裝8-10 mL檢體。</li>
					<li class="mb-1 pt-1">腹膜透析液，通常是由透析室之護理師協助採檢。將引流出之透析廢液藥袋移除後，使用無菌操作程序以針筒抽取檢體8-10 mL，盛裝於無菌之15cc/50cc尖底無菌管。</li>	
					<li class="mb-1 pt-1">
						
						<div class="row">
							<div class="col-12">
								<div class="font-18">
									<strong>體液鏡檢之檢體抗凝劑 (anticoagulant or additive) 添加建議：</strong>
								</div>
								<div>	
									<table class="table table-bordered" style="background-color: transparent;">
										<thead>
											<tr>
												<th scope="col" class="title-bg text-center align-middle beige-word" width="250">檢體類別與檢驗項目</th>
												<th scope="col" class="title-bg text-center align-middle beige-word" width="150">建議之抗凝劑</th>
												<th scope="col" class="title-bg text-center align-middle beige-word" width="100">檢體量</th>
												<th scope="col" class="title-bg text-center align-middle beige-word">說明</th>
											</tr> 
										</thead>
										<tbody>
											<tr>
												<th scope="row" class="align-middle">肋膜腔積液 (胸水) 鏡檢</th>
												<td class="text-center">液態肝素</td>
												<td class="text-center">8-10 mL</td>
												<td>如下圖</td>
											</tr>
											<tr>
												<th scope="row" class="align-middle">腹膜腔積液 (腹水) 鏡檢</th>
												<td class="text-center">液態肝素</td>
												<td class="text-center">8-10 mL</td>
												<td>如下圖</td>
											</tr>
											<tr>
												<th scope="row" class="align-middle">心包膜腔積液鏡檢</th>
												<td class="text-center">液態肝素</td>
												<td class="text-center">8-10 mL</td>
												<td>如下圖</td>
											</tr>
											<tr>
												<th scope="row" class="align-middle">腹膜透析液 (PD) 鏡檢</th>
												<td class="text-center">液態肝素</td>
												<td class="text-center">8-10 mL</td>
												<td>如下圖</td>
											</tr>
											<tr>
												<th colspan="4" class="text-center">腦脊髓液鏡檢</th>
											</tr>
											<tr>
												<th scope="row" class="align-middle">透明水樣狀</th>
												<td class="text-center">不使用</td>
												<td class="text-center">2-3 mL</td>
												<td>收集序列第 3支檢體或澄清後之第 3支</td>
											</tr>
											<tr>
												<th scope="row" class="align-middle">血樣狀</th>
												<td class="text-center">粉劑型 EDTA</td>
												<td class="text-center">2-3 mL</td>
												<td>同 4.3.1之說明。</td>
											</tr>
											<tr>
												<th scope="row" class="align-middle">關節囊液 (滑膜液 )鏡檢</th>
												<td class="text-center">液態肝素 /液態 EDTA</td>
												<td class="text-center">3-5 mL</td>
												<td>採檢用之針筒，可使液態肝素 (最終濃度為 25 I.U /mL) 或液態 EDTA潤 滑後使用。</td>
											</tr>
											<tr>
												<th scope="row" class="align-middle">關節囊液 (滑膜液 )之晶體鑑別</th>
												<td class="text-center">液態肝素 /液態 EDTA</td>
												<td class="text-center">3-5 mL</td>
												<td>可與關節囊液檢體共用</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div>
									<img src="{% get_media_prefix %}lab/lab-img/抗凝劑 Heparin 建議添加比例.png" alt="抗凝劑 Heparin 建議添加比例" class="mx-auto rounded">
									<p class="text-muted text-right">(摘自醫檢學會體液鏡檢指引)</p>
								</div>
								<div>
									<p class="mb-0">A、液態肝素 (sodium heparin) 為國際標準包裝，5,000 I.U./mL。15cc/50cc尖底無菌管。10 mL 針筒。</p>
									<p class="mb-0">B、將10 mL針筒拆封取出並且排空。</p>
									<p class="mb-0">C、將10 mL針筒刺入液態肝素小瓶並吸取適量(&lt; 0.5 mL) 後退出小瓶。</p>
									<p class="mb-0">D、將針筒活塞拉至底部使液態肝素均勻塗佈針筒內壁。
									</p>
									<p class="mb-0">E、再將活塞推至頂部，排除多餘液態肝素。針筒殘餘量約為0.1 mL。
									</p>
									<p class="mb-0">F、混和引流瓶。</p>
									<p class="mb-0">G、再度將針筒活塞拉至底部。</p>
									<p class="mb-0">H、將針筒刺入引流瓶，並將空氣完全注入引流瓶，再吸取10 mL體液。</p>
									<p class="mb-0">I、小心移除針頭，不回套針蓋並將針頭棄置於抗針刺容器。</p>
									<p class="mb-0">J、將10 mL體液與肝素混和物注入15cc/50cc尖底無菌管。輕輕的將蓋緊的尖底管，上下翻轉8-10次，混和均勻後儘速送檢。</p>
									<p class="mb-0">K、針筒殘餘0.1mL的肝素(500 I.U.) 與10 mL體液完全混和，檢體管內此時肝素的最終濃度約為50 I.U./mL。</p>
								</div>
							</div>
						</div>
					</li>
					<li class="mb-1 pt-1">此時，第一支檢體不適用於生化學檢驗，因為檢體已受到血液的汙染，可以改用由採集順序中，開始澄清之檢體管，依序分送去生化學與血清學、微生物學、鏡檢學與細胞學之檢驗。</li>
				</ol> 
			</div>
		</div>
	</div>
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="體腔積液採集（胸水、腹水等）｜檢體採集原則｜檢驗科" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
<style>
	.table-bordered td, .table-bordered th{
		border: 1px solid #ceac92;
	}
</style>
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}