{% extends "MedicalSupport/Laboratory/labor-clinical-base.html" %}

{% load static %}

<!-- === Meta ================================== -->
{% block title %}採檢容器說明｜{{ block.super }}檢驗科{% endblock %}
{% block og_title %}採檢容器說明｜{{ block.super }}檢驗科{% endblock %}


<!-- === 子頁細節內容 =========================== -->

{% block guide_content %}
<!-- ▼▼▼ Content ▼▼▼-->
<header id="content_h">
    <h1 class="c-onsale-heading">採檢容器說明</h1>
</header>
<div class="l-main-content__body">
	<div class="row">
		<div class="col-12">
			<div class="overflow-auto" style="max-height: 600px;">
				<table class="table cell-table">
					<thead>
						<tr>
							<th class="text-center" width="60">序</th>
							<th class="text-center" width="150">品項名稱</th>
							<th class="text-center">適用檢驗</th>
							<th class="text-center" width="300">圖示</th>
						</tr>
					</thead>
					<tbody>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">1</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">紅頭管</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">血清免疫(外送)</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/01 紅頭管.webp" alt="紅頭管" class="img-fluid" width="300" title="紅頭管">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">2</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">綠頭管(5ml)</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">生化檢驗</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/02 綠頭管.webp" alt="綠頭管" class="img-fluid" width="300" title="綠頭管">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">3</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">黃頭管</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">血清免疫(自檢)</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/03 黃頭管.webp" alt="黃頭管" class="img-fluid" width="300" title="黃頭管">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">4</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">紫頭管</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">血液學檢驗、HbA1C</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/04 紫頭管.webp" alt="紫頭管" class="img-fluid" width="300" title="紫頭管">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">5</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">淺藍頭管</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">血凝試驗</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/05 淺藍頭管.webp" alt="淺藍頭管" class="img-fluid" width="300" title="淺藍頭管">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">6</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">灰頭管</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">血糖</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/06 灰頭管.webp" alt="灰頭管" class="img-fluid" width="300" title="灰頭管">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">7</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">黑頭管</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">ESR</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/07 黑頭管.webp" alt="黑頭管" class="img-fluid" width="300" title="黑頭管">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">8</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">酸洗白蓋管(PP管)</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">重金屬分析</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/08 酸洗白蓋管(PP管).webp" alt="酸洗白蓋管(PP管)" class="img-fluid" width="300" title="酸洗白蓋管(PP管)">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">9</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">動脈血氣採集器(A-line)</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">Blood gas</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/09 動脈血氣採集器(A-line).webp" alt="動脈血氣採集器(A-line)" class="img-fluid" width="300" title="動脈血氣採集器(A-line)">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">10</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">黃頭尿管</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">生化尿液 / Urine chemistry</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/10 黃頭尿管.webp" alt="黃頭尿管" class="img-fluid" width="300" title="黃頭尿管">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">11</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">紅頭尿管</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">Urine Routine</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/11 紅頭尿管.webp" alt="紅頭尿管" class="img-fluid" width="300" title="紅頭尿管">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">12</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">無菌火箭筒-15mL</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">體液分析 / 功能性醫學檢驗</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/12 無菌火箭筒-15mL.webp" alt="無菌火箭筒-15mL" class="img-fluid" width="300" title="無菌火箭筒-15mL">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">13</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">無菌火箭筒-50mL</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">TB culture、Acid fast stain</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/13 無菌火箭筒-50mL.webp" alt="無菌火箭筒-50mL" class="img-fluid" width="300" title="無菌火箭筒-50mL">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">14</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">血瓶</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">Blood culture</div>
							</td>
							<td>
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<div class="Other_img">
										<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/14 血瓶 2.webp" alt="血瓶" class="img-fluid mr-1" title="血瓶">
										<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/15 血瓶 1.webp" alt="血瓶" class="img-fluid" title="血瓶">
									</div>
								</div>
							</td>
						</tr>

						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">15</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">血瓶-小兒</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">Blood culture (child)</div>
							</td>
							<td>
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<div class="Other_img">
										<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/16 血瓶-小兒.webp" alt="血瓶-小兒" class="img-fluid" title="血瓶-小兒">
									</div>
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">16</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">Alinity m多重採檢套組</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">
									Chlamydia trachomatis RNA<br/>
									Mycoplasma genitalium RNA<br/>
									Trichomonas vaginalis RNA
								</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/16 Alinity.webp" alt="Alinity m多重採檢套組" class="img-fluid" width="300" title="Alinity m多重採檢套組">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">17</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">CTC循環腫瘤細胞檢測專用管</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">CTC循環腫瘤細胞檢測</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/17 CTC.webp" alt="CTC循環腫瘤細胞檢測專用管" class="img-fluid" width="300" title="CTC循環腫瘤細胞檢測專用管">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">18</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">玻片</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">Aspiration cytology</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/18 玻片.webp" alt="玻片" class="img-fluid" width="300" title="玻片">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">19</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">HPV罐</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">HPV</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/19 HPV罐.webp" alt="HPV罐" class="img-fluid" width="300" title="HPV罐">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序</div>
								<div class="cell_right">20</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">病理盒</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">病理檢驗</div>
							</td>
							<td>
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<div class="Other_img">
										<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/20 病理盒.webp" alt="病理盒" class="img-fluid" title="病理盒">
									</div>
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">21</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">糞便濃縮瓶(大)</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">
									<div>Stool Routine</div>
									<div>Stool parasite</div>
								</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/21 糞便濃縮瓶(大).webp" alt="糞便濃縮瓶(大)" class="img-fluid" width="300" title="糞便濃縮瓶(大)">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">22</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">糞便一般瓶(小)</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">Stool OB</div>
							</td>
							<td>
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<div class="Other_img">
										<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/22 糞便一般瓶(小).webp" alt="糞便一般瓶(小)" class="img-fluid" title="糞便一般瓶(小)">
									</div>
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">23</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">糞便潛血採集棒(FOBT)</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">FOB</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/23 糞便潛血採集棒(FOBT).webp" alt="糞便潛血採集棒(FOBT)" class="img-fluid" width="300" title="糞便潛血採集棒(FOBT)">
								</div>
							</td>
						</tr>
						
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">24</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">厭氧採檢棒(黑色底)</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">
									Pus/wound aerobic<br/>
									anarobic culture<br/>
									Stool culture<br/>
									throat culture
								</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/25 無菌棉棒-嗜氧(黑).webp" alt="無菌棉棒-嗜氧(黑)" class="img-fluid" width="300" title="無菌棉棒-嗜氧(黑)">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">25</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">紅蓋無菌杯</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">Urine culture、Sputum culture</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/25 紅蓋無菌杯.webp" alt="紅蓋無菌杯" class="img-fluid" width="300" title="紅蓋無菌杯">
								</div>
							</td>
						</tr>

						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">26</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">薄片細胞學(病理)專用管(部台中)</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">薄片細胞學</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/26 薄片細胞學(病理)專用管(部台中).webp" alt="薄片細胞學(病理)專用管(部台中)" class="img-fluid" width="300" title="薄片細胞學(病理)專用管(部台中)">
								</div>
							</td>
						</tr>

						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">27</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">薄片細胞學(病理)專用管(立功)</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">薄片細胞學</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/27 薄片細胞學(病理)專用管(立功).webp" alt="薄片細胞學(病理)專用管(立功)" class="img-fluid" width="300" title="薄片細胞學(病理)專用管(立功)">
								</div>
							</td>
						</tr>

						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">28</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">無菌棉棒-流感(一般)</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">呼吸道快篩(流感)</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/28 無菌棉棒-流感(一般).webp" alt="無菌棉棒-流感(一般)" class="img-fluid" width="300" title="無菌棉棒-流感(一般)">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">29</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">無菌棉棒-流感(分子)</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">無菌棉棒-流感(分子) / 無菌棉棒-RSV</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/29 無菌棉棒-流感(分子) RSV.webp" alt="無菌棉棒-流感(分子)" class="img-fluid" width="300" title="無菌棉棒-流感(分子)">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">30</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">無菌棉棒-腺病毒</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">呼吸道快篩(腺病毒)</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/30 無菌棉棒-腺病毒.webp" alt="無菌棉棒-腺病毒" class="img-fluid" width="300" title="無菌棉棒-腺病毒">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">31</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">碳-13呼氣試驗氣體收集袋</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">碳-13呼氣試驗氣體</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/31 碳-13呼氣試驗氣體收集袋.webp" alt="碳-13呼氣試驗氣體收集袋" class="img-fluid" width="300" title="碳-13呼氣試驗氣體收集袋">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">32</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">24小時尿液集尿袋</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">24小時尿液分析</div>
							</td>
							<td>
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<div class="Other_img">
										<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/32 24小時尿液集尿袋.webp" alt="24小時尿液集尿袋" class="img-fluid" title="24小時尿液集尿袋">
									</div>
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">33</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">重金屬專用管-藍頭紫標</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">重金屬分析 / 功能性醫學檢驗</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/33 重金屬專用管-藍頭紫標.webp" alt="重金屬專用管-藍頭紫標" class="img-fluid" width="300" title="重金屬專用管-藍頭紫標">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">34</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">重金屬專用管-藍頭紅標</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">重金屬分析 / 功能性醫學檢驗</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/34 重金屬專用管-藍頭紅標.webp" alt="重金屬專用管-藍頭紅標" class="img-fluid" width="300" title="重金屬專用管-藍頭紅標">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">35</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">PCR 採集專用管</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">PCR 分子檢驗</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/35 PCR採集專用管.webp" alt="PCR採集專用管" class="img-fluid" width="300" title="PCR採集專用管">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">36</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">COVID-19快篩採集管</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">COVID-19快篩</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/36 COVID-19快篩採集管.webp" alt="COVID-19快篩採集管" class="img-fluid" width="300" title="COVID-19快篩採集管">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">37</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">功能性醫學專用管-綠頭管(3ml)</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">功能性醫學檢驗</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/37 功能性醫學專用管-綠頭管.webp" alt="功能性醫學專用管-綠頭管(3ml)" class="img-fluid" width="300" title="功能性醫學專用管-綠頭管(3ml)">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">38</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">功能性醫學專用管-大紅頭管</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">功能性醫學檢驗</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/38 功能性醫學專用管-大紅頭管.webp" alt="功能性醫學專用管-大紅頭管" class="img-fluid" width="300" title="功能性醫學專用管-大紅頭管">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">39</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">功能性醫學專用管-紫頭管</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">功能性醫學檢驗</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/39 功能性醫學專用管-紫頭管.webp" alt="功能性醫學專用管-紫頭管" class="img-fluid" width="300" title="功能性醫學專用管-紫頭管">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">40</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">功能性醫學專用管-大紫頭管</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">功能性醫學檢驗</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/40 功能性醫學專用管-大紫頭管.webp" alt="功能性醫學專用管-大紫頭管" class="img-fluid" width="300" title="功能性醫學專用管-大紫頭管">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">41</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">功能性醫學專用管-灰頭管</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">功能性醫學檢驗</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/41 功能性醫學專用管-灰頭管.webp" alt="功能性醫學專用管-灰頭管" class="img-fluid" width="300" title="功能性醫學專用管-灰頭管">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">42</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">功能性醫學專用管-唾液玻璃管</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">功能性醫學檢驗</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/42 唾液玻璃管.webp" alt="功能性醫學專用管-唾液玻璃管" class="img-fluid" width="300" title="功能性醫學專用管-唾液玻璃管">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">43</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">功能性醫學專用管-玻璃尿管</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">功能性醫學檢驗</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/43 玻璃尿管.webp" alt="功能性醫學專用管-玻璃尿管" class="img-fluid" width="300" title="功能性醫學專用管-玻璃尿管">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">44</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">功能性醫學專用管-避光尿管</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">功能性醫學檢驗</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/44 功能性醫學專用管-避光尿管.webp" alt="功能性醫學專用管-避光尿管" class="img-fluid" width="300" title="功能性醫學專用管-避光尿管">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">45</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">功能性醫學專用管-避光尿管(1066_雌激素代謝評估專用)</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">功能性醫學檢驗</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/45 避光尿管 (1066_雌激素代謝評估專用).webp" alt="功能性醫學專用管-避光尿管(1066_雌激素代謝評估專用)" class="img-fluid" width="300" title="功能性醫學專用管-避光尿管(1066_雌激素代謝評估專用)">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">46</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">功能性醫學專用管-避光尿管(1440_蝶呤代謝分析專用)</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">功能性醫學檢驗</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/46 避光尿管 (1440_蝶呤代謝分析專用).webp" alt="功能性醫學專用管-避光尿管(1440_蝶呤代謝分析專用)" class="img-fluid" width="300" title="功能性醫學專用管-避光尿管(1440_蝶呤代謝分析專用)">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">47</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">功能性醫學專用管-避光尿管(1348_隱吡咯分析專用)</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">功能性醫學檢驗</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/47 功能性醫學專用管-避光尿管 (1348_隱吡咯分析專用).webp" alt="功能性醫學專用管-避光尿管(1348_隱吡咯分析專用)" class="img-fluid" width="300" title="功能性醫學專用管-避光尿管(1348_隱吡咯分析專用)">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">48</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">功能性醫學專用管-特殊尿管<br/>(內有試紙)<br/>(1170_神經內分泌評估專用)</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">功能性醫學檢驗</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/48 特殊尿管(1170_神經內分泌評估專用).webp" alt="功能性醫學專用管-特殊尿管(內有試紙)(1170_神經內分泌評估專用)" class="img-fluid" width="300" title="功能性醫學專用管-特殊尿管(內有試紙)(1170_神經內分泌評估專用)">
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">49</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">功能性醫學專用管-一般糞便盒</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">功能性醫學檢驗</div>
							</td>
							<td>
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<div class="Other_img">
										<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/49 一般糞便盒.webp" alt="功能性醫學專用管-一般糞便盒" class="img-fluid" title="功能性醫學專用管-一般糞便盒">
									</div>
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">50</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">功能性醫學專用管-特殊糞便盒 (0886_腸道菌相功能分析專用)</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">功能性醫學檢驗</div>
							</td>
							<td>
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<div class="Other_img">
										<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/50 特殊糞便盒 (0886_腸道菌相功能分析專用).webp" alt="功能性醫學專用管-特殊糞便盒(0886_腸道菌相功能分析專用)" class="img-fluid" title="功能性醫學專用管-特殊糞便盒(0886_腸道菌相功能分析專用)">
									</div>
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">51</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">功能性醫學專用管-特殊糞便盒 (0869/0870/0883全套腸胃道系統綜合分析專用)</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">功能性醫學檢驗</div>
							</td>
							<td>
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<div class="Other_img">
										<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/51 特殊糞便盒 (0869 0870 0883全套腸胃道系統綜合分析專用).webp" alt="功能性醫學專用管-特殊糞便盒(0869/0870/0883全套腸胃道系統綜合分析專用)" class="img-fluid" title="功能性醫學專用管-特殊糞便盒(0869/0870/0883全套腸胃道系統綜合分析專用)">
									</div>
								</div>
							</td>
						</tr>
						<tr class="cell_row">
							<td class="text-center">
								<div class="cell_left">序號</div>
								<div class="cell_right">52</div>
							</td>
							<td class="text-center">
								<div class="cell_left">品項名稱</div>
								<div class="cell_right">功能性醫學專用管-口腔刷棒</div>
							</td>
							<td class="text-left">
								<div class="cell_left">適用檢驗</div>
								<div class="cell_right">功能性醫學檢驗</div>
							</td>
							<td class="td_img">
								<div class="cell_left">圖示</div>
								<div class="cell_right">
									<img src="{% get_media_prefix %}lab/lab-img/Pick_BOX/52 口腔刷棒.webp" alt="功能性醫學專用管-口腔刷棒" class="img-fluid" width="300" title="功能性醫學專用管-口腔刷棒">
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>	
</div>
<!-- ▲▲▲ Content ▲▲▲-->
{% endblock %}


<!-- === Schema JSON-LD ======================== -->
{% block guide_seo %}
    {% include 'schema_article.html' with headline="採檢容器說明則｜檢驗科" %}
{% endblock %}


<!-- === Sub Extra CSS ========================= -->
{% block sub_extra_css %}
{% endblock %}


<!-- === Sub Extra JS ========================== -->
{% block sub_extra_js %}
{% endblock %}