{% extends "MedicalSupport/Laboratory/labor-clinical-3-base.html" %}
{% load static %}

{% block title %}Cold agglutinin、Cryoglobulin、IFE for Cryoglobulin 檢體採集｜檢驗科｜長安醫院{% endblock %}
{% block og_title %}Cold agglutinin、Cryoglobulin、IFE for Cryoglobulin 檢體採集｜檢驗科｜長安醫院{% endblock %}

{% block guide_content %}
<!-- 標題 -->

									<section id="content_h">

										<div class="onsale_heading">Cold agglutinin、Cryoglobulin、IFE for Cryoglobulin 檢體採集</div>

										<hr class="my-2">

									</section>

									<!-- 細節 -->

									<section id="content_body">

										<div class="row">	                        

											<div class="col-12">

												<div class="select_3"></div>

											</div>

	

											<div class="col-12">

												<div class="px-2 pb-2">

													<ol class="custom-numbers mb-0">

														<li class="mb-1 pt-1">採集前先通知檢驗科人員。</li>

														<li class="mb-1 pt-1">檢體採集時，於旁準備一杯溫水(37-41℃，水溫不可低於37℃)，採集後之血液立即置於溫水中，以人工方式傳送至檢驗科。</li>	

													</ol> 

												</div>

											</div>

										</div>

									</section>

								
{% endblock %}

<!-- ▼▼▼ SEO/GEO ▼▼▼-->
{% block guide_seo %}
{% include 'schema_article.html' with headline="Cold agglutinin、Cryoglobulin、IFE for Cryoglobulin 檢體採集｜檢驗科" %}
{% endblock %}
<!-- ▲▲▲ SEO/GEO ▲▲▲-->
