{% extends "MedicalSupport/Laboratory/labor-Genetic-base.html" %}
{% load static %}

{% block title %}基因檢測檢體採集及送檢注意事項｜檢驗科｜長安醫院{% endblock %}
{% block og_title %}基因檢測檢體採集及送檢注意事項｜檢驗科｜長安醫院{% endblock %}

{% block guide_content %}
<!-- 標題 -->

									<section id="content_h">

										<div class="onsale_heading">基因檢測檢體採集及送檢注意事項</div>

										<hr class="my-2">

									</section>

									<!-- 細節 -->

									<section id="content_body">

										<div class="row">

											<div class="col-12">

												<article>

													<div class="content d-flex" style="height: 57.5vh;">	

														<div class="row align-self-center w-100 mx-0">             

															<div class="col-12 text-center">

																<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-cone-striped og-word" viewbox="0 0 16 16">

																	<path d="m9.97 4.88.953 3.811C10.159 8.878 9.14 9 8 9c-1.14 0-2.158-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12zm-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4c.618 0 1.2-.036 1.725-.098zm4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257 2.391.598z"/>

																</svg>

															</div>

															<div class="col-12 text-center mt-2 cofe-word">

																<h1 style="font-size: 30px;">

																	<div class="preloader"><b>網頁建置中</b>

																		<div class="circ1"></div>

																		<div class="circ2"></div>

																		<div class="circ3"></div>

																	</div>

																	<style>

																		.preloader > div {

																			background-color: #72c2a1;

																			height: 8px;

																			width: 8px;

																			border-radius: 50%;

																			display: inline-block;

																			animation: stretchdelay 0.7s infinite ease-in-out;

																		}

																		@keyframes stretchdelay {

																			0%, 40%, 100% { 

																				transform: translateY(0px);

																			}

																			20% {

																				transform: translateY(-10px);

																			}

																		}

																		.preloader .circ1 {

																			animation-delay: 0;

																		}

																		.preloader .circ2 {

																			animation-delay: 0.1s;

																		}

																		.preloader .circ3 {

																			animation-delay: 0.2s;

																		}

																	</style>

																</h1>

															</div>

															<div class="col-12 text-center mb-3 text-secondary font-20">

																很抱歉您所造訪的頁面正在建置中，功能尚未開放！

															</div>       

														</div> 

													</div>

												</article>

												<!-- <table class="table table-striped table-bordered cell-table">

													<thead>

														<tr>

															<th scope="col" class="title-bg text-center">院內碼</th>

															<th scope="col" class="title-bg text-center">中文名稱</th>

															<th scope="col" class="title-bg text-center">檢體類別</th>

															<th scope="col" class="title-bg text-center">檢體量</th>

															<th scope="col" class="title-bg text-center">容器</th>

															<th scope="col" class="title-bg text-center">備註</th>

														</tr>

													</thead>

													<tbody>

														<tr class="cell_row">

															<td scope="row" class="text-center">

																<div class="cell_left">院內碼</div>

																<div class="cell_right">LGE01</div>

															</td>

															<td class="text-left">

																<div class="cell_left">中文名稱</div>

																<div class="cell_right">Fundation One CDx癌症基因檢測(優惠)</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體類別</div>

																<div class="cell_right">病理借片</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體量</div>

																<div class="cell_right">&nbsp;</div>

															</td>

															<td class="text-center">

																<div class="cell_left">容器</div>

																<div class="cell_right">&nbsp;</div>

															</td>

															<td class="text-center">

																<div class="cell_left">備註</div>

																<div class="cell_right">病人同意書</div>

															</td>

														</tr>

														<tr class="cell_row">

															<td scope="row" class="text-center">

																<div class="cell_left">院內碼</div>

																<div class="cell_right">LGE02</div>

															</td>

															<td class="text-left">

																<div class="cell_left">中文名稱</div>

																<div class="cell_right">Fundation One Liquid癌症基因檢測(優惠)</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體類別</div>

																<div class="cell_right">血液</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體量</div>

																<div class="cell_right">*2(滿管)</div>

															</td>

															<td class="text-center">

																<div class="cell_left">容器</div>

																<div class="cell_right">白頭管</div>

															</td>

															<td class="text-center">

																<div class="cell_left">備註</div>

																<div class="cell_right">室溫</div>

															</td>

														</tr>

														<tr class="cell_row">

															<td scope="row" class="text-center">

																<div class="cell_left">院內碼</div>

																<div class="cell_right">LGE03</div>

															</td>

															<td class="text-left">

																<div class="cell_left">中文名稱</div>

																<div class="cell_right">瑞可盈乳癌復發風險評估試驗</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體類別</div>

																<div class="cell_right">病理借片</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體量</div>

																<div class="cell_right">&nbsp;</div>

															</td>

															<td class="text-center">

																<div class="cell_left">容器</div>

																<div class="cell_right">&nbsp;</div>

															</td>

															<td class="text-center">

																<div class="cell_left">備註</div>

																<div class="cell_right">病人同意書</div>

															</td>

														</tr>

														<tr class="cell_row">

															<td scope="row" class="text-center">

																<div class="cell_left">院內碼</div>

																<div class="cell_right">LGE04</div>

															</td>

															<td class="text-left">

																<div class="cell_left">中文名稱</div>

																<div class="cell_right">慧智癌風險-BRCA1/2基因檢測</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體類別</div>

																<div class="cell_right">血液</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體量</div>

																<div class="cell_right">2管</div>

															</td>

															<td class="text-center">

																<div class="cell_left">容器</div>

																<div class="cell_right">慧智紫管</div>

															</td>

															<td class="text-center">

																<div class="cell_left">備註</div>

																<div class="cell_right">冷藏</div>

															</td>

														</tr>

														<tr class="cell_row">

															<td scope="row" class="text-center">

																<div class="cell_left">院內碼</div>

																<div class="cell_right">LGE05</div>

															</td>

															<td class="text-left">

																<div class="cell_left">中文名稱</div>

																<div class="cell_right">慧智癌風險-婦癌基因檢測</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體類別</div>

																<div class="cell_right">血液</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體量</div>

																<div class="cell_right">2管</div>

															</td>

															<td class="text-center">

																<div class="cell_left">容器</div>

																<div class="cell_right">慧智紫管</div>

															</td>

															<td class="text-center">

																<div class="cell_left">備註</div>

																<div class="cell_right">冷藏</div>

															</td>

														</tr>

														<tr class="cell_row">

															<td scope="row" class="text-center">

																<div class="cell_left">院內碼</div>

																<div class="cell_right">LGE06</div>

															</td>

															<td class="text-left">

																<div class="cell_left">中文名稱</div>

																<div class="cell_right">慧智癌風險-大腸癌基因檢測</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體類別</div>

																<div class="cell_right">血液</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體量</div>

																<div class="cell_right">2管</div>

															</td>

															<td class="text-center">

																<div class="cell_left">容器</div>

																<div class="cell_right">慧智紫管</div>

															</td>

															<td class="text-center">

																<div class="cell_left">備註</div>

																<div class="cell_right">冷藏</div>

															</td>

														</tr>

														<tr class="cell_row">

															<td scope="row" class="text-center">

																<div class="cell_left">院內碼</div>

																<div class="cell_right">LGE07</div>

															</td>

															<td class="text-left">

																<div class="cell_left">中文名稱</div>

																<div class="cell_right">慧智癌風險基因檢測v1.0</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體類別</div>

																<div class="cell_right">血液</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體量</div>

																<div class="cell_right">2管</div>

															</td>

															<td class="text-center">

																<div class="cell_left">容器</div>

																<div class="cell_right">慧智紫管</div>

															</td>

															<td class="text-center">

																<div class="cell_left">備註</div>

																<div class="cell_right">冷藏</div>

															</td>

														</tr>

														<tr class="cell_row">

															<td scope="row" class="text-center">

																<div class="cell_left">院內碼</div>

																<div class="cell_right">LGE08</div>

															</td>

															<td class="text-left">

																<div class="cell_left">中文名稱</div>

																<div class="cell_right">慧智癌風險基因檢測v2.0</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體類別</div>

																<div class="cell_right">血液</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體量</div>

																<div class="cell_right">2管</div>

															</td>

															<td class="text-center">

																<div class="cell_left">容器</div>

																<div class="cell_right">慧智紫管</div>

															</td>

															<td class="text-center">

																<div class="cell_left">備註</div>

																<div class="cell_right">冷藏</div>

															</td>

														</tr>

														<tr class="cell_row">

															<td scope="row" class="text-center">

																<div class="cell_left">院內碼</div>

																<div class="cell_right">LGE09</div>

															</td>

															<td class="text-left">

																<div class="cell_left">中文名稱</div>

																<div class="cell_right">Endopredict</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體類別</div>

																<div class="cell_right">病理借片</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體量</div>

																<div class="cell_right">&nbsp;</div>

															</td>

															<td class="text-center">

																<div class="cell_left">容器</div>

																<div class="cell_right">&nbsp;</div>

															</td>

															<td class="text-center">

																<div class="cell_left">備註</div>

																<div class="cell_right">病人同意書</div>

															</td>

														</tr>

														<tr class="cell_row">

															<td scope="row" class="text-center">

																<div class="cell_left">院內碼</div>

																<div class="cell_right">LGE10</div>

															</td>

															<td class="text-left">

																<div class="cell_left">中文名稱</div>

																<div class="cell_right">Oncotype</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體類別</div>

																<div class="cell_right">病理借片</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體量</div>

																<div class="cell_right">&nbsp;</div>

															</td>

															<td class="text-center">

																<div class="cell_left">容器</div>

																<div class="cell_right">&nbsp;</div>

															</td>

															<td class="text-center">

																<div class="cell_left">備註</div>

																<div class="cell_right">病人同意書</div>

															</td>

														</tr>

														<tr class="cell_row">

															<td scope="row" class="text-center">

																<div class="cell_left">院內碼</div>

																<div class="cell_right">LGE11</div>

															</td>

															<td class="text-left">

																<div class="cell_left">中文名稱</div>

																<div class="cell_right">慧智癌監控V2.2(監控復發轉移)</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體類別</div>

																<div class="cell_right">血液</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體量</div>

																<div class="cell_right">*2(滿管)</div>

															</td>

															<td class="text-center">

																<div class="cell_left">容器</div>

																<div class="cell_right">白頭管</div>

															</td>

															<td class="text-center">

																<div class="cell_left">備註</div>

																<div class="cell_right">室溫</div>

															</td>

														</tr>

														<tr class="cell_row">

															<td scope="row" class="text-center">

																<div class="cell_left">院內碼</div>

																<div class="cell_right">LGE12</div>

															</td>

															<td class="text-left">

																<div class="cell_left">中文名稱</div>

																<div class="cell_right">慧智癌監控V2.1(標靶藥物)</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體類別</div>

																<div class="cell_right">血液</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體量</div>

																<div class="cell_right">*2(滿管)</div>

															</td>

															<td class="text-center">

																<div class="cell_left">容器</div>

																<div class="cell_right">白頭管</div>

															</td>

															<td class="text-center">

																<div class="cell_left">備註</div>

																<div class="cell_right">室溫</div>

															</td>

														</tr>

														<tr class="cell_row">

															<td scope="row" class="text-center">

																<div class="cell_left">院內碼</div>

																<div class="cell_right">LGE13</div>

															</td>

															<td class="text-left">

																<div class="cell_left">中文名稱</div>

																<div class="cell_right">慧智癌監控V1.0(乳癌/肺癌/大腸癌)</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體類別</div>

																<div class="cell_right">血液</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體量</div>

																<div class="cell_right">*2(滿管)</div>

															</td>

															<td class="text-center">

																<div class="cell_left">容器</div>

																<div class="cell_right">白頭管</div>

															</td>

															<td class="text-center">

																<div class="cell_left">備註</div>

																<div class="cell_right">室溫</div>

															</td>

														</tr>

														<tr class="cell_row">

															<td scope="row" class="text-center">

																<div class="cell_left">院內碼</div>

																<div class="cell_right">LGE14</div>

															</td>

															<td class="text-left">

																<div class="cell_left">中文名稱</div>

																<div class="cell_right">慧智癌追蹤</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體類別</div>

																<div class="cell_right">血液</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體量</div>

																<div class="cell_right">*2(滿管)</div>

															</td>

															<td class="text-center">

																<div class="cell_left">容器</div>

																<div class="cell_right">白頭管</div>

															</td>

															<td class="text-center">

																<div class="cell_left">備註</div>

																<div class="cell_right">室溫</div>

															</td>

														</tr>

														<tr class="cell_row">

															<td scope="row" class="text-center">

																<div class="cell_left">院內碼</div>

																<div class="cell_right">LGE15</div>

															</td>

															<td class="text-left">

																<div class="cell_left">中文名稱</div>

																<div class="cell_right">Fundation One CDx癌症基因檢測</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體類別</div>

																<div class="cell_right">病理借片</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體量</div>

																<div class="cell_right">需確認已批價</div>

															</td>

															<td class="text-center">

																<div class="cell_left">容器</div>

																<div class="cell_right">需確認已批價</div>

															</td>

															<td class="text-center">

																<div class="cell_left">備註</div>

																<div class="cell_right">&nbsp;</div>

															</td>

														</tr>

														<tr class="cell_row">

															<td scope="row" class="text-center">

																<div class="cell_left">院內碼</div>

																<div class="cell_right">LGE16</div>

															</td>

															<td class="text-left">

																<div class="cell_left">中文名稱</div>

																<div class="cell_right">Fundation One Liquid癌症基因檢測</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體類別</div>

																<div class="cell_right">血液</div>

															</td>

															<td class="text-center">

																<div class="cell_left">檢體量</div>

																<div class="cell_right">*2(滿管)</div>

															</td>

															<td class="text-center">

																<div class="cell_left">容器</div>

																<div class="cell_right">白頭管</div>

															</td>

															<td class="text-center">

																<div class="cell_left">備註</div>

																<div class="cell_right">室溫</div>

															</td>

														</tr>

													</tbody>

												</table> -->

											</div>

										</div>

									</section>

								
{% endblock %}

<!-- ▼▼▼ SEO/GEO ▼▼▼-->
{% block guide_seo %}
{% include 'schema_article.html' with headline="基因檢測檢體採集及送檢注意事項｜檢驗科" %}
{% endblock %}
<!-- ▲▲▲ SEO/GEO ▲▲▲-->
