{% extends "MedicalSupport/Laboratory/labor-base.html" %}
{% load static %}

{% block title %}最新公告｜檢驗科｜長安醫院{% endblock %}
{% block og_title %}最新公告｜檢驗科｜長安醫院{% endblock %}

{% block guide_content %}
<div class="content">

								<!-- 麵包屑 -->

								

								<!-- 內容區 -->

								<div class="p-3 bg-white rounded panel-shadow">

									<!-- 標題 -->

									<section id="content_h">

										<div class="onsale_heading">最新公告</div>

										<hr class="my-2">

									</section>

									<!-- 細節 -->

									<section id="content_body">

										<div class="row">																			

											<div class="col-12">	

												

												<span class="content_labor_news"></span>

	

												<!-- <div class="iframe-container">

													<iframe class="border-0" id="myiframe" name="myiframe" src="http://web.everanhospital.com.tw/MedicalSupport/Laboratory/bulletinboard.asp" scrolling="yes" allowfullscreen="true"></iframe>

												</div> -->

											</div>

										</div>						

									</section>

								</div>

								<!-- 內容區 End -->

							
{% endblock %}

<!-- ▼▼▼ SEO/GEO ▼▼▼-->
{% block guide_seo %}
{% include 'schema_article.html' with headline="最新公告｜檢驗科" %}
{% endblock %}
<!-- ▲▲▲ SEO/GEO ▲▲▲-->
